<template>
<div>
    <Header></Header>

    <div class="main-panel">
        <div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Add Employee</h4>
						<ul class="breadcrumbs">
							<li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Add Employee</a>
							</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
                                <form id="doRegister" autocomplete="off" @submit.prevent="adminRegister" v-if="!success">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6 col-lg-6">
											<div class="form-group">
												<label for="name">Name</label>
												<input type="text" class="form-control" id="name" v-model="name" placeholder="Enter Name" required>
											</div>

											<div class="form-group">
												<label for="email">Email Address</label>
												<input type="email" class="form-control" id="email" v-model="email" placeholder="Enter Email" required>
											</div>

											<div class="form-group">
												<label for="password">Password</label>
												<input type="password" class="form-control" v-model="password" id="password" placeholder="Password" required>
											</div>

                                            <div class="form-group">
												<label for="company-name">Company Name</label>
												<input type="text" class="form-control" v-model="company_name" id="company-name" placeholder="Enter Company Name">
											</div>

                                            <div class="form-group">
												<label for="phone">Phone</label>
												<input type="text" class="form-control" id="phone" v-model="phone" placeholder="Enter Phone">
											</div>

                                            <div class="form-group" v-if="role_id == 1">
												<label for="clients">Client Name</label>
                                                <select class='form-control' v-model='client_id' @change='clientList()' required>
                                                <option value='0' >Select State</option>
                                                <option v-for='client in clients' :value='client._id'>{{ client.name }}</option>
                                                </select>
											</div>

											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" value="">
													<span class="form-check-sign">Agree with terms and conditions</span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="card-action">
									<button type="submit" class="btn btn-success">Submit</button>
									<!-- <button class="btn btn-danger">Cancel</button> -->
								</div>
                                </form>
							</div>
						</div>
					</div>
				</div>
        </div>
    </div>
</div>
</template>

<script>
import Header from '../Admin/static/Header';
import axios from 'axios';

export default {

        components: {
        Header
        },

        created() {
            let app = this;

            if(!localStorage.getItem('token')){
                app.$router.push('/login');
            };

            var role_id = localStorage.getItem('role_id');
            this.clientList();
        },

        mounted() {
        this.clientList()
        },

        data(){
            return {
                name: '',
                email: '',
                password: '',
                company_name: '',
                phone: '',
                client_id: '',
                role_id: localStorage.getItem('role_id'),
                clients: '',
                error: false,
                errors: {},
                success: false
            };
        },

        methods: {
            adminRegister(event){
                var app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                event.preventDefault();
                axios({
                    data: {
                        name: app.name,
                        email: app.email,
                        password: app.password,
                        company_name: app.company_name,
                        phone: app.phone,
                        client_id: app.client_id,
                    },

                    method: 'post',
                    url: axios.defaults.baseURL+'admin/admin/register/employee',
                    headers: headers,
                })
                .then(function(data){
                    app.$router.push('/admin-dashboard');
                })
                .catch(function (response) {
                    //handle error
                    iziToast.show({
                        title: "Error",
                        message:  "Invalid Credentials",
                        backgroundColor: '#f54242',
                        color: '#FFFFFF',
                        progressBar: true,
                        icon: 'fa fa-exclamation-circle',
                        iconColor: '#FFFFFF',
                        position: 'topCenter',
                        titleColor: '#FFFFFF',
                        messageColor: '#FFFFFF',
                        showIco:true,
                    });
                });
            },

            resetForm() {
                //Iterate through each object field, key is name of the object field`
                Object.assign(this.$data, this.$options.data.call(this));
            },

            clientList() {
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                };

                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/users/dropdown',
                    headers: headers
                })
                .then(function (response) {
                app.clients = response.data;
                })
                .catch(function(error) {
                    console.log('an error occured ' + error);
                });
            }
        }
}
</script>
