<template>
    <div>
    <Header></Header>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import Header from '../Admin/static/Header';
    import axios from 'axios';
    export default {

        created() {
            let app=this;

            if(!localStorage.getItem('token')){
                app.$router.push('/login');
            }
        },

        components: {
            Header
        },
        
        data(){
            return {
                error: false,
                success: false,
            }
        }
    }
</script>