<template>
    <div id="Login">

        <div id="LoginForm" class='contentDiv'>
            <div class="contentDivChild">
                <div class="d-flex justify-content-center">
                    <div class="page-text-top">
                        <p> Welcome Back! </p>
                        <p> Sign in using your credentials and start using Seller Optics </p>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <form id="doLogin" class="form-group col-md-4 col-sm-8" autocomplete="off" @submit.prevent="login" v-if="!success">
                        <div class="login-form-inner-div">
                        <div class="form-validation-message" style="display:none;">
                        </div>
                        <div class="inner-addon left-addon">
                            <span class='fa mail_ico'></span>
                            <input type="text" placeholder="Email" name="usr_email" v-model="email" class="form-control custom-login-input-field"  />
                        </div>
                        <div class="custom-pad-div"></div>
                        <div class="inner-addon left-addon">
                            <span class='fa pwd_ico'></span>
                            <input type="password" placeholder="Password" name="usr_pwd" v-model="password" class="form-control custom-login-input-field" />
                        </div>
                        
                        <a class='forgotlink' href="#">
                        <label class="forgetPwd">
                            Forgot Password?
                        </label>
                        </a>
                        
                        <button type="submit"
                                class="mui-btn mui-btn--raised custom-login-btn"
                                style="width:100%;">
                            SIGN IN
                        </button>
                </div>
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-group col-md-4 col-sm-8">
                    <div style="display: flex; margin:13.5px 0;">
                        <div class="horizontal-line-OR"></div>
                        <span id="OR">OR</span>
                        <div class="horizontal-line-OR"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div id="dont-have-account" class="form-group col-md-4 col-sm-8">
                    Don't have an account?
                    <span>
                        <router-link to="/register">Create New</router-link>
                              </span>
                </div>
            </div>
            <div style="min-height:90px;"></div>
        </div>
    </div>

    </div>
</template>

<script>

    import axios from 'axios';

    export default {

        data(){
            return {
                email: '',
                password: '',
                error: false,
                success: false,
            }
        },
        
        methods: {
            login(){
                let app = this;

                event.preventDefault();
                axios({
                    data: {
                            email: app.email,
                            password: app.password
                            },
                    method: 'post',
                    url: axios.defaults.baseURL+'auth/login',
                    config: { headers: {'Content-Type': 'multipart/form-data' }}
                })
                .then(function (data) {
                    //handle success
                    localStorage.setItem('token', data.data.token);
                    localStorage.setItem('name',data.data.user.name);
                    localStorage.setItem('email',data.data.user.email);
                    localStorage.setItem('role_id',data.data.user.role_id);
                    localStorage.setItem('company_name',data.data.user.company_name);
                    localStorage.setItem('phone',data.data.user.phone);
                    localStorage.setItem('client_id',data.data.user.client_id);
                    localStorage.setItem('ip',data.data.ip);

                    if(data.data.user.is_signup_complete===true){

                        app.$router.push('/dashboard');
                    } 
                    else{
                        app.$router.push('/login');
                    }
                })
                .catch(function (response) {
                    //handle error
                    iziToast.show({
                        title: "Error",
                        message:  "Invalid Credentials",
                        backgroundColor: '#f54242',
                        color: '#FFFFFF',
                        progressBar: true,
                        icon: 'fa fa-exclamation-circle',
                        iconColor: '#FFFFFF',
                        position: 'topCenter',
                        titleColor: '#FFFFFF',
                        messageColor: '#FFFFFF',
                        showIco:true,
                    });
                });
            },
        }
    }
</script>
