<template>
    <div>
        <Header></Header>
		
        <div class="main-panel">
            <div class="content">
				<div class="page-inner">
                <div class="page-header">
						<h4 class="page-title">Users</h4>
						<ul class="breadcrumbs">
							<li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Users</a>
							</li>
						</ul>
					</div>

					
						<loading :active.sync="isLoading" :color="color" :is-full-page="fullPage"></loading>
                        <div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Add Row</h4>
									</div>
								</div>
								<div class="card-body">
									<!-- Modal Reset Password -->
									<div class="modal fade addRowModal" :class="{ in: modalShown }" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
														<span class="fw-mediumbold">
														Reset Password</span> 
													</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<form autocomplete="off" @submit.prevent="resetPassword" v-if="!success">
												<div class="modal-body">
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group form-group-default">
																	<input id="userId" type="hidden" name="userId" class="form-control" v-model="userId">
																	<label>Password</label>
																	<input id="password" type="password" v-model="password" class="form-control" placeholder="Reset Password" required>
																</div>
															</div>
														</div>
												</div>
												<div class="modal-footer no-bd">
													<button type="submit" id="addRowButton" class="btn btn-primary">Update</button>
													<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
												</div>
												</form>
											</div>
										</div>
									</div>

									<!-- Modal Delete User -->
									<div class="modal fade deleteModal" :class="{ in: modalShown }" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
														<span class="fw-mediumbold">
														Confirmation</span> 
													</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<form autocomplete="off" @submit.prevent="deleteUser" v-if="!success">
												<div class="modal-body" style="display: none;">
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group form-group-default">
																	<input id="userId" type="hidden" name="userId" class="form-control" v-model="deleteId">
																</div>
															</div>
														</div>
												</div>
												<div class="modal-footer no-bd">
													<button type="submit" id="deleteButton" class="btn btn-primary">Delete</button>
													<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
												</div>
												</form>
											</div>
										</div>
									</div>

									<div class="table-responsive">
										<table id="add-row" class="display table table-striped table-hover" >
											<thead>
												<tr>
													<th>Name</th>
													<th>Email</th>
													<th>Role</th>
													<th style="width: 10%">Action</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th>Name</th>
													<th>Email</th>
													<th>Role</th>
													<th>Action</th>
												</tr>
											</tfoot>
											<tbody>
												<tr v-for="user in users.data">
													<td>{{user.name}}</td>
													<td>{{user.email}}</td>
													<td>{{user.role_id}}</td>
													<td>
														<div class="form-button-action">
															<button v-if="user.is_blocked == false || user.is_blocked == null" type="button" v-on:click="block(user._id)" data-toggle="tooltip" title="Block" class="btn btn-link btn-danger btn-lg" data-original-title="Block">
																<i class="fa fa-ban"></i>
															</button>
															<button v-if="user.is_blocked == true || user.is_blocked == null" type="button" v-on:click="unblock(user._id)" data-toggle="tooltip" title="Unblock" class="btn btn-link btn-primary" data-original-title="Unblock">
																<i class="fa fa-unlock"></i>
															</button>
															<button class="btn btn-link btn-primary mybtn" id="addRowModal" data-toggle="modal" v-on:click="jq(user._id)" :data-id="user._id" data-target="#addRowModal" title="Reset Password">
																<i class="fa fa-key" aria-hidden="true"></i>
															</button>
															<button type="button" data-toggle="modal" title="Delete" :data-id="user._id" v-on:click="jqDel(user._id)" id="deleteModal" data-target="#deleteModal" class="btn btn-link btn-danger btn-lg" data-original-title="Delete">
																<i class="fa fa-trash" aria-hidden="true"></i>
															</button>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-5">
									</div>
									<div class="col-sm-12 col-md-7">
										<div class="dataTables_paginate paging_simple_numbers" id="add-row_paginate">
											<pagination :data="users" @pagination-change-page="getResults"></pagination>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
        	</div>
        </div>
    </div>
</template>

<script>

	import Header from '../Admin/static/Header';
	import Loading from 'vue-loading-overlay';
	import 'vue-loading-overlay/dist/vue-loading.css';
	import JQuery from 'jquery';
	let $ = JQuery;
    import axios from 'axios';
    export default {

		users: {},
		
        created() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/login');
			}
			else{
				app.getUsers();
			}
		},

		mounted() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/login');
			}
			else{
				app.getResults();
			}
		},

        components: {
			Header,
			Loading
		},
		
        data() {
            return {
                users: {},

				next_page: '',
				userId: '',
				local_id: '',
				password: '',
				deleteId: '',

				color: "#1269db",
				isLoading: true,
				fullPage: true,
				modalShown: false,
                error: false,
                success: false,
            }
        },

        methods: {

			getResults(page = 1) {
				let app = this;
				var headers = {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				axios({
					method: 'get',
					url: axios.defaults.baseURL+'admin/users?page='+page,
					headers: headers
				})
				.then(function (response) {
					app.users = response.data;                        
				})
			},

            getUsers(){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				
                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/users',
                    headers: headers
				})
				.then(function (response) {
					app.users = response.data;                        
					app.isLoading = false;
				})
			},

			jq: function(id) {

				localStorage.setItem('user_id', id);
				var local_id = localStorage.getItem('user_id');
				this.userId = local_id;
				this.password = '';
				this.modalShown = false;
			},
			
			resetPassword(event){
				let app = this;
				app.isLoading = true;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                event.preventDefault();
                axios({
                    data: {
                        id: app.userId,
                        password: app.password,
                    },
                    method: 'post',
                    url: axios.defaults.baseURL+'admin/reset/password',
                    headers: headers,
				})
				.then(function(data){
					try {
						app.modalShown = true;
						$("div.modal-backdrop").remove();
							$("body").removeClass('modal-open');
						event.target.reset();
						app.getUsers();
						app.isLoading = false;
					} 
					catch (error) {
						console.log(error);
					}
				})
				.catch(function (response) {
					console.log(response);	
				});
            },

			block: function(id){
				let app = this;
				app.isLoading = true;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/users/block/'+id,
                    headers: headers
				})
				.then(function (response) {
					app.getUsers();
					app.isLoading = false;                        
				})
			},

			unblock: function(id){
				let app = this;
				app.isLoading = true;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/users/unblock/'+id,
                    headers: headers
				})
				.then(function (response) {
					app.getUsers();
					app.isLoading = false;
				})
			},

			jqDel: function(id) {
				localStorage.setItem('delete_id', id);
				var local_id = localStorage.getItem('delete_id');
				this.deleteId = local_id;
				this.modalShown = false;
			},

			deleteUser(event){
				let app = this;
				app.isLoading = true;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                event.preventDefault();
                axios({
                    data: {
                        id: app.deleteId,
                    },
                    method: 'post',
                    url: axios.defaults.baseURL+'admin/users/delete',
                    headers: headers,
				})
				.then(function(data){
					// app.modalShown = false;
					try {
						app.modalShown = true;
						$("div.modal-backdrop").remove();
						app.getUsers();
						app.isLoading = false;
						
					} catch (error) {
						console.log(error);
					}

				})
				.catch(function (response) {
					console.log(response);
				});
			},
		}
    }
</script>