<template>
    <div id="footer">
        <footer>
            <div class="container-fluid">
                <div class="footerBox">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2 col-xs-12">
                    <div class="iteamsBox">
                        <div class="col-md-6 col-sm-4 col-xs-12">
                        <div class="questionbody">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                                    ADDED ITEMS
                                    </a>
                                </h4>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="skusInput">
                            <h4>SKUS: <span>0</span></h4>
                        </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="skusInput">
                            <h4>ITEMS:<span>0</span></h4>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="sliderBox">
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <div class="btnSlider">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="removebtn">
                                    <a href="#">Remove All</a>
                                </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="listbtn">
                                    <a href="#">GO TO LIST</a>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="customer-logos slider">
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg1.jpg" class="img-responsive" alt="product image">  
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg2.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg3.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg4.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg5.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg1.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg2.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg3.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg1.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg2.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg3.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg4.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg5.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg1.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg2.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="../../../../public/assets/img/proimg3.jpg" class="img-responsive" alt="product image">
                                <a href="#" data-toggle="modal" data-target="#myModal"><i class="crossIcon"></i></a>
                                <div class="hoverBox">
                                <div class="hoverText">
                                    <h6>Multiple FBA Centers</h6>
                                    <h5>FTW1, TX <span>80</span></h5>
                                    <h4>AVP1, PA<span>12</span></h4>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </footer>
    </div>
</template>