<template>
    <div class="sideright">
        <div class="side-wrap">
            <div class="sideform show_form" id="presortpriceform">
            <div class="form-handle" id="presortprice">
                <h3><a href="javascript:void(0);" v-on:click="presortPrice(); presortPriceClick();"><span>PRESORT & PRICE</span></a></h3>
            </div>
            <div class="form-wrap">
                <form method="post" id="sidebarform">
                <div class="form-group">
                    <h3>Default Values</h3>
                    <div class="qty">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                        <label>Quantity:</label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                            <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            </span>
                            <input type="text" v-model="quantity" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                            <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            </span>
                        </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="questionbody">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading1">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseform" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                                    </a>
                                </h4>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="formaccordin">
                            <div id="collapseform" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false">
                            <div class="panel-body bottomboder">
                                <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label>Printer:</label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="formToggle">
                                    <div class="button-group left">
                                        <div class="button left active">On</div>
                                        <div class="button right">off</div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12 pr-0">
                                    <label>Tax code:</label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="formselect">
                                    <select>
                                        <option>A News 104P</option>
                                        <option>A News 104P</option>
                                        <option>A News 104P</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="conditionSelect">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>Select conditions:</label>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="formselect">
                                    <select v-model="condition">
                                        <option value="New">New</option>
                                        <option value="Used">Used</option>
                                        <option value="Collectible">Collectible</option>
                                        <option value="Refurbished">Refurbished</option>
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="formselect">
                                    <select v-model="subcond">
                                        <option value="New">New</option>
                                        <option value="Like New">Like New</option>
                                        <option value="Good">Good</option>
                                        <option value="Acceptable">Acceptable</option>
                                        <option value="Refurbished">Refurbished</option>
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="categorySelect">
                        <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <label>Select note by category:</label>
                            <div class="formselect">
                            <select v-model="category" v-on:change="selected(category)">
                                <option selected value="All Notes">All Notes</option>
                                <option v-for='category in categories' :value='category'>{{category}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="questionbody">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading1">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseformone" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                                    </a>
                                    </h4>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="sideNotes">
                            <a href="#">EDIT NOTES</a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        </div>
                        </div>
                        <div class="notesaccordin">
                        <div id="collapseformone" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading1" aria-expanded="false">
                            <div class="panel-body">
                            <div class="row">
                            <div class="col-md-9 col-sm-col-xs-12">
                            <div class="gradecheck">
                                <div v-for="(note, index) in notes" :key="index">
                                    <input @click="check($event)" v-model="notesCheck" type="checkbox" :id="'fruit'+index" :name="'fruit-'+index" :value="note.note">
                                    <label :for="'fruit'+index">{{note.note}}</label>
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {

    data() {
        return{
            toggle: true,
            cat : '',
            categories: [],
            category: 'All Notes',
            notes: '',
            quantity: '1',
            condition: 'New',
            subcond: 'New',
            notesCheck: [],
            
        }
    },

    mounted(){
            $('.btn-number').click(function(e){
            e.preventDefault();
            
            var fieldName = $(this).attr('data-field');
            var type = $(this).attr('data-type');
            var input = $("input[name='"+fieldName+"']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if(type == 'minus') {
                    
                    if(currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    } 
                    if(parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if(type == 'plus') {

                    if(currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if(parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
                    } else {
                        input.val(0);
                    }
                });
                $('.input-number').focusin(function(){
                $(this).data('oldValue', $(this).val());
                });
                $('.input-number').change(function() {
                    
                    var minValue =  parseInt($(this).attr('min'));
                    var maxValue =  parseInt($(this).attr('max'));
                    var valueCurrent = parseInt($(this).val());
                    
                    var name = $(this).attr('name');
                    if(valueCurrent >= minValue) {
                        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
                    } else {
                        alert('Sorry, the minimum value was reached');
                        $(this).val($(this).data('oldValue'));
                    }
                    if(valueCurrent <= maxValue) {
                        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
                    } else {
                        alert('Sorry, the maximum value was reached');
                        $(this).val($(this).data('oldValue'));
                    }
                    
                    
                });
                $(".input-number").keydown(function (e) {
                        // Allow: backspace, delete, tab, escape, enter and .
                        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                            // Allow: Ctrl+A
                            (e.keyCode == 65 && e.ctrlKey === true) || 
                            // Allow: home, end, left, right
                            (e.keyCode >= 35 && e.keyCode <= 39)) {
                                // let it happen, don't do anything
                                return;
                        }
                        // Ensure that it is a number and stop the keypress
                        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                            e.preventDefault();
                        }
                    });
    },

    created(){
        this.getAllCategories();
        this.selected();
    },

    methods: {
        presortPrice() {
            // console.log("done");
            if(this.toggle==false){
                this.toggle=true;
            }
            else if(this.toggle==true){
                 this.toggle=false;
            }
            this.toggle;
            this.$emit('presortPriceSidebar', this.toggle);
        },

        presortPriceClick(){
            $('#presortpriceform').toggleClass('show_form');
        },

        getAllCategories(){
            let app = this;
            var headers = {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem('token')
                    }
                    
            axios({
                method: 'get',
                url: axios.defaults.baseURL+'client/get/all/categories',
                headers: headers
            })
            .then(function (response) {
                app.cat = response.data.data;
                // console.log(app.cat);
                app.cat.forEach(function(cats) {
                    if (app.categories.indexOf(cats.category) != -1) {
                        // console.log('single');
                    }
                    else{
                        app.categories.push(cats.category);
                    }
                })
                // console.log(app.categories);
            })
            .catch(function(response){
                console.log(response);
            })
        },

        selected(){
            let app = this;
            var headers = {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem('token')
                    }
                    
            axios({
                method: 'get',
                url: axios.defaults.baseURL+'client/get/note/'+app.category,
                headers: headers
            })
            .then(function (response) {
                app.notes = response.data.data;
                // console.log('notes');
                // console.log(app.notes);
            })
            .catch(function(response){
                console.log(response);
            })
        },

        check(e){
            // console.log(e);
            console.log(this.notesCheck);
            var obj = Object.assign({}, this.notesCheck);
            localStorage.quantity = this.quantity;
            localStorage.condition = this.condition;
            localStorage.setItem('note', JSON.stringify(obj));
            var note = localStorage.getItem('note');
            
            console.log(note);
            
        },
    }
}
</script>