<style type="text/css">
    .st0{fill:#662D91;}
</style>
<template>
    <div id="dashboard-header">
    <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header d-flex align-items-center">
            <a class="navbar-brand" href="dashboard.html">
            <i class="logo">
                <span>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 130 12" style="enable-background:new 0 0 130 12;" xml:space="preserve">
                    <g>
                    <g>
                        <g>
                        <path class="st0" d="M0.3,8.8l2-0.7c0.5,1.1,1.4,1.8,2.5,1.8s1.9-0.5,1.9-1.4c0-1-1.1-1.3-2.3-1.7C2.7,6.1,0.8,5.5,0.8,3.3
                            c0-1.7,1.4-3.1,3.9-3.1c2.1,0,3.4,1.1,3.8,2.6l-2,0.6c-0.3-0.7-0.9-1.2-2-1.2C3.6,2.2,3,2.6,3,3.3c0,0.7,1,1,2.1,1.4
                            C6.9,5.3,9,6,9,8.4c0,2.2-1.8,3.5-4.2,3.5C2.7,11.9,1,10.7,0.3,8.8z"/>
                        <path class="st0" d="M11.2,0.3h7.9v2.1h-5.7v2.4h3.3v2.1h-3.3v2.7h6v2.1h-8.2V0.3z"/>
                        <path class="st0" d="M21.5,0.3h2.2v9.3h5.6v2.1h-7.8V0.3z"/>
                        <path class="st0" d="M30.9,0.3h2.2v9.3h5.6v2.1h-7.8V0.3z"/>
                        <path class="st0" d="M40.2,0.3h7.9v2.1h-5.7v2.4h3.3v2.1h-3.3v2.7h6v2.1h-8.2V0.3z"/>
                        <path class="st0" d="M50.5,0.3h5.4c2.9,0,3.9,1.7,3.9,3.6c0,1.3-0.7,2.8-2.2,3.3l2.2,4.5h-2.5l-2.2-4.2h-2.3v4.2h-2.2V0.3z
                            M56,5.4c1.1,0,1.5-0.7,1.5-1.5c0-0.7-0.3-1.5-1.5-1.5h-3.2v3H56z"/>
                        <path class="st0" d="M65.7,6c0-2.8,1.4-5.9,5.1-5.9c3.7,0,5.1,3.1,5.1,5.9s-1.4,5.9-5.1,5.9C67.1,11.9,65.7,8.8,65.7,6z M73.6,6
                            c0-1.7-0.7-3.8-2.8-3.8C68.7,2.2,68,4.4,68,6c0,1.7,0.7,3.8,2.8,3.8C72.9,9.8,73.6,7.6,73.6,6z"/>
                        <path class="st0" d="M78.2,0.3h5c2.9,0,3.9,1.8,3.9,3.6c0,1.7-1.1,3.6-3.9,3.6h-2.7v4.2h-2.2V0.3z M84.7,3.9
                            c0-0.6-0.3-1.5-1.5-1.5h-2.8v3h2.8C84.3,5.4,84.7,4.6,84.7,3.9z"/>
                        <path class="st0" d="M93.5,11.7h-2.2V2.4H88V0.3h8.8v2.1h-3.3V11.7z"/>
                        <path class="st0" d="M98.8,0.3h2.2v11.4h-2.2V0.3z"/>
                        <path class="st0" d="M103.3,6c0-2.6,1.3-5.9,4.9-5.9c2.2,0,3.6,1.3,4.1,2.6l-2,0.9c-0.6-0.9-1.1-1.3-2.1-1.3
                            c-1.9,0-2.5,2.1-2.5,3.7c0,1.8,0.8,3.7,2.5,3.7c0.9,0,1.6-0.6,2.1-1.5l2,0.8c-0.8,1.7-2,2.8-4.1,2.8
                            C104.6,11.9,103.3,8.8,103.3,6z"/>
                        <path class="st0" d="M113.7,8.8l2-0.7c0.5,1.1,1.4,1.8,2.5,1.8c1.1,0,1.9-0.5,1.9-1.4c0-1-1.1-1.3-2.3-1.7
                            c-1.7-0.6-3.6-1.2-3.6-3.4c0-1.7,1.4-3.1,3.9-3.1c2.1,0,3.4,1.1,3.8,2.6l-2,0.6c-0.3-0.7-0.9-1.2-2-1.2c-1,0-1.5,0.4-1.5,1.1
                            c0,0.7,1,1,2.1,1.4c1.7,0.6,3.9,1.3,3.9,3.7c0,2.2-1.8,3.5-4.2,3.5C116,11.9,114.3,10.7,113.7,8.8z"/>
                        </g>
                    </g>
                    <g>
                        <g>
                        <g>
                            <path class="st0" d="M125.3,3.3h-0.5V0.6h-0.9V0.2h2.3v0.5h-0.9V3.3z"/>
                            <path class="st0" d="M129.2,3.3V1.6c0-0.2,0-0.4,0-0.5c-0.1,0.1-0.1,0.4-0.2,0.5l-0.8,1.8l-0.8-1.8c-0.1-0.1-0.2-0.4-0.2-0.5
                            c0,0.1,0,0.4,0,0.5v1.7h-0.5V0.2h0.5l0.9,2c0,0.1,0.1,0.2,0.1,0.2c0-0.1,0.1-0.2,0.1-0.2l0.9-2h0.5v3.2H129.2z"/>
                        </g>
                        </g>
                    </g>
                    </g>
                </svg>
                </span>
            </i>
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Nav items -->
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" href="#navbar-dashboards" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                <i class="svgIcon"></i>
                <span class="nav-link-text">Dashboards</span>
                </a>
                <div class="collapse show" id="navbar-dashboards">
                    <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="account.html" class="nav-link"><i class="svgChild"></i>
                        <span class="nav-child-text">Account</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="message.html" class="nav-link"><i class="svgChild"></i>
                        <span class="nav-child-text">Message</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="billing.html" class="nav-link"><i class="svgChild"></i>
                        <span class="nav-child-text">Billing</span></a>
                    </li>
                    </ul>
                </div>
                </li>
                <li class="nav-item">
                <router-link to="/dashboard">
                <a class="nav-link" href="#">
                <i class="svgIcon"></i>
                <span class="nav-link-text">Add Item</span>
                </a>
                </router-link>
                </li>
                <li class="nav-item">
                <router-link to="/list-item-dashboard">
                <a class="nav-link" href="#">
                <i class="svgIcon"></i>
                <span class="nav-link-text">List Item</span>
                </a>
                </router-link>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">
                <i class="svgIcon"></i>
                <span class="nav-link-text">Replenish</span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#navbar-forms" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-forms">
                <i class="svgIcon"></i>
                <span class="nav-link-text">History</span>
                </a>
                <div class="collapse" id="navbar-forms">
                    <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="account.html" class="nav-link"><i class="svgChild"></i>
                        <span class="nav-child-text">Batch History</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="account.html" class="nav-link"><i class="svgChild"></i>
                        <span class="nav-child-text">Item History</span></a>
                    </li>
                    </ul>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#navbar-tables" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-tables">
                <i class="svgIcon"></i>
                <span class="nav-link-text">Setting</span>
                </a>
                <div class="collapse" id="navbar-tables">
                    <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="account.html" class="nav-link"><i class="svgChild"></i>
                        <span class="nav-child-text">Pricer</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="account.html" class="nav-link"><i class="svgChild"></i>
                        <span class="nav-child-text">Shipment</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="account.html" class="nav-link"><i class="svgChild"></i>
                        <span class="nav-child-text">Note</span></a>
                    </li>
                    </ul>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">
                <i class="svgIcon"></i>
                <span class="nav-link-text">Logout</span>
                </a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </nav>
    </div>
</template>

<script>
import axios from 'axios';

export default {

    created(){
        this.getPricers();
    },

    methods:{
        getPricers(){
            let app = this;
            var headers = {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem('token')
                    }
                    
            axios({
                method: 'get',
                url: axios.defaults.baseURL+'client/getpricers/'+localStorage.getItem('id'),
                headers: headers
                    })
            .then(function (response) {
                console.log(localStorage);
                localStorage.each_listing_price = response.data.data[0].list_price_value;
                localStorage.each_listing_price_unit = response.data.data[0].list_price_unit;
                localStorage.flat_price = response.data.data[0].flat_price;
                localStorage.is_pricer = response.data.data[0].is_pricer;
            })
        },
    }
}
</script>