<template>
    <!-- Begins: Header Sec  -->
    <header class="header listheader">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
            <div class="addItem">
              <h2>List Item</h2>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="searchbox">
              <button class="btn-menu">
                <p>LIST</p>
              </button>
              <input id="search" v-model="search" @keyup.enter="submit" type="text" placeholder="Sreach in listed items by ASIN, FNSKU" name="search" class="search">
              <button  class="btn-search">
              <img src="../../../../public/assets/img/search.png" class="img-responsive" alt="amazon">
              </button>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="presortdropdown">
              <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">john_wellium@gmail</button>
              <ul role="menu" class="dropdown-menu">
                <li class="divider"></li>
                <li><a href="#">john_wellium@gmail</a></li>
                <li class="divider"></li>
                <li><a href="#">john_wellium@gmail</a></li>
                <li class="divider"></li>
                <li><a href="#">john_wellium@gmail</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pr-0">
              <div class="fbatags">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="fulfillment" v-on:click="buttonSelect('FBA')" data-toggle="tab" href="#tabs-1" role="tab">FBA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="fulfillment" v-on:click="buttonSelect('FBM')" data-toggle="tab" href="#tabs-2" role="tab">FBM</a>
                    </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="barDropdown">
                <ul>
                  <li class="btn-group">
                    <a href="#"> <i class="chartBar"></i> </a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a href="#">
                          <h2>$100,000</h2>
                          <p>Average Price</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <h2>$11,347,110</h2>
                          <p>Average Sales Rank</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <h2>31,000</h2>
                          <p>Total Quantity</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <h2>99,000,00</h2>
                          <p>Total Price</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- End: Header Sec  -->
</template>

<script>
export default {
    data(){
        return{
            search: '',
        }
    },

    methods: {
        submit() {
            if(this.search != ''){
                // var dropdown = $('button#selected').text();
                this.$emit('searchInput', {'search':this.search});
                // this.$emit('inputData', dropdown);
                // this.search = '';
            }
        },

        buttonSelect(text){
            this.$emit('selectedButton', {'button':text});
        }
    }
}
</script>