<template>
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
                    <div class="addItem">
                    <h2>Add Item</h2>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-5 col-xs-12">
                    <div class="searchbox">
                    <button class="btn-menu">
                    <img src="../../../../public/assets/img/amazon.png" class="img-responsive" alt="amazon">
                    </button>
                    <input id="search" v-model="search" @keyup.enter="submit" type="text" placeholder="Search in items by UPC, ASIN, ISBN, EAN, FNSKU" name="search" class="search" autocomplete="off">
                    <button class="btn-search">
                    <img src="../../../../public/assets/img/search.png" class="img-responsive" alt="amazon">
                    </button>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="presortdropdown">
                    <button type="button" id="selected" data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{dropdown}}</button>
                    <ul role="menu" class="dropdown-menu">
                        <li class="divider"></li>
                        <li v-on:click="dropdownSelect"><a href="#">Price & Grade</a></li>
                        <li class="divider"></li>
                        <li v-on:click="dropdownSelect"><a href="#">Grade</a></li>
                        <li class="divider"></li>
                        <li v-on:click="dropdownSelect"><a href="#">Presort & Price</a></li>
                        <li class="divider"></li>
                        <li v-on:click="dropdownSelect"><a href="#">Presort</a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 pr-0">
                    <div class="fbatags">
                        <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">FBA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">FBM</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                    <div class="barDropdown">
                        <ul>
                        <li class="btn-group">
                            <a href="#"> <i class="chartBar"></i> </a>
                                <ul class="dropdown-menu" role="menu">
                            <li><a href="#">
                                <h2>$100,000</h2>
                                <p>Average Price</p>
                            </a></li>
                            <li><a href="#">
                            <h2>$11,347,110</h2>
                                <p>Average Sales Rank</p>
                            </a></li>
                            <li><a href="#">
                                <h2>31,000</h2>
                                <p>Total Quantity</p>
                            </a></li>
                            <li><a href="#">
                                <h2>99,000,00</h2>
                                <p>Total Price</p>
                            </a>
                            </li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
                </div>
        </div>
    </header>
</template>

<script>
export default {
    data() {
      return {
        search: localStorage.search,
        dropdown: localStorage.dropdown,
      }
    },

    mounted(){
        $('.dropdown-menu a').click(function(){
            $('#selected').text($(this).text());
        });
    },

    methods: {
        submit() {
            if(this.search != ''){
                // var dropdown = $('button#selected').text();
                this.$emit('searchInput', {'search':this.search});
                // this.$emit('inputData', dropdown);
                localStorage.search = this.search;
            }
        },

        dropdownSelect(){
            var dropdown = $('button#selected').text();
            this.$emit('dropdownInput', {'dropdown':dropdown});
        }
    }
}
</script>