<template>
    <!-- Begins: Logo Header -->
    <section class="logoSec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="logosvg">
              <a href="#">
              <img src="/utils/images/logo.svg" class="img-responsive" alt="logo">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="userprofile">
              <button type="button" data-toggle="dropdown" class="dropdown-toggle"><img src="/assets/img/profile.jpg" class="img-responsive" alt="profile image"><span>Hi {{name}}</span></button>
              <ul role="menu" class="dropdown-menu">
                <li>
                  <a href="#">
                    <div class="ico_profile">
                      <span>Profile</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="ico_settings">
                      <span>Settings</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" v-on:click="logout">
                    <div class="ico_logout">
                      <span>Log out</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End: Logo Header -->
</template>

<script>
    import axios from 'axios';
    export default
     {
        data: function() {
            return {
                name: localStorage.getItem('name')
            }
        },
        methods: {
            logout() {
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                console.log(localStorage.getItem('token'));
                axios({

                    method: 'get',
                    url: axios.defaults.baseURL+'logout',
                    headers: headers
                }).then(function () {
                        app.$router.push('/login');
                        console.log('data');
                    })
                    .catch(function (response) {
                        //handle error
                        iziToast.show({
                                        title: "Error",
                                        message:  "Cannot Logged out",
                                        backgroundColor: '#f54242',
                                        color: '#FFFFFF',
                                        progressBar: true,
                                        icon: 'fa fa-exclamation-circle',
                                        iconColor: '#FFFFFF',
                                        position: 'topCenter',
                                        titleColor: '#FFFFFF',
                                        messageColor: '#FFFFFF',
                                        showIco:true,
                                    });
                    });
            }
        }
    }
</script>
