<template>
    <!------- Header !------->
    <section class="logoSec">
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="logosvg">
                <a href="#">
                <router-link to="/"><img src="/utils/images/logo.svg" class="img-responsive" alt="logo"></router-link>
                </a>
                </div>
            </div>
            </div>
        </div>
    </section>
</template>
