<template>
  <section class="footerlogin">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p>2019. Selleroptics Inc.</p>
        </div>
      </div>
    </div>
  </section>
</template>
