
:root {
 --primary_1: rgb(169,42,126);
 --primary_2: rgb(107,43,120);
 --subheader: rgb(231,206,228);
 --primary_font: rgba(133, 124, 120, 0.911);
 --field_color: rgb(248,247,246);
 --line_color: rgb(240,238,237);
 --plan_01: rgb(148,159,164);
 --inner_plan_01: rgb(248,251,252);
 --plan_02: rgb(193,132,51);
 --inner_plan_02: rgb(255,253,248);
 --tag_color: rgb(244,149,150);
 --error: rgb(236,101,100);
 --success: rgb(62,174,142);
}

