
@font-face {
  font-family: 'overpass-regular';
  src:  url('https://cdnjs.cloudflare.com/ajax/libs/overpass/3.0.3/overpass-webfont/overpass-regular.woff2') format('woff2'),
        url('https://cdnjs.cloudflare.com/ajax/libs/overpass/3.0.3/overpass-webfont/overpass-regular.woff') format('woff'),
        url('https://cdnjs.cloudflare.com/ajax/libs/overpass/3.0.3/overpass-webfont/overpass-regular.ttf')  format('truetype');
}


@font-face {
  font-family: 'overpass-bold';
  src:  url('https://cdnjs.cloudflare.com/ajax/libs/overpass/3.0.3/overpass-webfont/overpass-bold.woff2') format('woff2'),
        url('https://cdnjs.cloudflare.com/ajax/libs/overpass/3.0.3/overpass-webfont/overpass-bold.woff') format('woff'),
        url('https://cdnjs.cloudflare.com/ajax/libs/overpass/3.0.3/overpass-webfont/overpass-bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'overpass-ex-light';
  src:  url('https://cdnjs.cloudflare.com/ajax/libs/overpass/3.0.3/overpass-webfont/overpass-extralight.woff2') format('woff2'),
        url('https://cdnjs.cloudflare.com/ajax/libs/overpass/3.0.3/overpass-webfont/overpass-extralight.woff') format('woff'),
        url('https://cdnjs.cloudflare.com/ajax/libs/overpass/3.0.3/overpass-webfont/overpass-extralight.ttf')  format('truetype');
}
