.mail_ico{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st1" d="M25,24H5c-1.1,0-1.9-0.9-1.9-1.9V7.9C3.1,6.9,3.9,6,5,6h20c1.1,0,1.9,0.9,1.9,1.9v14.2C26.9,23.1,26.1,24,25,24z"/><polyline class="st0" points="25.6,6.5 14.8,17.3 4.2,6.8 "/><line class="st0" x1="25.8" y1="23" x2="17.7" y2="14.9"/><line class="st0" x1="3.7" y1="23" x2="11.8" y2="14.9"/></g></svg>');
  background-size: cover;
}

.mail_ico.active{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st4" d="M25,24H5c-1.1,0-1.9-0.9-1.9-1.9V7.9C3.1,6.9,3.9,6,5,6h20c1.1,0,1.9,0.9,1.9,1.9v14.2C26.9,23.1,26.1,24,25,24z"/><polyline class="st4" points="25.6,6.5 14.8,17.3 4.2,6.8 "/><line class="st4" x1="25.8" y1="23" x2="17.7" y2="14.9"/><line class="st4" x1="3.7" y1="23" x2="11.8" y2="14.9"/></g></svg>');
}

.pwd_ico{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st0" d="M26.8,15.3l-1.2,1.2c-0.1,0.1-0.3,0.2-0.5,0.2h-3c-0.2,0-0.4,0.1-0.6,0.2l-0.6,0.6c-0.3,0.4-0.9,0.3-1.2-0.1L19.3,17c-0.1-0.2-0.4-0.3-0.6-0.3H17c-0.2,0-0.5,0.1-0.6,0.3L16,17.4c-0.3,0.4-0.8,0.4-1.2,0.1L14.4,17c-0.1-0.2-0.3-0.2-0.6-0.2h0c-0.7,2.2-2.8,3.8-5.3,3.8c-3.1,0-5.6-2.5-5.6-5.6s2.5-5.6,5.6-5.6c2.5,0,4.7,1.7,5.3,4h11.9c0.2,0,0.4,0.1,0.5,0.2l0.5,0.5C27.1,14.5,27.1,15,26.8,15.3z"/><circle class="st3" cx="7.2" cy="14.9" r="1.3"/></g></svg>');
  background-size: cover;
}

.pwd_ico.active{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st4" d="M26.8,15.3l-1.2,1.2c-0.1,0.1-0.3,0.2-0.5,0.2h-3c-0.2,0-0.4,0.1-0.6,0.2l-0.6,0.6c-0.3,0.4-0.9,0.3-1.2-0.1L19.3,17c-0.1-0.2-0.4-0.3-0.6-0.3H17c-0.2,0-0.5,0.1-0.6,0.3L16,17.4c-0.3,0.4-0.8,0.4-1.2,0.1L14.4,17c-0.1-0.2-0.3-0.2-0.6-0.2h0c-0.7,2.2-2.8,3.8-5.3,3.8c-3.1,0-5.6-2.5-5.6-5.6s2.5-5.6,5.6-5.6c2.5,0,4.7,1.7,5.3,4h11.9c0.2,0,0.4,0.1,0.5,0.2l0.5,0.5C27.1,14.5,27.1,15,26.8,15.3z"/><circle class="st5" cx="7.2" cy="14.9" r="1.3"/></g></svg>');
}

.user_ico{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><circle class="st0" cx="15" cy="9.9" r="5.6"/><path class="st0" d="M5.1,25.7h19.8c0.7,0,1.3-0.7,1.1-1.4c-0.6-2-2.2-5.7-6.5-6.1c-5.9-0.5-8.1,0.1-8.1,0.1S4.8,18.7,4,24.5C3.9,25.1,4.5,25.7,5.1,25.7z"/></g></svg>');
  background-size: cover;
}

.user_ico.active{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><circle class="st4" cx="15" cy="9.9" r="5.6"/><path class="st4" d="M5.1,25.7h19.8c0.7,0,1.3-0.7,1.1-1.4c-0.6-2-2.2-5.7-6.5-6.1c-5.9-0.5-8.1,0.1-8.1,0.1S4.8,18.7,4,24.5C3.9,25.1,4.5,25.7,5.1,25.7z"/></g></svg>');
}

.breifcase_ico{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st1" d="M25,25.7H5c-1.1,0-1.9-0.9-1.9-1.9V9.5C3,8.5,3.9,7.6,5,7.6H25c1.1,0,1.9,0.9,1.9,1.9v14.2C27,24.8,26.1,25.7,25,25.7z"/><line class="st0" x1="3.5" y1="16.1" x2="26.8" y2="16.1"/><line class="st0" x1="7.7" y1="14.8" x2="12.2" y2="14.8"/><line class="st0" x1="18.3" y1="14.8" x2="22.8" y2="14.8"/><path class="st0" d="M9.8,7.5V5.9c0-0.9,0.9-1.6,1.9-1.6h6.5c1.1,0,1.9,0.7,1.9,1.6v1.7"/></g></svg>');
  background-size: cover;
}

.breifcase_ico.active{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st4" d="M25,25.7H5c-1.1,0-1.9-0.9-1.9-1.9V9.5C3,8.5,3.9,7.6,5,7.6H25c1.1,0,1.9,0.9,1.9,1.9v14.2C27,24.8,26.1,25.7,25,25.7z"/><line class="st4" x1="3.5" y1="16.1" x2="26.8" y2="16.1"/><line class="st4" x1="7.7" y1="14.8" x2="12.2" y2="14.8"/><line class="st4" x1="18.3" y1="14.8" x2="22.8" y2="14.8"/><path class="st4" d="M9.8,7.5V5.9c0-0.9,0.9-1.6,1.9-1.6h6.5c1.1,0,1.9,0.7,1.9,1.6v1.7"/></g></svg>');
}

.phone_ico{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st0" d="M7.9,6.5L6.3,8.1C5.8,8.6,5.6,9.3,5.8,10c0.9,2.8,6,10.3,13.6,13.8c0.9,0.4,2,0.2,2.6-0.5l1.8-1.8c0.5-0.5,0.5-1.4,0-2l-2.1-2c-0.5-0.5-1.3-0.5-1.9,0l-0.6,0.5c-0.4,0.4-1,0.5-1.4,0.3c-1.2-0.5-3.6-2-5.9-5.7c-0.4-0.6-0.3-1.5,0.2-2l0,0c0.6-0.7,0.6-1.7,0-2.3l-1.9-1.9C9.6,5.9,8.5,5.9,7.9,6.5z"/></g></svg>');
  background-size: cover;
}

.phone_ico.active{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st4" d="M7.9,6.5L6.3,8.1C5.8,8.6,5.6,9.3,5.8,10c0.9,2.8,6,10.3,13.6,13.8c0.9,0.4,2,0.2,2.6-0.5l1.8-1.8c0.5-0.5,0.5-1.4,0-2l-2.1-2c-0.5-0.5-1.3-0.5-1.9,0l-0.6,0.5c-0.4,0.4-1,0.5-1.4,0.3c-1.2-0.5-3.6-2-5.9-5.7c-0.4-0.6-0.3-1.5,0.2-2l0,0c0.6-0.7,0.6-1.7,0-2.3l-1.9-1.9C9.6,5.9,8.5,5.9,7.9,6.5z"/></g></svg>');
}

.check_square_ico{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><style type="text/css">.st0{fill:%23808285;}.st1{fill:%23AB218E;}.st2{fill:%23FFFFFF;}.st3{fill:%23E6E7E8;}.st4{fill:%2301B79C;}.st5{fill:%2300B79C;}.st6{fill:%23F1666A;}.st7{fill:none;stroke:%23818486;stroke-width:1.1;stroke-miterlimit:10;}</style><path class="st7" d="M17.4,19.4H2.6c-1.1,0-1.9-0.9-1.9-1.9V2.6c0-1.1,0.9-1.9,1.9-1.9h14.9c1.1,0,1.9,0.9,1.9,1.9v14.9C19.4,18.5,18.5,19.4,17.4,19.4z"/></svg>');
  background-size: cover;
}

.check_square_ico.active{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><style type="text/css">.st0{fill:%23808285;}.st1{fill:%23AB218E;}.st2{fill:%23FFFFFF;}.st3{fill:%23E6E7E8;}.st4{fill:%2301B79C;}.st5{fill:%2300B79C;}.st6{fill:%23F1666A;}.st7{fill:none;stroke:%23818486;stroke-width:1.1;stroke-miterlimit:10;}</style><g><path class="st4" d="M18.1,20H1.9C0.9,20,0,19.1,0,18.1V1.9C0,0.9,0.9,0,1.9,0h16.1C19.1,0,20,0.9,20,1.9v16.1C20,19.1,19.1,20,18.1,20z"/><g><g><g><path class="st2" d="M18.2,3.4c-3.2,3.4-6.3,6.9-9.5,10.3c0.5,0,0.9,0,1.4,0C8.5,12,6.9,10.2,5.3,8.3c-0.9-1-2.3,0.4-1.4,1.4c1.6,1.8,3.2,3.6,4.8,5.4c0.3,0.4,1.1,0.4,1.4,0c3.2-3.4,6.3-6.9,9.5-10.3C20.5,3.9,19.1,2.5,18.2,3.4L18.2,3.4z"/></g></g></g><polygon class="st2" points="18.1,3.5 20,1.6 20,4.5 19.2,5.4 "/></g></svg>');
  background-size: cover;
}

.token_coin_ico{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><g><path class="st0" d="M21.4,8.6c-1.6-3.2-4.8-5.3-8.6-5.3c-5.3,0-9.6,4.3-9.6,9.6c0,3.8,2.2,7,5.3,8.6"/><path class="st0" d="M21.4,8.6c0.6,1.3,1,2.7,1,4.2c0,5.3-4.3,9.6-9.6,9.6c-1.5,0-3-0.4-4.2-1c1.6,3.2,4.8,5.3,8.6,5.3c5.3,0,9.6-4.3,9.6-9.6C26.7,13.4,24.6,10.2,21.4,8.6z"/></g><path class="st0" d="M16.2,8.5H11c-0.7,0-1.3,0.6-1.3,1.3v1.6c0,0.7,0.6,1.3,1.3,1.3h4.1c0.7,0,1.3,0.6,1.3,1.3v1.6c0,0.7-0.6,1.3-1.3,1.3h-6"/><line class="st0" x1="12.8" y1="6.1" x2="12.8" y2="7.9"/><line class="st0" x1="12.8" y1="17.6" x2="12.8" y2="19.4"/></g></svg>');
  background-size: cover;  
}

.token_coin_ico.active{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><g><path class="st4" d="M21.4,8.6c-1.6-3.2-4.8-5.3-8.6-5.3c-5.3,0-9.6,4.3-9.6,9.6c0,3.8,2.2,7,5.3,8.6"/><path class="st4" d="M21.4,8.6c0.6,1.3,1,2.7,1,4.2c0,5.3-4.3,9.6-9.6,9.6c-1.5,0-3-0.4-4.2-1c1.6,3.2,4.8,5.3,8.6,5.3c5.3,0,9.6-4.3,9.6-9.6C26.7,13.4,24.6,10.2,21.4,8.6z"/></g><path class="st4" d="M16.2,8.5H11c-0.7,0-1.3,0.6-1.3,1.3v1.6c0,0.7,0.6,1.3,1.3,1.3h4.1c0.7,0,1.3,0.6,1.3,1.3v1.6c0,0.7-0.6,1.3-1.3,1.3h-6"/><line class="st4" x1="12.8" y1="6.1" x2="12.8" y2="7.9"/><line class="st4" x1="12.8" y1="17.6" x2="12.8" y2="19.4"/></g></svg>');
  background-size: cover;  
}

.ico_profile{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;" xml:space="preserve"><style type="text/css">.st0{fill:%23808285;}.st1{fill:%23FFFFFF;}.st2{fill:%23662D91;}</style><g><g><circle class="st0" cx="7.5" cy="3.8" r="3.7"/><path class="st0" d="M0.9,14.8h13.1c0.5,0,0.8-0.5,0.7-1c-0.4-1.5-1.5-4.1-4.3-4.4C6.6,9,5.1,9.5,5.1,9.5s-4.3,0.3-4.9,4.5C0.1,14.4,0.5,14.8,0.9,14.8z"/></g></g></svg>');
  background-size: 18px 18px;    
  background-repeat: no-repeat;
}

.ico_profile:hover{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;" xml:space="preserve"><style type="text/css">.st0{fill:%23808285;}.st1{fill:%23FFFFFF;}.st2{fill:%23662D91;}</style><g><circle class="st2" cx="7.5" cy="3.8" r="3.7"/><path class="st2" d="M0.9,14.8h13.1c0.5,0,0.8-0.5,0.7-1c-0.4-1.5-1.5-4.1-4.3-4.4C6.6,9,5.1,9.5,5.1,9.5s-4.3,0.3-4.9,4.5C0.1,14.4,0.5,14.8,0.9,14.8z"/></g></svg>');
}

.ico_settings{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;" xml:space="preserve"><style type="text/css">.st0{fill:%23808285;}.st1{fill:%23FFFFFF;}.st2{fill:%23662D91;}</style><path class="st0" d="M0.2,9.8c0-0.1,0-0.3,0-0.4C0.4,9.3,0.5,9.1,0.7,9C0.8,8.9,1,8.8,1.1,8.7C1.9,8.1,2,7.2,1.4,6.6C1.3,6.3,1,6.2,0.8,6C0.5,5.9,0.3,5.7,0.2,5.5c0-0.1,0-0.3,0-0.4c0.1-0.2,0.1-0.5,0.2-0.7C0.8,3.7,1,3.6,1.8,3.8C2.7,4,3.5,3.5,3.7,2.6c0.1-0.3,0-0.7,0-1.1C3.6,1.2,3.7,0.9,4,0.8c0.4-0.2,0.8-0.4,1.2-0.4C5.7,0.2,5.7,0.3,6,0.8c0.4,0.8,1.1,1.1,1.9,0.9C8.4,1.5,8.7,1.2,9,0.7c0.1-0.2,0.3-0.5,0.6-0.5c0.5,0,1,0.2,1.5,0.6c0.3,0.2,0.3,0.5,0.2,0.8c-0.1,0.3-0.1,0.7-0.1,1c0.2,1,1.2,1.4,2.2,1c0.5-0.2,0.8-0.1,1,0.4c0.2,0.4,0.3,0.8,0.4,1.2c0,0.1,0,0.1,0,0.2c-0.2,0.2-0.3,0.4-0.5,0.5c-0.6,0.3-1.1,0.8-1.1,1.5c0,0.7,0.4,1.2,1,1.5c0.2,0.1,0.4,0.3,0.4,0.4c0.1,0.6-0.1,1.1-0.5,1.6c-0.3,0.4-0.7,0.3-1.2,0.2c-0.8-0.2-1.5,0.1-1.8,0.7c-0.2,0.4-0.2,0.9,0,1.3c0.2,0.5,0.1,0.7-0.3,1c-0.4,0.2-0.8,0.3-1.2,0.5c-0.1,0-0.1,0-0.2,0c-0.2-0.2-0.3-0.4-0.5-0.6c-0.3-0.6-0.8-1-1.5-1c-0.7,0-1.2,0.4-1.5,1c-0.1,0.3-0.3,0.5-0.5,0.5c-0.1,0-0.2,0-0.3,0c-0.4-0.1-0.7-0.2-1-0.4C3.4,14,3.3,13.8,3.6,13c0,0,0,0,0-0.1c0.2-0.9-0.3-1.8-1.3-1.8c-0.2,0-0.5,0-0.7,0.1c-0.5,0.1-0.7,0-1-0.4C0.5,10.5,0.4,10.2,0.2,9.8z M5,7.5c0,1.3,1.1,2.5,2.4,2.5c1.4,0,2.5-1.1,2.5-2.4C10,6.1,8.8,5,7.5,5C6.1,5,5,6.1,5,7.5z"/></svg>');
  background-size: 18px 18px;    
  background-repeat: no-repeat;
}

.ico_settings:hover{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;" xml:space="preserve"><style type="text/css">.st0{fill:%23808285;}.st1{fill:%23FFFFFF;}.st2{fill:%23662D91;}</style><path class="st2" d="M0.2,9.8c0-0.1,0-0.3,0-0.4C0.4,9.3,0.5,9.1,0.7,9C0.8,8.9,1,8.8,1.1,8.7C1.9,8.1,2,7.2,1.4,6.6C1.3,6.3,1,6.2,0.8,6C0.5,5.9,0.3,5.7,0.2,5.5c0-0.1,0-0.3,0-0.4c0.1-0.2,0.1-0.5,0.2-0.7C0.8,3.7,1,3.6,1.8,3.8C2.7,4,3.5,3.5,3.7,2.6c0.1-0.3,0-0.7,0-1.1C3.6,1.2,3.7,0.9,4,0.8c0.4-0.2,0.8-0.4,1.2-0.4C5.7,0.2,5.7,0.3,6,0.8c0.4,0.8,1.1,1.1,1.9,0.9C8.4,1.5,8.7,1.2,9,0.7c0.1-0.2,0.3-0.5,0.6-0.5c0.5,0,1,0.2,1.5,0.6c0.3,0.2,0.3,0.5,0.2,0.8c-0.1,0.3-0.1,0.7-0.1,1c0.2,1,1.2,1.4,2.2,1c0.5-0.2,0.8-0.1,1,0.4c0.2,0.4,0.3,0.8,0.4,1.2c0,0.1,0,0.1,0,0.2c-0.2,0.2-0.3,0.4-0.5,0.5c-0.6,0.3-1.1,0.8-1.1,1.5c0,0.7,0.4,1.2,1,1.5c0.2,0.1,0.4,0.3,0.4,0.4c0.1,0.6-0.1,1.1-0.5,1.6c-0.3,0.4-0.7,0.3-1.2,0.2c-0.8-0.2-1.5,0.1-1.8,0.7c-0.2,0.4-0.2,0.9,0,1.3c0.2,0.5,0.1,0.7-0.3,1c-0.4,0.2-0.8,0.3-1.2,0.5c-0.1,0-0.1,0-0.2,0c-0.2-0.2-0.3-0.4-0.5-0.6c-0.3-0.6-0.8-1-1.5-1c-0.7,0-1.2,0.4-1.5,1c-0.1,0.3-0.3,0.5-0.5,0.5c-0.1,0-0.2,0-0.3,0c-0.4-0.1-0.7-0.2-1-0.4C3.4,14,3.3,13.8,3.6,13c0,0,0,0,0-0.1c0.2-0.9-0.3-1.8-1.3-1.8c-0.2,0-0.5,0-0.7,0.1c-0.5,0.1-0.7,0-1-0.4C0.5,10.5,0.4,10.2,0.2,9.8z M5,7.5c0,1.3,1.1,2.5,2.4,2.5c1.4,0,2.5-1.1,2.5-2.4C10,6.1,8.8,5,7.5,5C6.1,5,5,6.1,5,7.5z"/></svg>');
}

.ico_logout{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;" xml:space="preserve"><style type="text/css">.st0{fill:%23808285;}.st1{fill:%23FFFFFF;}.st2{fill:%23662D91;}</style><g><circle class="st0" cx="7.5" cy="7.5" r="7.3"/><g><g><g><path class="st1" d="M4.1,8.9C3.6,8.3,3,7.6,2.5,6.9c0,0.3,0.1,0.6,0.1,0.9c0.5-0.7,1.1-1.4,1.6-2.1C4.8,5,3.5,4.2,2.9,5C2.4,5.7,1.9,6.4,1.3,7.1C1.1,7.4,1.3,7.8,1.4,8C2,8.7,2.5,9.3,3,10C3.6,10.7,4.7,9.7,4.1,8.9L4.1,8.9z"/></g></g><g><g><path class="st1" d="M2.5,8.2c2.4,0,4.9,0,7.3,0c1,0,1-1.5,0-1.5c-2.4,0-4.9,0-7.3,0C1.5,6.7,1.5,8.2,2.5,8.2L2.5,8.2z"/></g></g></g></g></svg>');
  background-size: 18px 18px;    
  background-repeat: no-repeat;
}

.ico_logout:hover{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;" xml:space="preserve"><style type="text/css">.st0{fill:%23808285;}.st1{fill:%23FFFFFF;}.st2{fill:%23662D91;}</style><g><circle class="st2" cx="7.5" cy="7.5" r="7.3"/><g><g><g><path class="st1" d="M4.1,8.9C3.6,8.3,3,7.6,2.5,6.9c0,0.3,0.1,0.6,0.1,0.9c0.5-0.7,1.1-1.4,1.6-2.1C4.8,5,3.5,4.2,2.9,5C2.4,5.7,1.9,6.4,1.3,7.1C1.1,7.4,1.3,7.8,1.4,8C2,8.7,2.5,9.3,3,10C3.6,10.7,4.7,9.7,4.1,8.9L4.1,8.9z"/></g></g><g><g><path class="st1" d="M2.5,8.2c2.4,0,4.9,0,7.3,0c1,0,1-1.5,0-1.5c-2.4,0-4.9,0-7.3,0C1.5,6.7,1.5,8.2,2.5,8.2L2.5,8.2z"/></g></g></g></g></svg>');
}

.ico_checked_circle{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><style type="text/css">.st0{fill:%23808285;}.st1{fill:%23AB218E;}.st2{fill:%23FFFFFF;}.st3{fill:%23E6E7E8;}.st4{fill:%2301B79C;}.st5{fill:%2300B79C;}.st6{fill:%23F1666A;}.st7{fill:none;stroke:%23818486;stroke-width:1.1;stroke-miterlimit:10;}</style><g><circle class="st4" cx="10" cy="10" r="10"/><g><g><g><path class="st2" d="M16.5,3.9c-2.5,2.8-5,5.5-7.5,8.3c0.5,0,0.9,0,1.4,0c-1.6-1.5-3.2-3-4.8-4.4C4.7,6.9,3.3,8.3,4.2,9.2c1.6,1.5,3.2,3,4.8,4.4c0.4,0.4,1,0.4,1.4,0c2.5-2.8,5-5.5,7.5-8.3C18.8,4.4,17.4,3,16.5,3.9L16.5,3.9z"/></g></g><path class="st2" d="M17.6,5.7l0.9-1c0,0-0.5-0.8-1.3-1.6l-0.9,1.1L17.6,5.7z"/></g></g></svg>');
  background-size: cover;  
}

.ico_info{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><style type="text/css">.st0{fill:%23808285;}.st1{fill:%23AB218E;}.st2{fill:%23FFFFFF;}.st3{fill:%23E6E7E8;}.st4{fill:%2301B79C;}.st5{fill:%2300B79C;}.st6{fill:%23F1666A;}.st7{fill:none;stroke:%23818486;stroke-width:1.1;stroke-miterlimit:10;}</style><g><circle class="st3" cx="10" cy="10" r="10"/><g><g><g><path class="st2" d="M11,11.1c0-2.1,0-4.3,0-6.4c0-1.3-2-1.3-2,0c0,2.1,0,4.3,0,6.4C9,12.3,11,12.4,11,11.1L11,11.1z"/></g></g><g><g><path class="st2" d="M11,15.4c0-0.1,0-0.3,0-0.4c0-1.3-2-1.3-2,0c0,0.1,0,0.3,0,0.4C9,16.6,11,16.6,11,15.4L11,15.4z"/></g></g></g></g></svg>');
  background-size: cover;
}

.ico_info:hover{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><style type="text/css">.st0{fill:%23808285;}.st1{fill:%23AB218E;}.st2{fill:%23FFFFFF;}.st3{fill:%23E6E7E8;}.st4{fill:%2301B79C;}.st5{fill:%2300B79C;}.st6{fill:%23F1666A;}.st7{fill:none;stroke:%23818486;stroke-width:1.1;stroke-miterlimit:10;}</style><g><circle class="st0" cx="10" cy="10" r="10"/><g><g><g><path class="st2" d="M11,11.1c0-2.1,0-4.3,0-6.4c0-1.3-2-1.3-2,0c0,2.1,0,4.3,0,6.4C9,12.3,11,12.4,11,11.1L11,11.1z"/></g></g><g><g><path class="st2" d="M11,15.4c0-0.1,0-0.3,0-0.4c0-1.3-2-1.3-2,0c0,0.1,0,0.3,0,0.4C9,16.6,11,16.6,11,15.4L11,15.4z"/></g></g></g></g></svg>');
  background-size: cover; 
}

.card_name_ico{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st0" d="M21,24.8H9.1c-3.2,0-5.8-2.6-5.8-5.8v-8c0-3.2,2.6-5.8,5.8-5.8H21c3.2,0,5.8,2.6,5.8,5.8v8C26.8,22.2,24.2,24.8,21,24.8z"/><path class="st0" d="M26.7,13h-4.9c0,0-3.3,0.4-3.3-2.3c0-3.1,2.7-2.7,2.7-2.7"/><path class="st0" d="M26.7,18.2h-4.9c0,0-3.3-0.5-3.3,3.1c0,4.1,2.7,3.5,2.7,3.5"/><line class="st0" x1="20" y1="12.9" x2="20" y2="18"/><path class="st0" d="M3.2,13h4.9c0,0,3.3,0.4,3.3-2.3C11.5,7.6,8.8,8,8.8,8"/><path class="st0" d="M3.2,18.2h4.9c0,0,3.3-0.5,3.3,3.1c0,4.1-2.7,3.5-2.7,3.5"/><line class="st0" x1="9.9" y1="12.9" x2="9.9" y2="18"/></g></svg>');
  background-size: cover;
}

.card_name_ico.active{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st4" d="M21,24.8H9.1c-3.2,0-5.8-2.6-5.8-5.8v-8c0-3.2,2.6-5.8,5.8-5.8H21c3.2,0,5.8,2.6,5.8,5.8v8C26.8,22.2,24.2,24.8,21,24.8z"/><path class="st4" d="M26.7,13h-4.9c0,0-3.3,0.4-3.3-2.3c0-3.1,2.7-2.7,2.7-2.7"/><path class="st4" d="M26.7,18.2h-4.9c0,0-3.3-0.5-3.3,3.1c0,4.1,2.7,3.5,2.7,3.5"/><line class="st4" x1="20" y1="12.9" x2="20" y2="18"/><path class="st4" d="M3.2,13h4.9c0,0,3.3,0.4,3.3-2.3C11.5,7.6,8.8,8,8.8,8"/><path class="st4" d="M3.2,18.2h4.9c0,0,3.3-0.5,3.3,3.1c0,4.1-2.7,3.5-2.7,3.5"/><line class="st4" x1="9.9" y1="12.9" x2="9.9" y2="18"/></g></svg>');
}

.exp_date_ico{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st0" d="M16,10.3l-7.6,13c-0.6,1.1,0.1,2.4,1.4,2.4h15.1c1.2,0,2-1.3,1.4-2.4l-7.5-13C18.2,9.2,16.7,9.2,16,10.3z"/><g><line class="st0" x1="17.4" y1="19.5" x2="17.4" y2="14.1"/><line class="st0" x1="17.4" y1="22.7" x2="17.4" y2="21.1"/></g><path class="st1" d="M16.6,7.4c0,0-5.1-6.1-10.8-1.2c-5,4.3-1,10.7,2.9,12.6"/><line class="st0" x1="10.8" y1="12.7" x2="10.8" y2="8.3"/><line class="st0" x1="7.2" y1="12" x2="11.5" y2="12"/></g></svg>');
  background-size: cover;
}

.exp_date_ico.active{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st4" d="M16,10.3l-7.6,13c-0.6,1.1,0.1,2.4,1.4,2.4h15.1c1.2,0,2-1.3,1.4-2.4l-7.5-13C18.2,9.2,16.7,9.2,16,10.3z"/><g><line class="st4" x1="17.4" y1="19.5" x2="17.4" y2="14.1"/><line class="st4" x1="17.4" y1="22.7" x2="17.4" y2="21.1"/></g><path class="st4" d="M16.6,7.4c0,0-5.1-6.1-10.8-1.2c-5,4.3-1,10.7,2.9,12.6"/><line class="st4" x1="10.8" y1="12.7" x2="10.8" y2="8.3"/><line class="st4" x1="7.2" y1="12" x2="11.5" y2="12"/></g></svg>');  
}

.cvc_ico{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st1" d="M24.7,9.6h-1.9v8.8c0,1.1-0.9,1.9-1.9,1.9H6.6v1.9c0,1.1,0.9,1.9,1.9,1.9h16.2c1.1,0,1.9-0.9,1.9-1.9V11.6C26.7,10.5,25.8,9.6,24.7,9.6z"/><path class="st1" d="M20.9,20.4H4.7c-1.1,0-1.9-0.9-1.9-1.9V7.7c0-1.1,0.9-1.9,1.9-1.9h16.2c1.1,0,1.9,0.9,1.9,1.9v10.8C22.8,19.5,21.9,20.4,20.9,20.4z"/><line class="st0" x1="3.2" y1="10.1" x2="22.7" y2="10.1"/><line class="st0" x1="22.8" y1="14.1" x2="27.2" y2="14.1"/></g></svg>');
  background-size: cover;
}

.cvc_ico.active{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23808285;stroke-width:1.5;stroke-miterlimit:10;}.st1{fill:none;stroke:%23818486;stroke-width:1.5;stroke-miterlimit:10;}.st2{fill:none;stroke:%23F1666A;stroke-width:1.5;stroke-miterlimit:10;}.st3{fill:%23808285;}.st4{fill:none;stroke:%23662F90;stroke-width:1.5;stroke-miterlimit:10;}.st5{fill:%23662F90;}</style><g><path class="st4" d="M24.7,9.6h-1.9v8.8c0,1.1-0.9,1.9-1.9,1.9H6.6v1.9c0,1.1,0.9,1.9,1.9,1.9h16.2c1.1,0,1.9-0.9,1.9-1.9V11.6C26.7,10.5,25.8,9.6,24.7,9.6z"/><path class="st4" d="M20.9,20.4H4.7c-1.1,0-1.9-0.9-1.9-1.9V7.7c0-1.1,0.9-1.9,1.9-1.9h16.2c1.1,0,1.9,0.9,1.9,1.9v10.8C22.8,19.5,21.9,20.4,20.9,20.4z"/><line class="st4" x1="3.2" y1="10.1" x2="22.7" y2="10.1"/><line class="st4" x1="22.8" y1="14.1" x2="27.2" y2="14.1"/></g></svg>');  
}

.amazon_ico{
  background-image: url('./../images/amazon.png');
  background-size: cover;
}
.profile_ico{
  background-image: url('./../icons/side_menu_profile_ico.svg');
  background-size: cover;
}
.profile_ico.active{
  background-image: url('./../icons/side_menu_profile_ico_active.svg');
  background-size: cover;
}

.account_ico{
  background-image: url('./../icons/account_ico.svg');
  background-size: cover;
}
.account_ico.active{
  background-image: url('./../icons/account_ico_active.svg');
}

.message_ico{
  background-image: url('./../icons/message_ico.svg');
  background-size: cover;
}
.message_ico.active{
  background-image: url('./../icons/message_ico_active.svg');
}

.billing_ico{
  background-image: url('./../icons/billing_ico.svg');
  background-size: cover;
}
.billing_ico.active{
  background-image: url('./../icons/billing_ico_active.svg');
}

.add_item_ico{
  background-image: url('./../icons/add_item_ico.svg');
  background-size: cover;
}
.add_item_ico.active{
  background-image: url('./../icons/add_item_ico_active.svg');
}

.list_item_ico{
  background-image: url('./../icons/list_item_ico.svg');
  background-size: cover;
}
.list_item_ico.active{
  background-image: url('./../icons/list_item_ico_active.svg');
}
.replenish_ico{
  background-image: url('./../icons/replenish_ico.svg');
  background-size: cover;
}
.replenish_ico.active{  
  background-image: url('./../icons/replenish_ico_active.svg');
}

.history_ico{
  background-image: url('./../icons/history_ico.svg');
  background-size: cover;
}
.history_ico.active{
  background-image: url('./../icons/history_ico_active.svg');
}

.batch_history_ico{
  background-image: url('./../icons/batch_history_ico.svg');
  background-size: cover;
}
.batch_history_ico.active{
  background-image: url('./../icons/batch_history_ico_active.svg');
}

.item_history_ico{
  background-image: url('./../icons/item_history_ico.svg');
  background-size: cover;
}
.item_history_ico.active{
  background-image: url('./../icons/item_history_ico_active.svg');
}


.setting_ico{
  background-image: url('./../icons/setting_ico.svg');
  background-size: cover;
}
.setting_ico.active{  
  background-image: url('./../icons/setting_ico_active.svg');
}

.pricer_ico{
  background-image: url('./../icons/pricer_ico.svg');
  background-size: cover;
}
.pricer_ico.active{  
  background-image: url('./../icons/pricer_ico_active.svg');
}

.shipment_ico{
  background-image: url('./../icons/shipment_ico.svg');
  background-size: cover;
}
.shipment_ico.active{  
  background-image: url('./../icons/shipment_ico_active.svg');
}

.note_ico{
  background-image: url('./../icons/note_ico.svg');
  background-size: cover;
}
.note_ico.active{  
  background-image: url('./../icons/note_ico_active.svg');
}

.log_out_ico{
  background-image: url('./../icons/log_out_ico.svg');
  background-size: cover;
}

.log_out_ico.active{
  background-image: url('./../icons/log_out_ico_active.svg');
}

.city_ico{
  background-image: url('./../icons/city_ico.svg');
  background-size: cover;
}

.city_ico.active{
  background-image: url('./../icons/city_ico_active.svg');
}

.street_ico{
  background-image: url('./../icons/street_ico.svg');
  background-size: cover;
}

.street_ico.active{
  background-image: url('./../icons/street_ico_active.svg');
}