
@import "colors.css";
@import "fonts.css";
@import "icons.css";
@import "flags-dropdown.css";


a{
  text-decoration: none !important;
  color: inherit;
}
body{
  cursor: default;
  font-family: 'overpass-regular', sans-serif;
}

.top-nav{
  position: fixed;
  box-shadow: 0 1px 12px 0 rgba(73,45,113,.25),0 0 1px 0 rgba(73,45,113,.11);
  height: 68px;
  width: 100%;
  z-index: 100;
}

.loginLogo{
  margin: 0px 10px;
  width: 10.2rem;
  height: 2.44rem;
}

.footer{
  position: fixed;
  height: 40px; 
  width: 100%;
  bottom: 0;
  background-color:  #FFFF;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .8);
  color: #323852;
  letter-spacing: 1px;
  text-align: center;
  justify-content: center ;
  align-items: center;
  display: -webkit-flex;
  font-weight: 14px;
  font-family: 'overpass-ex-light', sans-serif;
}

.footer a{
  margin: 0px 18px;
}

.footer a:hover{
  color: var(--primary_2);
}

.contentDiv{
  display: table; 
  width:100%;  
  padding-top: 145px; 
  height:calc(95vh - 70px);
}
.contentDivChild{
  display: table-cell; 
  vertical-align: middle;
}

.page-text-top{
  margin-top: 18px;
  text-align: center;
  max-width: 400px;
}
.page-text-top p:first-of-type {
  color: var(--primary_2);
  font-family: 'overpass-bold', sans-serif;
  font-size: 2.75em;
  font-weight: 700;
}

.page-text-top p:last-of-type {
  color: var(--primary_font);
  font-family: 'overpass-ex-light', sans-serif;
  margin-top: -7px;
  margin-bottom: 28px;
  /*font-size: 18px;*/
  font-size:1.375em;
  line-height: 21px;
}


.login-form-inner-div,
.signup-form-inner-div, 
.forgot_pwd-form-inner-div, 
.rstPwd-form-inner-div,
.mws-form-inner-div,
.plan-form-inner-div{
  width:90%; 
  margin-left: 5%;
}

.custom-login-btn{
  margin-top: 20px;
  height: 45px;
  border-radius: 4px;
  font-family: 'overpass-ex-light', sans-serif;
  padding: 6px 0;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1px;
  color: #FFFF;
  box-shadow: -1.5px 2px 2px 4px rgba(73,45,113,.07),-5px 12px 29px -8px rgba(84,58,126,.50);
  background-image: linear-gradient(to left, var(--primary_2), var(--primary_2), rgb(171,33,142), rgb(171,33,142));
}

.custom-login-btn:hover, .custom-login-btn:focus , .custom-login-btn:active{
  color: #FFFF;
}

.custom-pad-div{
  margin-bottom: 10px;
}

.custom-login-input-field{
  background-color: rgb(241,241,241);
  font-family: 'overpass-ex-light', sans-serif;
  padding: 27px 18px 21px 18px;
  font-size: 1.1em;
  border: none;
}

.custom-login-date-field{
  padding-top: 13.0px;
  padding-bottom: 35.80px;
}

input[type=date]::-ms-clear { 
  display: none !important ;
}

.form-control.custom-login-input-field:focus {
  background-color: rgb(255,255,255);
  border-color: #FFFF;
  font-family: 'overpass-regular', sans-serif;
  box-shadow: 0 2px 2px 2px rgba(73,45,113,.15),0 0 2px 2px rgba(84,58,126,.10);
}

.custom-login-input-field.error{
  border: 1px solid var(--error) !important;
}

.custom-label{
  color: var(--primary_font);
  font-family: 'overpass-bold', sans-serif;
  letter-spacing: 0.2px;
  font-size: 1.4em;
}

.forgetPwd{
  font-size: 13.5px;
  float: right;
  cursor: pointer;
  color: var(--primary_font);
  margin-top: 11px;
  font-family: 'overpass-bold', sans-serif;
}

.inner-addon { position: relative;}

.inner-addon .fa {
  position: absolute;
  padding: 14px 14px;
  font-size: 10px;
  color: rgb(181,181,181);
  margin: 11px 6px;
}

.left-addon .fa { left: 3px;}
.left-addon input,select { padding-left: 45px; }

.form-validation-message{
  padding: 8px 0px; 
  color: var(--error);
  font-family: 'overpass-regular', sans-serif;
  text-align: center;
}

.horizontal-line-OR{
  margin:2% 5%; 
  width: 45%; 
  border-top: 2px solid rgb(241,241,241);
}

#OR{
  font-family: 'overpass-ex-light', sans-serif !important;
  color: var(--primary_font);
  font-size: 16px;
}

#dont-have-account{
  font-family: 'overpass-ex-light', sans-serif;
  color: var(--primary_font);
  font-size: 16px;
  text-align: center;
}
#dont-have-account span{
  font-family: 'overpass-bold', sans-serif !important;
  color: var(--primary_2);
}
#dont-have-account a{
  text-decoration: none;
  color: inherit;
}



.signUpAgreement{
  font-size: 14px;
  float: left;
  cursor: default;
  color: var(--primary_font);
  margin-top: 18px;
  font-family: 'overpass-ex-light', sans-serif;
  display: flex;
}
.signUpAgreement span:last-child{
  margin-left: 10px;
  margin-top: -1px;
}
.signUpAgreement span a{
  font-family: 'overpass-bold', sans-serif;
  color: inherit;
}
.signUpAgreement span a:hover{  
  color: var(--primary_2);
}

#Agree{
  /*UnCheck Icon*/
  position:relative; 
  cursor: pointer;
  padding: 8px; 
  height:  15px; width: 15px; 
  z-index: 12;
}

.thank-you-logo{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve"><style type="text/css">.st0{fill:url(%23SVGID_1_);}.st1{fill:none;stroke:url(%23SVGID_2_);stroke-width:11;stroke-miterlimit:10;}</style><g><g><g><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="8.3992" y1="74.8366" x2="141.6008" y2="74.8366"><stop offset="0" style="stop-color:%23AA248D"/><stop offset="1" style="stop-color:%23662F90"/></linearGradient><path class="st0" d="M13.8,141.7c0-22.8-0.6-45.6,0-68.4c0.1-4.6,0.7-7.4,2-12.5c2.9-11,8.1-21.5,16.2-29.7c12.3-12.5,29.5-17.7,46.7-18.2c6.9-0.2,9.4-0.2,15.2,1.5c8.5,2.4,16.5,6.9,23,13c16.3,15,22.2,37.7,18.2,59.1c-4.4,23.8-22.9,43.2-46.8,48.2c-13.3,2.8-28,1.6-41.5,1.8c-12.5,0.3-25,0.5-37.5,0.8c-5.8,0.1-5.8,9.1,0,9c23.5-0.5,47.2-0.1,70.7-1.5c26.3-1.6,50.2-18.6,60-43c7.6-19,7-42.6-1.9-61c-8.8-18.1-26.8-32.6-46.8-36.3c-16.4-3-35.8,0.9-50.3,8.7C20,24.5,6.8,47.6,4.9,71.1c-0.6,7.7-0.1,15.6-0.1,23.4c0,14.7,0,29.5,0,44.2c0,1,0,2,0,3C4.8,147.5,13.8,147.5,13.8,141.7z"/></g></g><linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="35.1975" y1="79.2416" x2="114.0192" y2="79.2416"><stop offset="0" style="stop-color:%23AA248D"/><stop offset="1" style="stop-color:%23662F90"/></linearGradient><polyline class="st1" points="110.1,53.9 65,100.7 39,76.3 "/></g></svg>');
  background-size: cover;
  width: 137px;
  height:137px;
  margin-top:5%; 
}

.additional-info{
  position: relative;
  bottom:0;
  color: var(--primary_1);
  font-family: 'overpass-ex-light', sans-serif;
  font-size: 16px;
  margin-top: 50px;
}

.userMenu{
  position: absolute; 
  font-size: 18px;
  padding-right: 1.5em;
  right: 0.07em; 
  top:10px;  
  z-index: 100;
  font-family: 'overpass-regular', sans-serif;
  color: var(--primary_font);
  cursor: pointer;
}

.userMenu a:hover{
  color: var(--primary_2) !important;
  background-color: transparent !important;
}
.userMenu li a{
  padding:10px;
}
.userMenu li span{
  padding:30px;
}
.userMenu:focus{
  color: var(--primary_2);
}

.subheader{
  padding-top:68px;
}

.pinkSubHeader{
 background-color: var(--subheader); 
 height:50px;
}

.tick-icon{
  transform:rotate(13deg);
  -ms-transform: rotate(13deg);
  -webkit-transform: rotate(13deg);
}

.circular-number-parent-container{
  display:flex; 
  justify-content: center;
}
.circular-number-label{
  width:42px;
  height:42px;
  border-radius:200px;
  background-color: #FFFF;
  color: var(--primary_font);
  border: 2px solid var(--primary_font);
  text-align:center;
  display:table;  
}
.circular-number-label:first-child{
  display:table-cell;
  vertical-align: middle;
  font-family: 'overpass-bold', sans-serif;
  font-size: 25px;
  padding-top: 4.0px;
}
.circular-number-label.activated{
  box-shadow: 0 4px 5px 2px rgba(169,42,126,.25),0 0 1px 0 rgba(73,45,113,.11);
}
.activated{
  color: var(--primary_1);
  border-color: var(--primary_1) !important;
}
.circular-label-seperator.line-1{
  position: absolute;
  border-bottom: 2px solid var(--primary_font);
  width: 33%;
  margin-top: 20px;
  z-index: -1;
  left: 17%;
}
.circular-label-seperator.line-2{
  position: absolute;
  border-bottom: 2px solid var(--primary_font);
  width: 33%;
  margin-top: 20px;
  z-index: -1;
  left: 50%;
}

.circular-label-heading{
  margin-top: 27px;
  font-size: 18px;
  font-family: 'overpass-ex-light', sans-serif;
  color: var(--primary_font);
}

.confirm-email-logo{
  background-image: url('data:image/svg+xml;charset=utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 250 200" style="enable-background:new 0 0 250 200;" xml:space="preserve"><style type="text/css">.st0{fill:url(%23SVGID_1_);}.st1{fill:url(%23SVGID_2_);}.st2{fill:%23AA248D;}.st3{opacity:0.5;fill:url(%23SVGID_3_);}.st4{fill:none;stroke:%23AA248D;stroke-width:9;stroke-miterlimit:10;}</style><g><g><g><g><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="101.7899" y1="54.6136" x2="101.7899" y2="191.3716"><stop offset="0" style="stop-color:%23AA248D"/><stop offset="1" style="stop-color:%23662F90"/></linearGradient><path class="st0" d="M156.7,51.2c-39.8,0-79.7,0-119.5,0c-6.3,0-12.7-0.1-19,0C8.3,51.4,1.6,58.3,1.5,68.1c-0.3,20.3,0,40.6,0,60.8c0,11.8,0,23.6,0,35.4c0,5.5-0.7,11.6,0.2,17.1c1.6,10,10.3,13.3,19.1,13.3c7.2,0,14.5,0,21.7,0c45.4,0,90.9,0,136.3,0c5.7,0,11.5,0.6,16.5-2.7c8.1-5.4,6.9-14.8,6.9-23.2c0-22.9,0-45.9,0-68.8c0-1.9,0-3.8,0-5.6c0-5.5-8.5-5.5-8.5,0c0,18.5,0,37.1,0,55.6c0,9,0,17.9,0,26.9c0,4.1-1.1,8.2-5.8,9.3c-1.3,0.3-2.7,0.2-3.9,0.2c-41.5,0-83,0-124.4,0c-13.9,0-28.2,0.9-42,0C9.5,185.7,10,179,10,173c0-9.4,0-18.7,0-28.1c0-22.8,0-45.7,0-68.5c0-6.3-1.7-16,7.3-16.7c4.1-0.3,8.3,0,12.3,0c41.3,0,82.6,0,123.9,0c1.1,0,2.1,0,3.2,0C162.2,59.7,162.2,51.2,156.7,51.2L156.7,51.2z"/></g></g><g><g><linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="90.6903" y1="59.4561" x2="90.6903" y2="147.75"><stop offset="0" style="stop-color:%23AA248D"/><stop offset="1" style="stop-color:%23662F90"/></linearGradient><path class="st1" d="M6.3,63.1c22.3,21.6,44.7,43.1,67,64.7c5.2,5,10.5,10.1,15.7,15.1c3.1,3,6.2,6.8,10.6,7.9c6.9,1.7,11.8-3.4,16.6-7.3c6.5-5.2,13-10.5,19.6-15.7c13-10.5,26.1-21,39.1-31.4c4.3-3.4-1.8-9.4-6-6c-10.3,8.3-20.7,16.6-31,24.9c-7.3,5.9-14.6,11.7-21.9,17.6c-3.5,2.8-6.9,6-10.6,8.5c-4.2,2.8-6.8-1.1-9.7-3.8c-4.8-4.7-9.7-9.4-14.5-14c-13.9-13.4-27.7-26.8-41.6-40.1c-9.1-8.8-18.2-17.5-27.3-26.3C8.3,53.3,2.3,59.3,6.3,63.1L6.3,63.1z"/></g></g></g><g><g><path class="st2" d="M165,92.8c0-14.2-0.3-28.4,0-42.6c0.1-3.1,0.2-3.9,1.1-7.3c1.6-6.5,4.6-12.8,9.2-17.8c7.1-7.7,17.2-11.3,27.5-11.8c2.4-0.1,4.9-0.2,7.3,0c-0.5,0-0.3-0.1,0.4,0.1c0.8,0.1,1.6,0.3,2.3,0.5c5.4,1.4,10.4,4.1,14.5,7.9c22.2,20.2,11.9,60-18.1,65.5c-8.1,1.5-16.9,0.8-25,0.9c-7.8,0.2-15.6,0.3-23.4,0.5c-5.5,0.1-5.5,8.6,0,8.5c7.6-0.2,15.3-0.3,22.9-0.5c8-0.2,16.2,0.2,24.2-0.7c31.3-3.6,48.5-38.3,35.8-66.2C232.4,5.3,204.1-1.3,181.2,10c-14.3,7-23.4,22.4-24.7,38c-0.5,6-0.1,12.1-0.1,18.1c0,8.9,0,17.8,0,26.6C156.5,98.3,165,98.3,165,92.8z"/></g></g><linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="16.9551" y1="165.341" x2="43.0459" y2="165.341"><stop offset="0" style="stop-color:%23AA248D"/><stop offset="1" style="stop-color:%23662F90"/></linearGradient><path class="st3" d="M17,151.7V173c0,3.3,2.7,6,6,6H43L17,151.7z"/><line class="st4" x1="200.5" y1="46.1" x2="201.3" y2="75.8"/><line class="st4" x1="200" y1="27.3" x2="200" y2="36.2"/></g></svg>');
  background-size:cover;
  width: 180px;
  height:180px;   
}

.row-center-pad{
  justify-content: center;
}

#stepsCol{
  display:flex; 
  justify-content: right;
}

.step-block{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: var(--subheader);
  color: white;
  font-size: 29px;
  font-family: "overpass-bold", sans-serif;
  text-align: center;
  padding-top: 6.5px; 
}

.steps{
  display: block;
}

.step-seperator{
  margin-left: 22px;
  width:2px; 
  height:65px; 
  background-color: var(--subheader);
}


.custom-country-select{
  background-image: url('./../icons/dropdown_caret_ico.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60px 13px;
  height: 51px;
  padding-left: 25px;
  padding-top: 17.5px;  
  background-color: rgb(241,241,241);
  font-family: 'overpass-ex-light', sans-serif;
  border:none;
  cursor: pointer;
}

.custom-country-select.focus{
  background-color: rgb(255,255,255);
  border-color: #FFFF;
  font-family: 'overpass-regular', sans-serif;
  border: 1px solid rgba(0,0,0,.10);
  box-shadow: none;
}

.custom-country-select.error{
  border: 1px solid var(--error) !important;
}

.countries-dropdown-container{
  display: block;
  max-height: 250px; 
  overflow-y: scroll;
}
.countries-menu{  
  padding: 5px 2px;
  font-family: 'overpass-ex-light', sans-serif;
}
.countries-item:hover{
  padding: 9px 5px;
  cursor: pointer;
  color: var(--primary_1);
}

#MWS_Popup{
  font-family: 'overpass-ex-light',sans-serif;
  font-size: 16px;
  margin: 22px;
  color: var(--primary_2);  
}

#MWS_Popup p{
  text-underline-position: under;
  text-decoration: underline;
}

.mws-auth-token-description{
font-size: 16px;
font-family: 'overpass-ex-light',sans-serif;
color: var(--primary_font);
}

.page-text-top-padding{
  max-width: none;
}

#SelectPlanTable{
  vertical-align: middle !important;
}
#SelectPlanTable th{
  font-family: 'overpass-regular', sans-serif;
  border: none;
  text-align: center;
  width: 24%;
  font-size: 20px;
  margin-top: 1px;
}
#SelectPlanTable th.spaced{width: 1%;}
#SelectPlanTable tbody>tr>td {border-top: none; border-bottom:1px solid #ececed;}
#SelectPlanTable tbody>tr>td:first-child{
  color: var(--primary_font);
  text-align: left;
  font-size: 16px;
  font-family: 'overpass-ex-light', sans-serif;
}
#SelectPlanTable table{
  margin-top:10px;
}
#SelectPlanTable tbody > tr:last-child > td {
    border-bottom: 0;
}

#SelectPlanTable tbody>tr>td{  
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  color: var(--primary_font);
  font-family: 'overpass-ex-light', sans-serif;
}

#SelectPlanTable .price td{
  font-size: 31px;
  color: #c5892f;
  font-family: 'overpass-bold', sans-serif;
}

#SelectPlanTable th.basic,th.standard{
  min-width:145px !important;
  position:relative;
}

#SelectPlanTable th:first-child{
  width: 50%;
}

#SelectPlanTable[selected="basic"] th.basic{  
  color: #FFFF;
  background-color: #8ca6b4;
  border-left: 2px solid #8ca6b4;  
}

#SelectPlanTable[selected="basic"] th.standard{  
  color: #FFFF;
  background-color: #c5892f;
  border-left: 2px solid #c5892f;
}

#SelectPlanTable[selected="basic"] tbody>tr>:nth-child(2){   
  box-shadow: -2px 0px 1px 0px #8ca6b4 inset;  
  border-left: 2px solid #8ca6b4;
  background-color: #f2faff;
}
#SelectPlanTable[selected="basic"] tbody>tr>:nth-child(4){   
  background-color: #fefbf7;
}
#SelectPlanTable[selected="basic"] .price td:nth-child(2){
  color: #8ca6b4;
}
#SelectPlanTable[selected="basic"] #SelectBasic span{
  margin-right: 0.5em;
}

#SelectPlanTable[selected="standard"] th.basic{  
  color: #FFFF;
  background-color: #c5892f;
  border-left: 2px solid #c5892f;
}

#SelectPlanTable[selected="standard"] th.standard{  
  color: #FFFF;
  background-color: #8ca6b4;
  border-left: 2px solid #8ca6b4;
}

#SelectPlanTable[selected="standard"] tbody>tr>:nth-child(4){   
  box-shadow: -2px 0px 1px 0px #8ca6b4 inset;  
  border-left: 2px solid #8ca6b4;
  background-color: #f2faff;
}

#SelectPlanTable[selected="standard"] tbody>tr>:nth-child(2){   
  background-color: #fefbf7;
}

#SelectPlanTable[selected="standard"] #SelectStandard, #SelectPlanTable[selected="basic"] #SelectBasic{
  border-top: 2px solid #8ca6b4;
  border-bottom: 2px solid #8ca6b4;
  background-color: #FFFF;
  box-shadow: -2px 0px 1px 0px #8ca6b4 inset, -2px 3px 5px 0 rgba(73,45,113,.25),0 0 1px 0 rgba(73,45,113,.11);
}

#SelectPlanTable[selected="standard"] .price td:last-child{
  color: #8ca6b4;
}

#SelectPlanTable[selected="standard"] #SelectStandard span{
  margin-right: 0.5em;
}

.selected-plan{
  cursor: pointer;
  text-align: center !important;
  background-color: #FFFF !important;
  font-family: 'overpass-regular',sans-serif !important; 
}
.select-check{
  width:19px; 
  height:19px;
  margin-left: auto;
  margin-top: 6.5px;
}
.check-mark-plan, .check-icon-promo-detail{
  position:absolute; 
  top:-10px; 
  margin-left:-27px; 
  border-radius:100px; 
  border:2px solid white; 
  width: 25px; 
  height: 25px;
}

#stepsCol2{
  position:absolute;
  left: 6.5%;
  display:flex; 
  justify-content: right;
}

.step-seperator-long{
  margin-left: 22px;
  width: 2px; 
  height: 79em;
  background-color: var(--subheader);
}

#get-two-month-free{
  background-color:#f5989d; 
  border-radius: 100px;  
  height: 23px;
  line-height: 23px;
  color:white; 
  padding: 1.5px;
  min-width: 110px;
  text-align: center;
  font-size: 0.9em;
}

.save-price{
  background-color:#FFFF; 
  border-radius: 100px;  
  color: inherit; 
  padding: 1.5px;
  max-width: 142px;
  text-align: center;
  font-size: 50%;
  margin-left: auto;
  margin-right: auto;
}

#FreeTrial{
    color:#f5989d; 
    font-family:'overpass-bold', sans-serif;
}

.info{
  width:  1.11em;
  height: 1.11em;
  margin-left: 25px;
  margin-top: 1.5px;
  cursor: pointer;
}

.tooltip-inner {
  box-shadow: -2px 3px 5px 0 rgba(73,45,113,.25),0 0 1px 0 rgba(73,45,113,.11);
  font-family: 'overpass-ex-light', sans-serif;
  font-size: 0.99rem;
  background-color: #FFFF !important;  
  color: var(--primary_font);
  padding: 0.4em;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #FFFF !important;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #FFFF !important;
}

.Select-Plan-Table-Bottom-Description-Container{  
  margin-top: 40px;
  min-width: 310px;
}

.Select-Plan-Table-Bottom-Description{
  margin-left:auto;
  margin-right:auto;  
  font-size: 1.5em;
  max-width: 538px;
  text-align: center;
  font-family: 'overpass-ex-light',sans-serif;
  color: var(--primary_font);
}

.Select-Plan-Table-Bottom-Description a{
  font-family: 'overpass-regular', sans-serif;
  border-bottom: 2px solid var(--primary_2);
  color: var(--primary_2);    
}

.select-yearly-monthly{
  display:inline-flex;
}
.select-yearly-monthly span:first-child{
    margin: 0 8px 0 0;
}
.select-yearly-monthly span:last-child{
    margin: 0 0 0 5px;
}

#Seperator-Sub-Form-Payment-Method{
  width: 100%; 
  margin:50px 0px;
}
#Payment-Method-Form-Fields .inner-addon{
  margin-top:11px;
}

.sub-page-payment-method{
  margin-left: auto;
  margin-right: auto;
}
      
#cvc_ico_1, #cvc_ico_2{
    object-fit: contain;
    margin-top: 8.9px;
    height: 82%;
    width: 86%;
}
#cvc_ico_2{
  margin-left: -20px;
}

.payment-method-promo .check-icon-promo-detail{
  margin: 3px 0 !important;
  position: relative;
  width: 19px;
  height: 19px;
  border: none;
  top: 0px;

}
.payment-method-promo td{
  font-family: 'overpass-ex-light',sans-serif;
  border-bottom: 1px solid #dee2e6;
  font-size: 1.35em;
  border-top: none;
  padding: 0.55em 0.5em 0.55em 0;
}
.payment-method-promo span{
  color: var(--primary_2);
}






/* #################$$$$$$$$$$$$$$ AFTER LOGIN APPLICATION STARTS HERE $$$$$$$$$$$$$$$$$$$$$$$##############*/

#SideMenu{
    position: fixed;    
    left:0;
    display:block;
    min-width: 58px;
    z-index:15;
    width: 50px;        
    height:100vh;    
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;          
    color: #FFFF;
    background-image: linear-gradient(to top, rgb(107,43,145), rgb(171,33,142));
    box-shadow: 0px 0px 15px 0px rgba(128, 130, 133, 0.35);
    transition: width 0.05s;
    -webkit-transition: width 0.05s; 
    -moz-transition: width 0.05s;    
}
#SideMenu::-webkit-scrollbar { 
  display: none;  
}
.side-icon{
  margin:16px 10px 0 4px;  
  position:absolute;
  height: 45px;
  width: 45px;     
}
.side-icon-label{
  position:absolute; 
  margin-left: 57px;
  margin-top: 26px; 
  height: 15px;
  width: 134px;      
  opacity: 0;
}
.side-icon-2{ 
  height: 20px;
  width: 20px;
  margin:18px 17px 17px 17px;  
  position: absolute;
}
.side-icon-2-label{ 
  font-family: 'overpass-regular',sans-serif !important; 
  min-width: 110px;
  font-size: 18px;  
  margin:18px 60px 17px 60px;    
}
.side-icon-collapse{
  font-size:24px;
  position:absolute;
  margin: 15.5px 17px 0px 178px;   
}

.collapsable-menu{
  margin-left: -39px;
}
.collapsed-menu-icon .side-icon-2{
  margin: 0 17px;
}
.collapsable-menu .sidemenu-item{
  background-color: rgba(255,255,255,0.4);
}

.side-menu-ul{
  padding:0; 
  list-style-type:none;   
  position:absolute; 
  margin-top:70px;
}

.side-menu-ul li:hover{
  cursor:pointer;
  color: var(--primary_2);
  background-color: #FFFF;  
}


#TopSearchableMenu{
  top:0;
  left:58px;
  z-index: 10;
  padding: 1.2em;
  width: calc(100% - 58px); 
  position: fixed;  
  background-color: #FFFF;  
}

/*
#TopSearchableMenu{ 
  top:0;
  min-width:900px;
  margin-left:50px;
  width: 100%; 
  padding: 1.2em;
  background-color:yellow;  
}
*/
#TopSearchableMenu .row{
  align-items: center;
}

#TopSearchableMenu #Label{
  padding: 0px;
  font-size: 1.55em;
  color: var(--primary_2) !important;
  font-family: 'overpass-bold',sans-serif;
}
#TopSearchableMenu .inner-addon .fa{
  margin: 6px 6px ;
}
#TopSearchableMenu .inner-addon .divider{
  font-size: 24.5px;
  padding: 0 4px;
  margin: 0 38px;
  font-weight: lighter;
  font-family: ubuntu;
}
#AmazonSearch{
  padding: 5px 40px 0px 60px;
  width: 96%;
}
#FBA_FBM_Buttons{
  font-family: 'overpass-ex-light',sans-serif;  
  margin-left: -1em;  
}
#FBA_FBM_Buttons>button{
  background-color: rgb(241,241,241);
  color: var(--primary_font);
  padding: 6.5px 12px;    
  border:none;  
}
#FBA_FBM_Buttons>button:focus{
  outline: none;
  box-shadow:none;
}

.fba-fbm-option-active{
  outline: 0;
  box-shadow: none;  
  color: var(--primary_2) !important;
  background-color: #FFFF !important;  
  border: 1px solid var(--primary_2) !important;
}

.sort-options{   
  display: block;
  margin: 0;
  border-radius: 5px;
  color: var(--primary_2);
  min-width: 144px !important;
  max-width: 160px;
  border: 1.5px solid var(--primary_2);  
  padding: 10px 14px 6px 14px;  
  font-family: 'overpass-ex-light',sans-serif;  
}
.sort-options>div{ cursor:pointer; }

.sort-options .mui-dropdown__menu{ width: 100%; top: 33px !important; }

.sort-options a:hover{ background-color: transparent !important; }
.sort-options li a{ padding:10px; }

.sort-options li{
  border-top: 1px solid rgba(148,159,164, 0.5);
  border-bottom: 1px solid rgba(148,159,164, 0.5);
}
.sort-options li:first-child, .sort-options li:last-child{
  border:none;
}
.sort-options li a:hover{
  color: var(--primary_2) !important;
}
.sort-options li span{
  padding: 11px;
}
.sort-options:focus{
  color: var(--primary_2);
}
.active-sort-options{ 
  border:none !important;
  border-radius: 0;
  box-shadow: 0 2px 2px 2px rgba(73,45,113,.15),0 0 2px 2px rgba(84,58,126,.10);}
.caret-dropdown{
  padding-bottom:9px; 
  float:right;
}


.row.no-gutters {margin-right: 0; margin-left: 0;}
.row.no-gutters> [class^="col-"],
.row.no-gutters > [class*=" col-"] {padding-right: 0; padding-left: 0;}

.added-items-floating-card{
  z-index:10;
  bottom:15px; 
  position:fixed;    
  margin-left:58px;
  min-height: 4.5em;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(147, 149, 152, 0.35);
}
.floating-item-card-text{
  width:30%; 
  padding-top: 3px;
  text-align: right;
}
#Add_Items_Toggle{
  font-size:17px;
  color: var(--primary_2);
  font-family: 'overpass-regular',sans-serif;  
}

.floating-item-card-text span{
  font-size:19px;
  color: rgb(77, 77, 79);
  font-family: 'overpass-ex-light',sans-serif;  
}

.dashboard-content{
  position: absolute;
  left:58px;
  top: 5.5em;
}







/*############## Media Queries Xtra Small ################*/
@media (max-width: 575px) {
  .page-text-top-padding{
    padding-left: 0;
  }

  .steps{
    display: flex;
   } 
  .step-block{
    margin-bottom: 0px;
    margin-left: 30px;
  }
  .subheader{
    position:fixed;
    width:100%;
    padding-top: 68px;   
    z-index: 10; 
  }
  .step-seperator{
    transform: rotate(100grad);
    margin-top:-5px;
  }
  #stepsCol{
    justify-content: center !important;
  }
  #stepsCol2{
    display:none !important;
  }
  #MWSAuth, #ConfirmEmail, #SelectPlan{
    padding-top: 250px !important;    
  }
  .select-check{
    height:17px;
    width:17px;
  }
  .table-detail-cell{
    display:block !important; 
  }
  .Select-Plan-Table-Bottom-Description-Container{
    width: 100% !important;
    padding-left: 4.7% !important;
  }
  #cvc_ico_1, #cvc_ico_2{
    display: none;
  }
}


/*############## Media Queries Small ################*/
@media (max-width: 767px){
  .page-text-top-padding{
    padding-left: 3% !important;
    max-width: none;
  }

  #SelectPlanTable .price td{
    font-size: 23px;
  }
  #SelectPlanTable tbody>tr>td:first-child{
    font-size: 13.5px;
  }
  #SelectPlanTable tbody>tr>td{ 
    font-size: 18px;
  }
  #SelectPlanTable th{
    font-size: 18px;
  }
  .select-check{
    height:14px;
    width:14px;
    margin-top: 3.5px;
  }
  .Select-Plan-Table-Bottom-Description-Container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #stepsCol2{
    display:none !important;
  }
  #TopSearchableMenu{
    left:0;
    width: 100%;
  }
  .sort-options{margin:12px 0;}
  #AmazonSearch{width:100%;}
  #FBA_FBM_Buttons{margin-left:0 !important;}
  .added-items-floating-card{margin-left:0px;}
}

@media (max-width: 1146px) {
  #FBA_FBM_Buttons{ margin-left: 3em;}
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
.left-addon .form-control {
  height: 50px;
}