<template>
    <div id="EmailConfirmation">

<LoggedInNav></LoggedInNav>
    <!-- Begins: Wellcome Sec -->
    <section class="confirmtabs">
      <div class="confirmDetail">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="confirmicon active">
                <a href="javascript:void(0)">1</a>
                <p>Email Confirmed</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="confirmicon">
                <a href="javascript:void(0)">2</a>
                <p>Connect Platform</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="confirmicon">
                <a href="javascript:void(0)">3</a>
                <p>Select Plan</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End: Logo Header -->

    <!-- Begins: Wellcome Sec -->
    <section class="confirmSec">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="wellcomeBack">
                <i class="message-logo"></i>
                <h2>Confirm your email</h2>
                <p>Please check your mail box to verify the seller optics account</p>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <form>
                <div class="loginbtn">
                <form @submit.prevent="resend"> 
                  <button type="submit" id="resendemail" v-on:click="resend">Resend Email</button>
                </form>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End: Wellcome Sec -->
    </div>
</template>

<script>
    import LoggedInNav from './Static/LoggedInHeader';
    import axios from 'axios';

    export default {

        beforeCreate() {
          let app = this;
          if (!localStorage.getItem("token")) {
            app.$router.push("/login");
          }
        },
        
        components: {
            LoggedInNav
        },

        methods: {
            resend() {
                event.preventDefault();
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                console.log(localStorage.getItem('token'));
                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'sendwelcomemail',
                    headers: headers
                })
                .then(function () {
                    $("#resendemail").prop("disabled", true);
                    setTimeout(function() {
                    $('#resendemail').prop("disabled", false);
                    }, 60000);
                    console.log('data');
                })
                .catch(function (response) {
                    //handle error
                    iziToast.show({
                        title: "Error",
                        message:  "Invalid Credentials",
                        backgroundColor: '#f54242',
                        color: '#FFFFFF',
                        progressBar: true,
                        icon: 'fa fa-exclamation-circle',
                        iconColor: '#FFFFFF',
                        position: 'topCenter',
                        titleColor: '#FFFFFF',
                        messageColor: '#FFFFFF',
                        showIco:true,
                    });
                });
            }
        }
    }
</script>
