<template>
    <div id=dashboard>
        <DashboardNavbar></DashboardNavbar>
        <DashboardHeader @searchInput="getSearch" @dropdownInput="getDropdown"></DashboardHeader>
            <section class="cartSec">
                <div class="container-fluid">
                
                    <!-- Begins: Cart Sec  -->
                    <div class="cartDetail cartHome" v-if="list == false">
                        <div class="row">
                            <div class="col-md-8 cl-sm-12 col-md-offset-2 col-xs-12">
                                <img src="../../../public/assets/img/cartimage.png" class="navbar-brand-img" alt="...">
                                <p>Search  products in Amazon Store and add in your seller optics account  </p>
                            </div>
                        </div>
                    </div>



                    <div class="cartDetail" v-else>
                        <!-- <section class="cartSec"> -->
                            <!-- <div class="container-fluid"> -->
                                <div class="row">
                                <div class="proList">
                                    <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-12" v-if="presortPriceVal == true || presortVal == true">
                                        <div class="productname">
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <div class="productname">
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <div class="productname">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="productname">
                                        <h3>TITLE:</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <div class="productname">
                                        <h3>ASIN:</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <div class="productname">
                                        <h3>EAN/UPC:</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <div class="productname">
                                        <h3>RANK:</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <div class="productname">
                                        <h3>CATEGORY:</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <div class="productname">
                                        <h3>LIST PRICE:</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <div class="productname">
                                        <h3>MY PRICE:</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <div class="productname">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="box custom">
                                    <div class="force-scroll">
                                    <!-- Keyword -->
                                    <!-- Price and grade listing for keywords -->
                                    <div id="products" v-if="products && dropdown == 'Price & Grade'">
                                        <div class="proDetail" v-for="(product, index) in products" :key="index">
                                            <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="questionbody">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading1" v-if="product.AttributeSets.ns2_ItemAttributes.ns2_Title.length >= 95">
                                                        <h4 class="panel-title">
                                                        <a data-toggle="collapse" :id="'collapse'+index" data-parent="#accordion" :href="'#collapse'+index" aria-expanded="false" aria-controls="collapseTwo" class="collapsed" @click="toggleClass(index)">
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>

                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proImage">
                                                <img :src="product.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="proText">
                                                <p v-if="product.AttributeSets.ns2_ItemAttributes.ns2_Title.length < 95">{{product.AttributeSets.ns2_ItemAttributes.ns2_Title}}</p>
                                                <p v-else>{{product.AttributeSets.ns2_ItemAttributes.ns2_Title.substring(0,91)+""}}</p>
                                                <div class="sliderBox">
                                                    <div :id="'collapse'+index" :class="someClass" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>{{product.AttributeSets.ns2_ItemAttributes.ns2_Title.substring(91,product.AttributeSets.ns2_ItemAttributes.ns2_Title.length)}}</p>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{product.Identifiers.MarketplaceASIN.ASIN}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>N/A</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="product.SalesRankings.length == 0">-</p>
                                                <p v-else-if="'Rank' in product.SalesRankings.SalesRank"></p>
                                                <p v-else-if="product.SalesRankings.SalesRank.Rank">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else-if="product.SalesRankings.SalesRank[0]">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else-if="product.SalesRankings.SalesRank[0].Rank">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else>-</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="!product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice">-</p>
                                                <p v-else>{{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount}} {{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <h6>N/A</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="probtn">
                                                <a :href="axios.defaults.path_price_grade+'?asin='+product.Identifiers.MarketplaceASIN.ASIN">ADD</a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Price and grade listing for keywords -->

                                    <!-- Price listing for keywords -->
                                    <div id="products" v-if="products && dropdown == 'Grade'">
                                        <div class="proDetail" v-for="(product, index) in products" :key="index">
                                            <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="questionbody">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading1" v-if="product.AttributeSets.ns2_ItemAttributes.ns2_Title.length >= 95">
                                                        <h4 class="panel-title">
                                                        <a data-toggle="collapse" :id="'collapse'+index" data-parent="#accordion" :href="'#collapse'+index" aria-expanded="false" aria-controls="collapseTwo" class="collapsed" @click="toggleClass(index)">
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>

                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proImage">
                                                <img :src="product.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="proText">
                                                <p v-if="product.AttributeSets.ns2_ItemAttributes.ns2_Title.length < 95">{{product.AttributeSets.ns2_ItemAttributes.ns2_Title}}</p>
                                                <p v-else>{{product.AttributeSets.ns2_ItemAttributes.ns2_Title.substring(0,91)+""}}</p>
                                                <div class="sliderBox">
                                                    <div :id="'collapse'+index" :class="someClass" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>{{product.AttributeSets.ns2_ItemAttributes.ns2_Title.substring(91,product.AttributeSets.ns2_ItemAttributes.ns2_Title.length)}}</p>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{product.Identifiers.MarketplaceASIN.ASIN}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>N/A</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="product.SalesRankings.length == 0">-</p>
                                                <p v-else-if="'Rank' in product.SalesRankings.SalesRank"></p>
                                                <p v-else-if="product.SalesRankings.SalesRank.Rank">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else-if="product.SalesRankings.SalesRank[0]">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else-if="product.SalesRankings.SalesRank[0].Rank">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else>-</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="!product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice">-</p>
                                                <p v-else>{{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount}} {{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <h6>N/A</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="probtn">
                                                <a :href="axios.defaults.path_grade+'?asin='+product.Identifiers.MarketplaceASIN.ASIN">ADD</a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Price listing for keywords -->

                                    <!-- Presort & Price listing for keywords -->
                                    <div id="products" v-if="products && dropdown == 'Presort & Price'">
                                        <div class="proDetail" v-for="(product, index) in products" :key="index">
                                            <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-12" v-if="presortPriceVal == true">
                                                <div class="probtn">
                                                <a @click="getPresortPriceVals" :href="axios.defaults.path_item_price_grading+'?asin='+product.Identifiers.MarketplaceASIN.ASIN">ADD</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="questionbody">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading1" v-if="product.AttributeSets.ns2_ItemAttributes.ns2_Title.length >= 95">
                                                        <h4 class="panel-title">
                                                        <a data-toggle="collapse" :id="'collapse'+index" data-parent="#accordion" :href="'#collapse'+index" aria-expanded="false" aria-controls="collapseTwo" class="collapsed" @click="toggleClass(index)">
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>

                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proImage">
                                                <img :src="product.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="proText">
                                                <p v-if="product.AttributeSets.ns2_ItemAttributes.ns2_Title.length < 95">{{product.AttributeSets.ns2_ItemAttributes.ns2_Title}}</p>
                                                <p v-else>{{product.AttributeSets.ns2_ItemAttributes.ns2_Title.substring(0,91)+""}}</p>
                                                <div class="sliderBox">
                                                    <div :id="'collapse'+index" :class="someClass" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>{{product.AttributeSets.ns2_ItemAttributes.ns2_Title.substring(91,product.AttributeSets.ns2_ItemAttributes.ns2_Title.length)}}</p>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{product.Identifiers.MarketplaceASIN.ASIN}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>N/A</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="product.SalesRankings.length == 0">-</p>
                                                <p v-else-if="'Rank' in product.SalesRankings.SalesRank"></p>
                                                <p v-else-if="product.SalesRankings.SalesRank.Rank">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else-if="product.SalesRankings.SalesRank[0]">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else-if="product.SalesRankings.SalesRank[0].Rank">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else>-</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="!product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice">-</p>
                                                <p v-else>{{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount}} {{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <h6>N/A</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12" v-if="presortPriceVal == false">
                                                <div class="probtn">
                                                <a @click="getPresortPriceVals" :href="axios.defaults.path_item_price_grading+'?asin='+product.Identifiers.MarketplaceASIN.ASIN">ADD</a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Price listing for keywords -->

                                    <!-- Price listing for keywords -->
                                    <div id="products" v-if="products && dropdown == 'Presort'">
                                        <div class="proDetail" v-for="(product, index) in products" :key="index">
                                            <div class="row" :id="'row-'+index">
                                            <div class="col-md-1 col-sm-1 col-xs-12" v-if="presortVal == true">
                                                <div class="probtn">
                                                <a href="#" @click="addItem(index,product.Identifiers.MarketplaceASIN.ASIN,product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup,product.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL,product.AttributeSets.ns2_ItemAttributes.ns2_Title)">ADD</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="questionbody">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading1" v-if="product.AttributeSets.ns2_ItemAttributes.ns2_Title.length >= 95">
                                                        <h4 class="panel-title">
                                                        <a data-toggle="collapse" :id="'collapse'+index" data-parent="#accordion" :href="'#collapse'+index" aria-expanded="false" aria-controls="collapseTwo" class="collapsed" @click="toggleClass(index)">
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>

                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proImage">
                                                <img :src="product.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="proText">
                                                <p v-if="product.AttributeSets.ns2_ItemAttributes.ns2_Title.length < 95">{{product.AttributeSets.ns2_ItemAttributes.ns2_Title}}</p>
                                                <p v-else>{{product.AttributeSets.ns2_ItemAttributes.ns2_Title.substring(0,91)+""}}</p>
                                                <div class="sliderBox">
                                                    <div :id="'collapse'+index" :class="someClass" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <p>{{product.AttributeSets.ns2_ItemAttributes.ns2_Title.substring(91,product.AttributeSets.ns2_ItemAttributes.ns2_Title.length)}}</p>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{product.Identifiers.MarketplaceASIN.ASIN}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>N/A</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText" id="rank">
                                                <p v-if="product.SalesRankings.length == 0">-</p>
                                                <p v-else-if="'Rank' in product.SalesRankings.SalesRank"></p>
                                                <p v-else-if="product.SalesRankings.SalesRank.Rank">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else-if="product.SalesRankings.SalesRank[0]">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else-if="product.SalesRankings.SalesRank[0].Rank">{{product.SalesRankings.SalesRank[0].Rank}}</p>
                                                <p v-else>-</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText" id="listPrice">
                                                <p v-if="!product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice">N/A</p>
                                                <p v-else>{{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount}} {{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <h6>N/A</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12" v-if="presortVal == false">
                                                <div class="probtn">
                                                <a href="#" @click="addItem">ADD</a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Price listing for keywords -->

                                    <!-- ASIN -->
                                    <!-- Price and grade listing for ASIN -->
                                    <div id="products" v-if="asinProduct && dropdown == 'Price & Grade'">
                                        <div class="proDetail">
                                            <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="questionbody">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading1" style="display:none">
                                                        <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proImage">
                                                <img :src="asinProduct.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_Title}}</p>
                                                <div class="sliderBox">
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.Identifiers.MarketplaceASIN.ASIN}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>N/A</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="asinProduct.SalesRankings.SalesRank">{{asinProduct.SalesRankings.SalesRank[0].Rank}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="!asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice">-</p>
                                                <p v-else>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount}} {{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <h6>N/A</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="probtn">
                                                <a :href="axios.defaults.path_price_grade+'?asin='+asinProduct.Identifiers.MarketplaceASIN.ASIN">ADD</a>
                                                </div>
                                            </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End of Price and grade listing for ASIN -->

                                    <!-- Grade listing for ASIN -->
                                    <div id="products" v-if="asinProduct && dropdown == 'Grade'">
                                        <div class="proDetail">
                                            <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="questionbody">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading1" style="display:none">
                                                        <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proImage">
                                                <img :src="asinProduct.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_Title}}</p>
                                                <div class="sliderBox">
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.Identifiers.MarketplaceASIN.ASIN}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>N/A</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="asinProduct.SalesRankings.SalesRank">{{asinProduct.SalesRankings.SalesRank[0].Rank}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="!asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice">-</p>
                                                <p v-else>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount}} {{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <h6>N/A</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="probtn">
                                                <a :href="axios.defaults.path_price_grade+'?asin='+asinProduct.Identifiers.MarketplaceASIN.ASIN">ADD</a>
                                                </div>
                                            </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End of Grade listing for ASIN -->

                                    <!-- Price and grade listing for ASIN -->
                                    <div id="products" v-if="asinProduct && dropdown == 'Presort & Price'">
                                        <div class="proDetail">
                                            <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-12" v-if="presortPriceVal == true">
                                                <div class="probtn">
                                                <a :href="axios.defaults.path_price_grade+'?asin='+asinProduct.Identifiers.MarketplaceASIN.ASIN">ADD</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="questionbody">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading1" style="display:none">
                                                        <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proImage">
                                                <img :src="asinProduct.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_Title}}</p>
                                                <div class="sliderBox">
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.Identifiers.MarketplaceASIN.ASIN}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>N/A</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="asinProduct.SalesRankings.SalesRank">{{asinProduct.SalesRankings.SalesRank[0].Rank}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="!asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice">-</p>
                                                <p v-else>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount}} {{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <h6>N/A</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12" v-if="presortPriceVal == false">
                                                <div class="probtn">
                                                <a :href="axios.defaults.path_price_grade+'?asin='+asinProduct.Identifiers.MarketplaceASIN.ASIN">ADD</a>
                                                </div>
                                            </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End of Price and grade listing for ASIN -->

                                    <!-- Grade listing for ASIN -->
                                    <div id="products" v-if="asinProduct && dropdown == 'Presort'">
                                        <div class="proDetail">
                                            <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-12" v-if="presortVal == true">
                                                <div class="probtn">
                                                <a :href="axios.defaults.path_price_grade+'?asin='+asinProduct.Identifiers.MarketplaceASIN.ASIN">ADD</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="questionbody">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading1" style="display:none">
                                                        <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proImage">
                                                <img :src="asinProduct.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_Title}}</p>
                                                <div class="sliderBox">
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.Identifiers.MarketplaceASIN.ASIN}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>N/A</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="asinProduct.SalesRankings.SalesRank">{{asinProduct.SalesRankings.SalesRank[0].Rank}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <p v-if="!asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice">-</p>
                                                <p v-else>{{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount}} {{asinProduct.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12">
                                                <div class="proText">
                                                <h6>N/A</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-12" v-if="presortVal == false">
                                                <div class="probtn">
                                                <a :href="axios.defaults.path_price_grade+'?asin='+asinProduct.Identifiers.MarketplaceASIN.ASIN">ADD</a>
                                                </div>
                                            </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End of Grade listing for ASIN -->
                                    </div>
                                </div>
                                </div>
                            <!-- </div> -->
                        <!-- </section> -->
                    </div>
                    <!-- Ends: Cart Sec  -->
                
                
                    <!-- Ends: Footer Sec  -->
                </div>
            </section>
        <DashboardFooter></DashboardFooter>
        <DashboardPresortPrice @presortPriceSidebar="getPresortPrice" v-if="dropdown == 'Presort & Price'"></DashboardPresortPrice>
        <DashboardPresort @presortSidebar="getPresort" v-if="dropdown == 'Presort'"></DashboardPresort>
        <div class="modal proCancel" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                <!-- Modal Header -->
                <!-- Modal body -->
                <div class="modal-body">
                    <h2>Are you Sure?</h2>
                    <p> you want to remove this product  form your added list items</p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-danger">CONFIRM</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import DashboardNavbar from './Static/DashboardNavbar';
import DashboardHeader from './Static/DashboardHeader';
import DashboardFooter from './Static/DashboardFooter';
import DashboardPresortPrice from './Static/DashboardPresortPrice';
import DashboardPresort from './Static/DashboardPresort';
import axios from 'axios';

export default {
    components: {
        DashboardNavbar,
        DashboardHeader,
        DashboardFooter,
        DashboardPresortPrice,
        DashboardPresort
    },

    data() {
        return{
            searchField: localStorage.search,
            products: '',
            asinProduct: '',
            someClass: '',
            dropdown: localStorage.dropdown,
            note: localStorage.note,
            is_presort: false,
            presortVal: false,
            presortPriceVal: false,
            list: false,
        }
    },

    mounted() {
        $(document).ready(function(){
            $('.customer-logos').slick({
                slidesToShow: 14,
                slidesToScroll: 1,
                autoplay:true ,
                autoplaySpeed: 1500,
                arrows: true,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
        });

    },

    beforeCreate() {
        let app=this;
        if(!localStorage.getItem('token')){
            app.$router.push('/login');
        }
    },

    created(){
        console.log(localStorage);
    },

    methods:{
        getSearch(variable) {
            // console.log(variable);
            this.searchField = variable.search;
            this.priceGradeSearch();

        },

        getDropdown(variable){
            console.log(variable);
            this.dropdown = variable.dropdown;
            localStorage.dropdown = this.dropdown;
            if(this.dropdown == 'Presort & Price'){
                this.presortPriceVal = true;
            }
            if(this.dropdown == 'Presort'){
                this.presortVal = true;
            }
        },

        getPresortPrice(variable) {
            this.presortPriceVal = variable;
            // console.log(this.presortPriceVal);
        },

        getPresort(variable) {
            this.presortVal = variable;
            // console.log(this.presortVal);
        },

        priceGradeSearch(){
            let app = this;
            app.asinProduct = '';
            app.products = '';
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
            axios({
                data: {
                    query: app.searchField
                },
                method: 'post',
                url: axios.defaults.baseURL+'client/searchproduct',
            })
            .then(function (data) {
                if((data.data.data.Product).length == undefined){
                    console.log((data.data.data.Product).length);
                    app.asinProduct = data.data.data.Product;
                    console.log('ASIN product');
                    console.log(app.asinProduct);
                    app.list = true;
                }
                if((data.data.data.Product).length > 0){
                    console.log((data.data.data.Product).length);
                    app.products = data.data.data.Product;
                    console.log('Products');
                    console.log(app.products);
                    app.list = true;
                }      
            })
            .catch(function (response) {
                app.list = false;
                console.log(response);
            })
        },

        toggleClass(index){
            $('a#collapse'+index).toggleClass('collapsed');
        },

        presortPriceClick(){
            $('#presortpriceform').toggleClass('show_form');
        },

        getPresortPriceVals(){
            localStorage.is_presortPrice = true;
        },

        addItem(index,asin,category,image,title){
            console.log(index);
            
            var listPrice = $('div#row-4>div.col-md-1>div#listPrice>p').text();
            var rank = $('div#row-4>div.col-md-1>div#rank>p').text();

            if (localStorage.is_pricer == 'true') {
                if(localStorage.each_listing_price_unit == '$'){
                    var myPrice = localStorage.each_listing_price;
                }
            }
            else{
                var myPrice = 'N/A';
            }
            var app = this;
            var headers = {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem('token')
            }

            event.preventDefault();
            axios({
                data: {
                    asin: asin,
                    list_price: listPrice,
                    category: category,
                    image: image,
                    title: title,
                    rank: localStorage.rank,
                    my_price: myPrice,
                    quantity: localStorage.quantity,
                    condition: localStorage.condition,
                    note: localStorage.note,
                    tax_code: 'A News 104P',
                    my_cost: app.cost,
                    fees: app.fee_amount,
                    profit_loss: app.profit
                },

                method: 'post',
                url: axios.defaults.baseURL+'client/add/item',
                headers: headers,
            })
            .then(function(data){
                localStorage.asin = '';
                localStorage.listPrice = '';
                localStorage.category = '';
                localStorage.image = '';
                localStorage.title = '';
                localStorage.rank = '';
                localStorage.quantity = '';
                localStorage.condition = '';
                localStorage.note = '';
                
                $('#myModal2').modal('hide');
                app.$router.push('/dashboard');
            })
            .catch(function (response) {
                console.log(response);
            });
        },
        
    },
}
</script>