<template>
<div id="ForgotPassword">

    <LoggedOutNav></LoggedOutNav>

    <div id="ForgotPasswordForm" class='contentDiv'>
        <div class="contentDivChild">
            <div class="d-flex justify-content-center">
                <div class="page-text-top">
                    <p> Forgot Password </p>
                    <p> Dont' worry. Just enter your email and we'll send you a password reset link directly to your mailbox. </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <form id="sendResetLink" class="form-group col-md-4 col-sm-8" @submit.prevent="forgetPassword" v-if="!success">
                    <div class="forgot_pwd-form-inner-div">
                    <div class="form-validation-message" style="display:none;">
                    </div>
                    <div class="inner-addon left-addon">
                        <span class='fa mail_ico'></span>
                        <input type="text" placeholder="Email" v-model="email" name="usr_email" class="form-control custom-login-input-field"  />
                    </div>
                    <button type="submit"
                            class="mui-btn mui-btn--raised custom-login-btn"
                            style="width:100%;">
                        SEND EMAIL
                    </button>
            </div>
            </form>
        </div>
        <div class="d-flex justify-content-center">
            <div class="form-group col-md-4 col-sm-8">
                <div style="display: flex">
                    <div class="horizontal-line-OR"></div>
                    <span id="OR">OR</span>
                    <div class="horizontal-line-OR"></div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div id="dont-have-account" class="form-group col-md-4 col-sm-8">
                Back to
                <span>
                                <a href="#">Sign in</a>
                              </span>
            </div>
        </div>
        <div style="min-height:90px;"></div>
    </div>
</div>


<SiteFooter></SiteFooter>
</div>
</template>

<script>
    import LoggedOutNav from './Static/LoggedOutNav';
    import SiteFooter from './Static/SiteFooter';
    import axios from 'axios';

    export default {
        components: {
            LoggedOutNav,
            SiteFooter
        },
        created(){
            localStorage.setItem('base_url', window.location.host+'/#/resetpassword');
        },
        data(){
            return {
                email: '',
                url: '',
                error: false,
                errors: {},
                success: false
            };
        },
        methods: {
            forgetPassword(){
                var app = this;
                event.preventDefault();
                axios({
                    data: {
                            email: app.email,
                            url: localStorage.getItem('base_url')
                            },
                    method: 'post',
                    url: axios.defaults.baseURL+'forgetpassword',
                    config: { headers: {'Content-Type': 'multipart/form-data' }}
                })
                .then(function (data) {
                    app.email = '';
                })
                .catch(function (response) {
                    //handle error
                    iziToast.show({
                        title: "Error",
                        message:  "Invalid Credentials",
                        backgroundColor: '#f54242',
                        color: '#FFFFFF',
                        progressBar: true,
                        icon: 'fa fa-exclamation-circle',
                        iconColor: '#FFFFFF',
                        position: 'topCenter',
                        titleColor: '#FFFFFF',
                        messageColor: '#FFFFFF',
                        showIco:true,
                    });
                });
            }
        }
    }
</script>
