<template>
    <div id="dashboard">
    <DashboardNavbar></DashboardNavbar>
    <!-- Main content -->
    <!-- Begins: Item Pricing Sec  -->
    <section class="itempriceSec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="itemHeading">
              <h3><a @click="flushData" href="#"><i class="arrowleft"></i></a> Item Pricing </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-7 col-xs-12">
            <div class="row">
              <div class="col-md-2 col-sm-3 col-xs-12">
                <div class="itemImg">
                  <img :src="product.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL" class="img-responsive" alt="item image">
                </div>
              </div>
              <div class="col-md-10 col-sm-9 col-xs-12">
                <div class="itemBox">
                  <h2>{{product.AttributeSets.ns2_ItemAttributes.ns2_Title}}</h2>
                  <div class="itemDetail">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                          <div class="col-md-4 col-sm-5 col-xs-12">
                            <ul>
                              <li>ASIN: </li>
                              <li>EAN/UPC: </li>
                              <li>CATEGORY:</li>
                            </ul>
                          </div>
                          <div class="col-md-8 col-sm-7 col-xs-12">
                            <ul>
                              <li><span>{{product.Identifiers.MarketplaceASIN.ASIN}}</span></li>
                              <li><span>N/A</span></li>
                              <li><span>{{product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup}}</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="col-md-4 col-sm-7 col-xs-12">
                          <ul>
                            <li>RANK: </li>
                            <li>LIST PRICE: </li>
                            <li>MY PRICE:</li>
                          </ul>
                        </div>
                        <div class="col-md-8 col-sm-5 col-xs-12">
                          <ul>
                            <li v-if="product.SalesRankings.length == 0"><span>-</span></li>
                            <li v-else-if="product.SalesRankings.SalesRank.Rank"><span>{{product.SalesRankings.SalesRank.Rank}}</span></li>
                            <li v-else-if="product.SalesRankings.SalesRank.Rank"><span>{{product.SalesRankings.SalesRank[0].Rank}}</span></li>
                            <li v-else-if="product.SalesRankings.SalesRank[0]"><span>{{product.SalesRankings.SalesRank[0].Rank}}</span></li>
                            <li v-else-if="product.SalesRankings.SalesRank[0].Rank"><span>{{product.SalesRankings.SalesRank[0].Rank}}</span></li>
                            <li v-else><span>-</span></li>
                            <li v-if="!product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice"><span>-</span></li>
                            <li v-else><span>{{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount}} {{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode}}</span></li>
                            <li><span>{{my_price}}</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 col-xs-12">
            <div class="itemSetting">
              <h2>Pricer Settings</h2>
              <div class="eachListing">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h6>Flat Price: </h6>
                  </div>
                  <div class="col-md-8 col-sm-7 col-xs-12">
                    <p>Each listing will be set to flat price of</p>
                  </div>
                  <div class="col-md-4 col-sm-5 col-xs-12">
                    <input v-if="flat != 'null'" type="text" name="price" :value="flat" disabled>
                    <input v-else type="text" name="price" value="N/A" disabled>
                  </div>
                </div>
              </div>
              <div class="advancedPricer">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h6><a href="#" data-toggle="modal" data-target="#myModal1">Advanced Pricer Settings <span class="iconprice"></span> <i class="fa fa-exclamation-circle" aria-hidden="true"></i></a></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End: Item Pricing Sec  -->
    <!-- Begins: Item Pricing Sec  -->
    <section class="fbaSec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 col-sm-7 col-xs-12">
            <div class="fbabg">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h4>FBA <span>2</span></h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h4>FBM <span>3</span></h4>
                </div>
              </div>
            </div>
            <div class="amazonfba">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <ul>
                    <li>
                      <div class="stv-radio">
                        <input type="radio" class="stv-radio-button" name="radioButtonTest" :value="a_new_price" id="button1" disabled/>
                        <label for="button1" v-on:click="myPrice(a_new_price);">{{a_new_price}}</label><span>New</span>
                      </div>
                    </li>
                    <li>
                      <div class="stv-radio">
                        <input type="radio" class="stv-radio-button" name="radioButtonTest" :value="a_used_price" id="button2" disabled/>
                        <label for="button2" v-on:click="myPrice(a_used_price);">{{a_used_price}}</label><span>Used</span>
                      </div>
                    </li>
                    <li>
                      <div class="stv-radio">
                        <input type="radio" class="stv-radio-button" name="radioButtonTest" :value="a_collectible_price" id="button3" disabled/>
                        <label for="button3" v-on:click="myPrice(a_collectible_price);">{{a_collectible_price}}</label><span>Collectible</span>
                      </div>
                    </li>
                    <li>
                      <div class="stv-radio">
                        <input type="radio" class="stv-radio-button" name="radioButtonTest" :value="a_refurb_price" id="button4" disabled/>
                        <label for="button4" v-on:click="myPrice(a_refurb_price);">{{a_refurb_price}}</label><span>Refubished</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <ul>
                    <li>
                      <div class="stv-radio">
                        <input type="radio" class="stv-radio-button" name="radioButtonTest" :value="m_new_price" id="button5" disabled/>
                        <label for="button5" v-on:click="myPrice(m_new_price);">{{m_new_price}}</label><span>New</span>
                      </div>
                    </li>
                    <li>
                      <div class="stv-radio">
                        <input type="radio" class="stv-radio-button" name="radioButtonTest" :value="m_used_price" id="button6" disabled/>
                        <label for="button6" v-on:click="myPrice(m_used_price);">{{m_used_price}}</label><span>Used (Good)</span>
                      </div>
                    </li>
                    <li>
                      <div class="stv-radio">
                        <input type="radio" class="stv-radio-button" name="radioButtonTest" :value="m_collectible_price" id="button7" disabled/>
                        <label for="button7" v-on:click="myPrice(m_collectible_price);">{{m_collectible_price}}</label><span>Collectible</span>
                      </div>
                    </li>
                    <li>
                      <div class="stv-radio">
                        <input type="radio" class="stv-radio-button" name="radioButtonTest" :value="m_refurb_price" id="button8" disabled/>
                        <label for="button8" v-on:click="myPrice(m_refurb_price);">{{m_refurb_price}}</label><span>Refubished</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 col-xs-12">
            <div class="costCalculator">
              <h2>Cost Calculator</h2>
              <div class="costprize">
                <ul>
                  <li><span>My Price: </span> <input type="number" :value="my_price" disabled></li>
                  <li><span>My Cost: </span> <input type="number" v-on:blur="getProfit" v-model="cost" placeholder="N/A"> <em>(Less)</em></li>
                  <li><span>Fee Preview:   </span><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <input type="number" placeholder="N/A" :value="fee_amount" disabled><em>(Less)</em></li>
                  <li><span>My Profit/Loss:</span> <input type="number" placeholder="N/A" :value="profit" disabled></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End: Item Pricing Sec  -->
    <section class="offerBox">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="offerTotal">
              <h3>TOTAL OFFERS:<span>5</span></h3>
            </div>
          </div>
          <div class="col-md-6 col-sm-4 col-xs-12 pl-0">
            <div class="offerNote">
              <p>NOTE: Direct pricing feeds from Amazon with shipping fees added.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row">
              <div class="offerbtn">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <button @click="flushData">DISCARD</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" v-if="is_presortPrice != 'Presort & Price'">
                  <button v-if="profit != ''" @click="grade" type="submit">GRADE</button>
                  <button v-else disabled type="submit">GRADE</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" v-else>
                  <button v-if="profit != ''" @click="addItem" type="submit">ADD ITEM</button>
                  <button v-else type="submit" disabled>ADD ITEM</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Begins: Modal Slider Sec  -->
    <div class="modal advancedmodal" id="myModal1">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <!-- Modal body -->
          <form autocomplete="off" @submit.prevent="updatePricer" v-if="!success">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="secondToggle switchToggle">
                  <div class="btn-group" id="status" data-toggle="buttons">
                    <label class="btn btn-default btn-off btn-lg" :class="{'active' : (pricerSwitch == 'false')}">
                    <input type="radio" value="0" name="multifeatured_module[module_id][status]">OFF</label>
                    <label class="btn btn-default btn-on btn-lg" :class="{'active' : (pricerSwitch == 'true')}">
                    <input type="radio" value="1"  name="multifeatured_module[module_id][status]" checked="checked">ON</label>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="settingsPricer ">
                  <h2>Advanced Pricer </h2>
                </div>
                
                <div class="defaultPrice">
                  <h6>Save your default price blow to determine the <a href="#">“My Price”</a> Column.</h6>
                  <div class="row">
                    
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <p>Pricing each listing at:</p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 pr-0">
                      <div class="admodalinput">
                        <input type="number" name="anotherQty" v-model="each_listing_price">
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 pl-0">
                      <div class="buttonSelector">
                        <select id="colorselector" v-model="each_listing_price_unit">
                          <option value="$">$</option>
                          <option value="%">%</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="output">
                        <div id="yellow" class="colors">
                          <h5>Note that percentage base price will not work when listing in 
                            presort and grade mode.
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <p>Smart match price detection:</p>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                      <div class="secondToggle">
                        <div class="btn-group" id="status" data-toggle="buttons">
                          <label class="btn btn-default btn-off btn-lg">
                          <input type="radio" value="0" name="multifeatured_module[module_id][status]">OFF</label>
                          <label class="btn btn-default btn-on btn-lg active">
                          <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">ON</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 pr-0">
                      <p>Flat Price: </p>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12 pl-0 pr-0">
                      <div class="secondToggle">
                        <div class="btn-group" id="flat-toggle" data-toggle="buttons">
                          <label class="btn btn-default btn-off btn-lg active">
                          <input type="radio" value="0" name="multifeatured_module[module_id][status]">OFF</label>
                          <label class="btn btn-default btn-on btn-lg">
                          <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">ON</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flatmodal">
                    <div class="row">
                      <div class="col-md-7 col-sm-7 col-xs-12">
                        <h3>Each listing will be set to flat price of:</h3>
                      </div>
                      <div class="col-md-5 col-sm-5 col-xs-12">
                        <input type="text" name="price" v-model="flat_price" placeholder="$0.0" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">CANCEL</button>
              <button type="submit" class="btn">SAVE</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End: Modal Slider Sec  -->
    </div>
</template>

<script>
import DashboardNavbar from './Static/DashboardNavbar';
import axios from 'axios';

export default {
    components: {
        DashboardNavbar,
    },

    data() {
        return{
          product: '',
          pricing: '',
          a_new_price: 'N/A',
          a_used_price: 'N/A',
          a_collectible_price: 'N/A',
          a_refurb_price: 'N/A',
          m_new_price: 'N/A',
          m_used_price: 'N/A',
          m_collectible_price: 'N/A',
          m_refurb_price: 'N/A',
          my_price: '',
          each_listing_price: '',
          each_listing_price_unit: '',
          flat_price: '',
          flat: localStorage.flat_price,
          fee_amount: '',
          cost: '',
          profit: '',
          pricerSwitch: false,
          is_presortPrice: localStorage.getItem('dropdown'),
          success: false,

        }
    },

    created(){
      this.getdata();
      this.getPricing();
      console.log('Pricers');
      this.getPricers();
    },

    mounted(){
      $(document).on("click", ".switchToggle", function(event){
          var val = $('.active > input').val();
          console.log(val);
          localStorage.is_pricer = val=='1' || val == 1?true:false;
          console.log(localStorage.is_pricer);
      });

      if(localStorage.is_pricer == 'true'){
        if (localStorage.each_listing_price_unit == '$') {
          this.my_price = localStorage.each_listing_price;
        }
      }
    },

    beforeCreate() {
        // let app=this;
        // if(!localStorage.getItem('token')){
        //     app.$router.push('/login');
        // }
    },

    methods:{
      getdata(){
        let app = this;
        axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
        axios({
            data: {
                query: app.$route.query.asin
            },
            method: 'post',
            url: axios.defaults.baseURL+'client/searchproduct',
        })
        .then(function (data) {
                // console.log((data.data.Product).length);
                // app.product = data.data.data.Product;
                // console.log('ASIN product');
                console.log(data.data.data.Product.length);
                if (data.data.data.Product.length > 1) {
                  app.product = data.data.data.Product[0];
                  console.log(app.product);
                  localStorage.asin = app.product.Identifiers.MarketplaceASIN.ASIN;
                  localStorage.category = app.product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup;
                  localStorage.image = app.product.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL;
                  localStorage.title = app.product.AttributeSets.ns2_ItemAttributes.ns2_Title;

                  if(app.product.SalesRankings.SalesRank.Rank){
                    localStorage.rank = app.product.SalesRankings.SalesRank.Rank;
                  }
                  else if(app.product.SalesRankings.SalesRank.Rank){
                    localStorage.rank = app.product.SalesRankings.SalesRank[0].Rank;
                  }
                  else if(app.product.SalesRankings.SalesRank[0]){
                    localStorage.rank = app.product.SalesRankings.SalesRank[0].Rank;
                  }
                  else if(app.product.SalesRankings.SalesRank[0].Rank){
                    localStorage.rank = app.product.SalesRankings.SalesRank[0].Rank;
                  }
                  else{
                    localStorage.rank = 'N/A';
                  }

                  if(!app.product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice){
                    localStorage.listPrice = 'N/A';
                  }
                  else{
                    localStorage.listPrice = app.product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount+app.product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode
                  }
                  console.log(app.product);
                }
                else{
                  console.log('single');
                  app.product = data.data.data.Product;
                  localStorage.asin = app.product.Identifiers.MarketplaceASIN.ASIN;
                  localStorage.category = app.product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup;
                  localStorage.image = app.product.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL;
                  localStorage.title = app.product.AttributeSets.ns2_ItemAttributes.ns2_Title;

                  if(app.product.SalesRankings.SalesRank.Rank){
                    localStorage.rank = app.product.SalesRankings.SalesRank.Rank;
                  }
                  else if(app.product.SalesRankings.SalesRank.Rank){
                    localStorage.rank = app.product.SalesRankings.SalesRank[0].Rank;
                  }
                  else if(app.product.SalesRankings.SalesRank[0]){
                    localStorage.rank = app.product.SalesRankings.SalesRank[0].Rank;
                  }
                  else if(app.product.SalesRankings.SalesRank[0].Rank){
                    localStorage.rank = app.product.SalesRankings.SalesRank[0].Rank;
                  }
                  else{
                    localStorage.rank = 'N/A';
                  }

                  if(!app.product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice){
                    localStorage.listPrice = 'N/A';
                  }
                  else{
                    localStorage.listPrice = app.product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount+app.product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode
                  }
                }
        })
        .catch(function (response) {
            // app.$router.push('/login');
            // app.list = false;
            console.log(response);
        })
      },
    
      getPricing(){
        let app = this;
        axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
        axios({
            data: {
                asin: app.$route.query.asin
            },
            method: 'post',
            url: axios.defaults.baseURL+'client/lowestofferingforasin',
        })
        .then(function (data) {
                // console.log((data.data.Product).length);
                app.pricing = data.data.data.GetLowestOfferListingsForASINResult.Product.LowestOfferListings.LowestOfferListing;
                // console.log('Pricing');
                // console.log(app.pricing.length);
                if (app.pricing.length > 0) {
                  app.pricing.forEach(function(price) {
                  if(price.Qualifiers.FulfillmentChannel == 'Amazon'){
                    if(price.Qualifiers.ItemCondition == 'New' && app.a_new_price == 'N/A'){
                      // console.log(price.Qualifiers.ItemCondition);
                      app.a_new_price = price.Price.ListingPrice.Amount;
                      $('input#button1').prop("disabled", false);
                    }
                    else if(price.Qualifiers.ItemCondition == 'Used' && app.a_used_price == 'N/A'){
                      // console.log(price.Qualifiers.ItemCondition);
                      app.a_used_price = price.Price.ListingPrice.Amount;
                      $('input#button2').prop("disabled", false);
                    }
                    else if(price.Qualifiers.ItemCondition == 'Collectible' && app.a_collectible_price == 'N/A'){
                      // console.log(price.Qualifiers.ItemCondition);
                      app.a_collectible_price = price.Price.ListingPrice.Amount;
                      $('input#button3').prop("disabled", false);
                    }
                    else if(price.Qualifiers.ItemCondition == 'Refubished' && app.a_refurb_price == 'N/A'){
                      // console.log(price.Qualifiers.ItemCondition);
                      app.a_refurb_price = price.Price.ListingPrice.Amount;
                      $('input#button4').prop("disabled", false);
                    }
                  }
                  else if(price.Qualifiers.FulfillmentChannel == 'Merchant'){
                    if(price.Qualifiers.ItemCondition == 'New' && app.m_new_price == 'N/A'){
                      // console.log(price.Qualifiers.ItemCondition);
                      app.m_new_price = price.Price.ListingPrice.Amount;
                      $('input#button5').prop("disabled", false);
                    }
                    else if(price.Qualifiers.ItemCondition == 'Used' && app.m_used_price == 'N/A'){
                      // console.log(price.Qualifiers.ItemCondition);
                      app.m_used_price = price.Price.ListingPrice.Amount;
                      $('input#button6').prop("disabled", false);
                    }
                    else if(price.Qualifiers.ItemCondition == 'Collectible' && app.m_collectible_price == 'N/A'){
                      // console.log(price.Qualifiers.ItemCondition);
                      app.m_collectible_price = price.Price.ListingPrice.Amount;
                      $('input#button7').prop("disabled", false);
                    }
                    else if(price.Qualifiers.ItemCondition == 'Refubished' && app.m_refurb_price == 'N/A'){
                      // console.log(price.Qualifiers.ItemCondition);
                      app.m_refurb_price = price.Price.ListingPrice.Amount;
                      $('input#button8').prop("disabled", false);
                    }
                  }
                  });
                }
                else{
                  if(app.pricing.Qualifiers.FulfillmentChannel == 'Amazon'){
                    if(app.pricing.Qualifiers.ItemCondition == 'New'){
                      // console.log(app.pricing.Qualifiers.ItemCondition);
                      app.a_new_price = app.pricing.Price.ListingPrice.Amount;
                      $('input#button1').prop("disabled", false);
                    }
                    else if(app.pricing.Qualifiers.ItemCondition == 'Used'){
                      // console.log(app.pricing.Qualifiers.ItemCondition);
                      app.a_used_price = app.pricing.Price.ListingPrice.Amount;
                      $('input#button2').prop("disabled", false);
                    }
                    else if(app.pricing.Qualifiers.ItemCondition == 'Collectible'){
                      // console.log(app.pricing.Qualifiers.ItemCondition);
                      app.a_collectible_price = app.pricing.Price.ListingPrice.Amount;
                      $('input#button3').prop("disabled", false);
                    }
                    else if(app.pricing.Qualifiers.ItemCondition == 'Refubished'){
                      // console.log(app.pricing.Qualifiers.ItemCondition);
                      app.a_refurb_price = app.pricing.Price.ListingPrice.Amount;
                      $('input#button4').prop("disabled", false);
                    }
                  }
                  else if(app.pricing.Qualifiers.FulfillmentChannel == 'Merchant'){
                    if(app.pricing.Qualifiers.ItemCondition == 'New'){
                      // console.log(app.pricing.Qualifiers.ItemCondition);
                      app.m_new_price = app.pricing.Price.ListingPrice.Amount;
                      $('input#button5').prop("disabled", false);
                    }
                    else if(app.pricing.Qualifiers.ItemCondition == 'Used'){
                      // console.log(app.pricing.Qualifiers.ItemCondition);
                      app.m_used_price = app.pricing.Price.ListingPrice.Amount;
                      $('input#button6').prop("disabled", false);
                    }
                    else if(app.pricing.Qualifiers.ItemCondition == 'Collectible'){
                      // console.log(app.pricing.Qualifiers.ItemCondition);
                      app.m_collectible_price = app.pricing.Price.ListingPrice.Amount;
                      $('input#button7').prop("disabled", false);
                    }
                    else if(app.pricing.Qualifiers.ItemCondition == 'Refubished'){
                      // console.log(app.pricing.Qualifiers.ItemCondition);
                      app.m_refurb_price = app.pricing.Price.ListingPrice.Amount;
                      $('input#button8').prop("disabled", false);
                    }
                  }
                }
                
                // console.log(app.pricing);
                // app.list = true;    
        })
        .catch(function (response) {
            // app.$router.push('/login');
            // app.list = false;
            console.log(response);
        })
      },

      myPrice(price){
        if(price != 'N/A'){
          if(localStorage.is_pricer == 'true'){
            console.log('Pricer switch is true');
            if(localStorage.each_listing_price_unit == '%'){
              console.log('percentage is selected');
              var percent = (Number(price)*Number(localStorage.each_listing_price))/100;
              this.my_price = percent;
              console.log(percent);
              this.priceChange(this.my_price);
              console.log(this.my_price);
            }
          }
          else{
            this.my_price = price;
            this.priceChange(this.my_price);
            console.log(this.my_price);
          }
        }
      },

      updatePricer(){
        let app = this;
        console.log(localStorage.is_pricer);
        axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
        axios({
            data: {
                list_price_value: app.each_listing_price,
                list_price_unit: app.each_listing_price_unit,
                flat_price: app.flat_price,
                is_pricer: localStorage.is_pricer
            },
            method: 'post',
            url: axios.defaults.baseURL+'client/updatepricers',
        })
        .then(function (data) {
          console.log('Price updated');
          console.log(data.data.data);
          $('#myModal1').modal('hide');
          app.my_price = data.data.data.list_price_value;
          app.priceChange(app.my_price);
          localStorage.each_listing_price = data.data.data.list_price_value;
          localStorage.each_listing_price_unit = data.data.data.list_price_unit;
          localStorage.flat_price = data.data.data.flat_price;
          localStorage.is_pricer = data.data.data.is_pricer;
        })
        .catch(function (response) {
            console.log(response);
        })
      },

      getPricers(){
        let app = this;
        var headers = {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				
        axios({
            method: 'get',
            url: axios.defaults.baseURL+'client/getpricers/'+localStorage.getItem('id'),
            headers: headers
				})
				.then(function (response) {
          // console.log(response.data.data[0]);
          app.each_listing_price = response.data.data[0].list_price_value;
          app.each_listing_price_unit = response.data.data[0].list_price_unit;
          app.flat_price = response.data.data[0].flat_price;
          app.pricerSwitch = response.data.data[0].is_pricer;
          console.log(app.pricerSwitch);
				})
      },
      
      priceChange(price){
        // console.log(price);
        let app = this;
        var headers = {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				
        axios({
            method: 'get',
            url: axios.defaults.baseURL+'client/getestimate/'+app.$route.query.asin+'/0/'+price,
            headers: headers
				})
				.then(function (response) {
          var amt = 0;
          response.data.data.GetMyFeesEstimateResult.FeesEstimateResultList.FeesEstimateResult.FeesEstimate.FeeDetailList.FeeDetail.forEach(function(amount) {
          amt += Number(amount.FeeAmount.Amount);
          })
          app.fee_amount = amt;
        })
        .catch(function(response){
          // console.log(response);
        })
      },

      getProfit(){
        var myPrice = Number(this.my_price);
        var myCost = Number(this.cost);
        var fee = Number(this.fee_amount);
        var profit = myPrice-(myCost+fee);
        this.profit = profit;
        // console.log(this.profit);
      },

      grade(){
        localStorage.myPrice = this.my_price;
        localStorage.myCost = this.cost;
        localStorage.fee = this.fee_amount;
        localStorage.profitLoss = this.profit;
        this.$router.push('/item-grading?asin='+localStorage.asin);
      },

      addItem(event){
        var note = localStorage.note;
        var notes = note.replace(/\"/g, "");
        console.log(notes);
        var app = this;
        var headers = {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        }

        event.preventDefault();
        axios({
            data: {
                asin: localStorage.asin,
                list_price: localStorage.listPrice,
                category: localStorage.category,
                image: localStorage.image,
                title: localStorage.title,
                rank: localStorage.rank,
                my_price: app.my_price,
                quantity: localStorage.quantity,
                condition: localStorage.condition,
                note: notes,
                tax_code: 'A News 104P',
                my_cost: app.cost,
                fees: app.fee_amount,
                profit_loss: app.profit
            },

            method: 'post',
            url: axios.defaults.baseURL+'client/add/item',
            headers: headers,
          })
          .then(function(data){
              localStorage.asin = '';
              localStorage.listPrice = '';
              localStorage.category = '';
              localStorage.image = '';
              localStorage.title = '';
              localStorage.rank = '';
              localStorage.quantity = '';
              localStorage.condition = '';
              localStorage.note = '';
              
              $('#myModal2').modal('hide');
              app.$router.push('/dashboard');
          })
          .catch(function (response) {
              console.log(response);
          });
      },

      flushData(){
        localStorage.asin = '';
        localStorage.category = '';
        localStorage.fee = '';
        localStorage.image = '';
        localStorage.listPrice = '';
        localStorage.myCost = '';
        localStorage.myPrice = '';
        localStorage.profitLoss = '';
        localStorage.rank = '';
        localStorage.title = '';
        this.$router.push('/dashboard');
      },
    }
}
</script>