<template>
    <div id="dashboard">
        <!-- <div class="se-pre-con fadeOut">
        </div> -->
        <DashboardNavbar></DashboardNavbar>
        <!-- Main content -->
        <!-- Begins: Item Pricing Sec  -->
        <section class="itempriceSec">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="itemHeading">
                    <h3><a href="#" @click="flushData"><i class="arrowleft"></i></a> Grade Item </h3>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="itemImg">
                        <img v-if="product.AttributeSets.ns2_ItemAttributes" :src="product.AttributeSets.ns2_ItemAttributes.ns2_SmallImage.ns2_URL" class="img-responsive" alt="item image">
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <div class="itemBox">
                        <h2 id="title">{{product.AttributeSets.ns2_ItemAttributes.ns2_Title}}</h2>
                        <div class="itemDetail">
                            <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                <div class="col-md-4 col-sm-5 col-xs-12">
                                    <ul>
                                    <li>ASIN: </li>
                                    <li>EAN/UPC: </li>
                                    <li>CATEGORY:</li>
                                    </ul>
                                </div>
                                <div class="col-md-8 col-sm-7 col-xs-12">
                                    <ul>
                                    <li><span id="asin">{{product.Identifiers.MarketplaceASIN.ASIN}}</span></li>
                                    <li><span>N/A</span></li>
                                    <li><span id="category">{{product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup}}</span></li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                <ul>
                                    <li>RANK: </li>
                                    <li>LIST PRICE: </li>
                                    <li>MY PRICE:</li>
                                </ul>
                                </div>
                                <div class="col-md-8 col-sm-5 col-xs-12">
                                <ul>
                                    <li v-if="product.SalesRankings.length == 0"><span id="rank">N/A</span></li>
                                    <li v-else-if="product.SalesRankings.SalesRank.Rank"><span id="rank">{{product.SalesRankings.SalesRank.Rank}}</span></li>
                                    <li v-else-if="product.SalesRankings.SalesRank.Rank"><span id="rank">{{product.SalesRankings.SalesRank[0].Rank}}</span></li>
                                    <li v-else-if="product.SalesRankings.SalesRank[0]"><span id="rank">{{product.SalesRankings.SalesRank[0].Rank}}</span></li>
                                    <li v-else-if="product.SalesRankings.SalesRank[0].Rank"><span id="rank">{{product.SalesRankings.SalesRank[0].Rank}}</span></li>
                                    <li v-else><span id="rank">N/A</span></li>
                                    <li v-if="!product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice"><span id="listPrice">N/A</span></li>
                                    <li v-else><span id="listPrice">{{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_Amount}} {{product.AttributeSets.ns2_ItemAttributes.ns2_ListPrice.ns2_CurrencyCode}}</span></li>

                                    <li><span id="myPrice">{{my_price}}</span></li>
                                </ul>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="proSetting">
                    <h2>Product Settings</h2>
                    <form>
                        <div class="productGrade">
                        <div class="qty">
                            <div class="row">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <label>Quantity:</label>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="input-group">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                </span>
                                <input type="text" v-model="quantity" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                </span>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="taxCode">
                            <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label>Tax code:</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="formselect">
                                <select>
                                    <option>A News 104P</option>
                                    <option>A News 104P</option>
                                    <option>A News 104P</option>
                                </select>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="taxCode">
                            <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label>Printer:</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="secondToggle">
                                <div class="btn-group" id="status" data-toggle="buttons">
                                    <label class="btn btn-default btn-off btn-lg active">
                                    <input type="radio" value="0" name="multifeatured_module[module_id][status]">OFF</label>
                                    <label class="btn btn-default btn-on btn-lg" id="myBtn">
                                    <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">ON</label>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <!-- The Modal -->

        <!-- End: Item Pricing Sec  -->
        <!-- Begins: Item Pricing Sec  -->
        <section class="gradeNote">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="noteHeading">
                    <h3>Note Settings</h3>
                    </div>
                </div>
                </div>
                <div class="">
                <form autocomplete="off" @submit.prevent="addNote" v-if="!success">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="noteBox">
                        <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label>Fulfillment:</label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="fbatags">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabsgrade1" role="tab">FBA</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabsgrade2" role="tab">FBM</a>
                                </li>
                            </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        </div>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                        <div class="tab-pane active" id="tabsgrade1" role="tabpanel">
                            <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>Select conditions:</label>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="formselect">
                                <select>
                                    <option>New / Used</option>
                                    <option>New / Used</option>
                                    <option>New / Used</option>
                                </select>
                                </div>
                                <div class="formselect">
                                <select>
                                    <option>Refurbished</option>
                                    <option>Refurbished</option>
                                    <option>Refurbished</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            </div>
                            <hr>
                            <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>Select note by category:</label>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="formselect">
                                <select>
                                    <option>All Notes</option>
                                    <option>All Notes</option>
                                    <option>All Notes</option>
                                </select>
                                </div>
                                <div class="gradeEdit">
                                <a href="#">EDIT NOTE</a>
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabsgrade2" role="tabpanel">
                            <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>Select conditions:</label>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="formselect">
                                <select v-model="cond" v-on:change="selected(cond)">
                                    <!-- <option value='0' selected>Select Option</option> -->
                                    <option v-for='condition in conditions' :value='condition'>{{condition}}</option>
                                </select>
                                </div>
                                <div class="formselect">
                                <select v-if="cond == 'New'" v-model="subcond" id="subcondition">
                                    <option v-for='new_subcondition in new_subconditions' :value='new_subcondition'>{{new_subcondition}}</option>
                                </select>
                                <select v-else-if="cond == 'Used'" id="subcondition">
                                    <option v-for='used_subcondition in used_subconditions' :value='used_subcondition'>{{used_subcondition}}</option>
                                </select>
                                <select v-else-if="cond == 'Collectible'" id="subcondition">
                                    <option v-for='collectible_subcondition in collectible_subconditions' :value='collectible_subcondition'>{{collectible_subcondition}}</option>
                                </select>
                                <select v-else-if="cond == 'Refurbished'" id="subcondition">
                                    <option v-for='refurb_subcondition in refurb_subconditions' :value='refurb_subcondition'>{{refurb_subcondition}}</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12" v-if="notes != ''">
                    <div class="gradecheck">
                        <div v-for="(note, index) in notes" :key="index">
                        <input type="checkbox" :id="'fruit'+index" v-model="notesCheck" @click="check($event)" :name="'fruit-'+index" :value="note.note">
                        <label :for="'fruit'+index">{{note.note}}</label>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="gradeComment">
                        <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <label>Add Comment:</label>
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group">
                            <textarea class="form-control" v-model="fbm_note" rows="9" cols="9" spellcheck="false" required></textarea>
                            <div class="gradeEdit">
                                <button type="submit">Add</button>
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </form>
                </div>
            </div>
        </section>
        <!-- End: Item Pricing Sec  -->
        <section class="offerBox">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-12">
                </div>
                <div class="col-md-6 col-sm-4 col-xs-12 pl-0">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="row">
                    <div class="offerbtn">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <a href="#" @click="flushData">DISCARD</a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" v-if="notesCheck != ''">
                        <a href="#" data-toggle="modal" data-target="#myModal2">ADD ITEM</a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" v-else>
                        <a href="#">ADD ITEM</a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div id="myModal5" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>

            </div>
        </div>
        <!-- Begins: Modal Slider Sec  -->
        <div class="modal itemmodal" id="myModal2">
            <div class="modal-dialog">
                <div class="modal-content">
                <!-- Modal Header -->
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="settingsPricer ">
                        <h2>CHOOSE ACTION</h2>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="grademodal">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h4>Enter missing item dimensions and add item: </h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <a href="#" data-toggle="modal" data-target="#myModal3">ADD DIMENSIONS</a>
                    </div>
                    </div>
                    </div>
                    <hr>
                    <div class="row">
                            <div class="grademodal">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h4>Add item without setting dimensions: </h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <a href="#" @click="addItem(); postNotes(cond);">WITHOUT DIMENSIONS</a>
                    </div>
                    </div>
                    
                    </div>
                    <hr>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">CANCEL ADDING ITEM</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- End: Modal Slider Sec  -->
        <!-- Begins: Modal Slider Sec  -->
        <div class="modal itemmodal" id="myModal3">
            <div class="modal-dialog">
                <div class="modal-content">
                <!-- Modal Header -->
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="settingsPricer ">
                        <h2>SET DIMENSIONS</h2>
                        </div>
                        <div class="defaultPrice">
                        <h6>If you want to add this item, please provide the package dimensions</h6>
                        <div class="row">
                            <div class="col-md-7 col-sm-7 col-xs-12">
                            <p>Select Units:</p>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="buttonSelector">
                                <select id="colorselector">
                                <option>Inches</option>
                                <option >Inches</option>
                                </select>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <div class="flatmodal">
                            <div class="row">
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <h3>Length:</h3>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <input type="text" name="price" placeholder="1.00" disabled="">
                            </div>
                            </div>
                                    <div class="row">
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <h3>Width:</h3>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <input type="text" name="price" placeholder="2.50" disabled="">
                            </div>
                            </div>
                                    <div class="row">
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <h3>Height:</h3>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <input type="text" name="price" placeholder="1.50" disabled="">
                            </div>
                            </div>
                            <hr>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal4">SAVE</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- End: Modal Slider Sec  -->
        <!-- Begins: Modal Slider Sec  -->
        <div class="modal grademodalfour" id="myModal4">
            <div class="modal-dialog">
                <div class="modal-content">
                <!-- Modal Header -->
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="settingsPricer ">
                        <h2>ERROR!</h2>
                        </div>
                        <div class="defaultPrice">
                        <h4>The opration maybe partially successfull! <a href="#">Please check the status </a></h4>
                            <h5><a href="#">Error reason:</a> BdfiafgsuiHSW496843, SFfjhGdsghhJGF4257</h5>
                        <hr>
                        </div>
                        <div class="numbergrade">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                            <h6>NO:</h6>
                            <p>0</p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-2">
                            <h6>SKU TYPE:</h6>
                            <p>MSKU</p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-2">
                            <h6>SKU:</h6>
                            <p>B07SCXAYTYQ</p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-2">
                            <h6>REASON:</h6>
                            <p>Item blocked by getting</p>
                            </div>
                        </div> 
                        <hr>
                        </div>
                        <div class="errorCode">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-3">
                            <h3>ERROR CODE:  <span>20232</span> </h3>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-9">
                            <ul>
                                <li><a href="#" data-dismiss="modal">CANCEL</a></li>
                                <li>
                                <div id="accordionFAQ">
                                <a href="#" class=" collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">REPORT ISSUE</a>
                                </div>
                            </li>
                            </ul>
                            </div>
                        </div>
                        </div>
                        <div class="writeIssue">
                        <div class="row">
                        <div id="collapse2" class="collapse" data-parent="#accordionFAQ">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <label>Write an issue:</label>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="form-group">
                            <textarea class="form-control" rows="9" cols="9"  placeholder="What were you trying to do?"></textarea>
                            </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                            <label>Phone No:</label>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="In case we had a question about error" name="">
                            </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                            <a href="#">SEND</a>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- End: Modal Slider Sec  -->
        <!-- Modal -->
        <div class="modal labelmodal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                <!-- Modal Header -->
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="settingsPricer ">
                        <h2>PRINTER PLUGIN WARNING!</h2>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="grademodal">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h4>Your printer plugin is not installed or set incorrectly</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <a href="#" data-dismiss="modal">GO TO SETTINGS</a>
                    </div>
                    </div>
                    </div>
                    <!-- Modal footer -->
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import DashboardNavbar from './Static/DashboardNavbar';
import axios from 'axios';

export default {
    components: {
        DashboardNavbar,
    },

    data() {
        return{
            product: '',
            fbm_fulfillment: 'FBM',
            cond: '',
            subcond: '',
            fbm_note: '',
            notes: '',
            category: '',
            quantity: '1',
            notesCheck: [],
            conditions: [],
            new_subconditions: [],
            used_subconditions: [],
            collectible_subconditions: [],
            refurb_subconditions: [],
            my_price: '',
            success: false
        }
    },

    mounted(){
        $(document).ready(function() {
            $('.se-pre-con').fadeOut('show');
            setTimeout(function() {
                $('.se-pre-con').fadeOut('hide');
            }, 1000);
        });
    },

    beforeCreate() {
        // let app=this;
        // if(!localStorage.getItem('token')){
        //     app.$router.push('/login');
        // }
    },

    created(){
        console.log(localStorage);
        this.getdata();
        this.getConditions();
        // console.log(this.cond);

        var subtext = $('select#subcondition').text();
        if(subtext != null){
            // console.log('clicked');
        }
    },

    methods:{
        getdata(){
            let app = this;
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
            axios({
                data: {
                    query: app.$route.query.asin
                },
                method: 'post',
                url: axios.defaults.baseURL+'client/searchproduct',
            })
            .then(function (data) {
                    // console.log((data.data.Product).length);
                    // app.product = data.data.data.Product;
                    // console.log('ASIN product');
                    // console.log(app.product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup);
                    console.log(data.data.data.Product.length);
                    console.log(data.data.data.Product[0]);
                    if (data.data.data.Product.length > 1) {
                        app.product = data.data.data.Product[0];
                        console.log(app.product);
                        app.category = app.product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup;
                        // app.list = true;
                        if (localStorage.is_pricer == 'true') {
                            if (localStorage.each_listing_price_unit == '$') {
                                app.my_price = localStorage.each_listing_price;
                            }
                        }
                        else{
                            app.my_price = localStorage.myPrice;
                        }
                    }
                    else{
                        app.product = data.data.data.Product;
                        app.category = app.product.AttributeSets.ns2_ItemAttributes.ns2_ProductGroup;
                        // app.list = true;
                        if (localStorage.is_pricer == 'true') {
                            if (localStorage.each_listing_price_unit == '$') {
                                app.my_price = localStorage.each_listing_price;
                            }
                        }
                        else{
                            app.my_price = localStorage.myPrice;
                        }
                    }
                    
            })
            .catch(function (response) {
                // app.$router.push('/login');
                // app.list = false;
                // console.log(response);
            })
        },

        getConditions(){
            let app = this;
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
            axios({
                data: {
                    asin: app.$route.query.asin
                },
                method: 'post',
                url: axios.defaults.baseURL+'client/lowestofferingforasin',
            })
            .then(function (data) {
                    // console.log((data.data.Product).length);
                    app.pricing = data.data.data.GetLowestOfferListingsForASINResult.Product.LowestOfferListings.LowestOfferListing;
                    // console.log('Pricing');
                    // console.log(app.pricing);
                    if (app.pricing.length > 0) {
                    app.pricing.forEach(function(price) {
                    if(price.Qualifiers.FulfillmentChannel == 'Merchant'){
                        if(price.Qualifiers.ItemCondition == 'New'){
                        // console.log(price.Qualifiers.ItemCondition);
                        app.new_subconditions.push(price.Qualifiers.ItemSubcondition);
                        if (app.conditions.indexOf(price.Qualifiers.ItemCondition) != -1) {
                            
                        }
                        else{
                            app.conditions.push(price.Qualifiers.ItemCondition);
                        }
                        }
                        else if(price.Qualifiers.ItemCondition == 'Used'){
                        // console.log(price.Qualifiers.ItemCondition);
                        app.used_subconditions.push(price.Qualifiers.ItemSubcondition);
                        if (app.conditions.indexOf(price.Qualifiers.ItemCondition) != -1) {
                            
                        }
                        else{
                            app.conditions.push(price.Qualifiers.ItemCondition);
                        }
                        }
                        else if(price.Qualifiers.ItemCondition == 'Collectible'){
                        // console.log(price.Qualifiers.ItemCondition);
                        app.collectible_subconditions.push(price.Qualifiers.ItemSubcondition);
                        if (app.conditions.indexOf(price.Qualifiers.ItemCondition) != -1) {
                            
                        }
                        else{
                            app.conditions.push(price.Qualifiers.ItemCondition);
                        }
                        }
                        else if(price.Qualifiers.ItemCondition == 'Refubished'){
                        // console.log(price.Qualifiers.ItemCondition);
                        app.refurb_subconditions.push(price.Qualifiers.ItemSubcondition);
                        if (app.conditions.indexOf(price.Qualifiers.ItemCondition) != -1) {
                            
                        }
                        else{
                            app.conditions.push(price.Qualifiers.ItemCondition);
                        }
                        }
                    }
                    });
                    
                    }

                    else if(app.pricing.length === undefined){
                        if(app.pricing.Qualifiers.FulfillmentChannel == 'Merchant'){
                        if(app.pricing.Qualifiers.ItemCondition == 'New'){
                        // console.log(price.Qualifiers.ItemCondition);
                        app.new_subconditions.push(app.pricing.Qualifiers.ItemSubcondition);
                        if (app.conditions.indexOf(app.pricing.Qualifiers.ItemCondition) != -1) {
                            
                        }
                        else{
                            app.conditions.push(app.pricing.Qualifiers.ItemCondition);
                        }
                        }
                        else if(app.pricing.Qualifiers.ItemCondition == 'Used'){
                        // console.log(app.pricing.Qualifiers.ItemCondition);
                        app.used_subconditions.push(app.pricing.Qualifiers.ItemSubcondition);
                        if (app.conditions.indexOf(app.pricing.Qualifiers.ItemCondition) != -1) {
                            
                        }
                        else{
                            app.conditions.push(app.pricing.Qualifiers.ItemCondition);
                        }
                        }
                        else if(app.pricing.Qualifiers.ItemCondition == 'Collectible'){
                        // console.log(app.pricing.Qualifiers.ItemCondition);
                        app.collectible_subconditions.push(app.pricing.Qualifiers.ItemSubcondition);
                        if (app.conditions.indexOf(app.pricing.Qualifiers.ItemCondition) != -1) {
                            
                        }
                        else{
                            app.conditions.push(app.pricing.Qualifiers.ItemCondition);
                        }
                        }
                        else if(app.pricing.Qualifiers.ItemCondition == 'Refubished'){
                        // console.log(app.pricing.Qualifiers.ItemCondition);
                        app.refurb_subconditions.push(app.pricing.Qualifiers.ItemSubcondition);
                        if (app.conditions.indexOf(app.pricing.Qualifiers.ItemCondition) != -1) {
                            
                        }
                        else{
                            app.conditions.push(app.pricing.Qualifiers.ItemCondition);
                        }
                        }
                    }
                    }

                    else{
                    if(app.pricing.Qualifiers.FulfillmentChannel == 'Merchant'){
                        if(app.pricing.Qualifiers.ItemCondition == 'New'){
                        // console.log(app.pricing.Qualifiers.ItemCondition);
                        app.subConditions.push(price.Qualifiers.ItemSubcondition);
                        app.conditions = app.pricing.Qualifiers.ItemCondition;
                        }
                        else if(app.pricing.Qualifiers.ItemCondition == 'Used'){
                        // console.log(app.pricing.Qualifiers.ItemCondition);
                        app.subConditions.push(price.Qualifiers.ItemSubcondition);
                        app.conditions = app.pricing.Qualifiers.ItemCondition;
                        }
                        else if(app.pricing.Qualifiers.ItemCondition == 'Collectible'){
                        // console.log(app.pricing.Qualifiers.ItemCondition);
                        app.subConditions.push(price.Qualifiers.ItemSubcondition);
                        app.conditions = app.pricing.Qualifiers.ItemCondition;
                        }
                        else if(app.pricing.Qualifiers.ItemCondition == 'Refurbished'){
                        // console.log(app.pricing.Qualifiers.ItemCondition);
                        app.subConditions.push(price.Qualifiers.ItemSubcondition);
                        app.conditions = app.pricing.Qualifiers.ItemCondition;
                        }
                    }
                    }
                    const unique = (value, index, self) => {
                        return self.indexOf(value) === index
                    }
                    var new_subconditions = app.new_subconditions.filter(unique);
                    var used_subconditions = app.used_subconditions.filter(unique);
                    var collectible_subconditions = app.collectible_subconditions.filter(unique);
                    var refurb_subconditions = app.refurb_subconditions.filter(unique);

                    app.new_subconditions = new_subconditions;
                    app.used_subconditions = used_subconditions;
                    app.collectible_subconditions = collectible_subconditions;
                    app.refurb_subconditions = refurb_subconditions;

                    // console.log(app.conditions);
                    // console.log(app.new_subconditions);
                    // console.log(app.used_subconditions);
                    // console.log(app.collectible_subconditions);
                    // console.log(app.refurb_subconditions);
                    // console.log(app.pricing);
                    // app.list = true;    
            })
            .catch(function (response) {
                // app.$router.push('/login');
                // app.list = false;
                console.log(response);
            })
        },

        selected(){
            let app = this;
            var headers = {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem('token')
                    }
                    
            axios({
                method: 'get',
                url: axios.defaults.baseURL+'client/get/grading/note/'+app.cond,
                headers: headers
            })
            .then(function (response) {
                app.notes = response.data.data;
                // console.log(response.data.data);
            })
            .catch(function(response){
                console.log(response);
            })
        },

        addNote(){
            let app = this;
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
            axios({
                data: {
                    fulfillment: app.fbm_fulfillment,
                    condition: app.cond,
                    subcondition: app.subcond,
                    category: app.category,
                    note: app.fbm_note,
                },
                method: 'post',
                url: axios.defaults.baseURL+'client/add/note',
            })
            .then(function (data) {
                // console.log(data);
                app.cond = '';
                app.subcond = '';
                app.fbm_note = '';
            })
            .catch(function (response) {
                // app.$router.push('/login');
                // app.list = false;
                console.log(response);
            })
        },

        check(e) {
            if (e.target.checked) {
                // console.log(e.target.value);
                console.log(this.notesCheck);
            }
        },

        addItem(event){
            var listPrice = $('span#listPrice').text();
            var category = $('span#category').text();
            var image = $('.itemImg img').attr('src');
            var title = $("h2#title").text();
            var rank = $('span#rank').text();
            var myPriceTemp = $('span#myPrice').text();
            var myPrice = localStorage.myPrice!=''?localStorage.myPrice:myPriceTemp;
            var app = this;
            var headers = {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem('token')
            }

            event.preventDefault();
            if (localStorage.myPrice == '' || !localStorage.myPrice) {
                axios({
                    data: {
                        asin: app.$route.query.asin,
                        list_price: listPrice,
                        category: category,
                        image: image,
                        title: title,
                        rank: rank,
                        my_price: app.my_price,
                        quantity: app.quantity,
                        condition: app.cond,
                        note: app.notesCheck,
                        tax_code: 'A News 104P',
                        my_cost: localStorage.myCost,
                        fees: localStorage.fee,
                        profit_loss: localStorage.profitLoss
                    },

                    method: 'post',
                    url: axios.defaults.baseURL+'client/add/item',
                    headers: headers,
                })
                .then(function(data){
                    localStorage.asin = '';
                    localStorage.list_price = '';
                    localStorage.category = '';
                    localStorage.image = '';
                    localStorage.title = '';
                    localStorage.rank = '';
                    localStorage.myPrice = '';
                    localStorage.myCost = '';
                    localStorage.fee = '';
                    localStorage.profitLoss = '';

                    $('#myModal2').modal('hide');
                    app.$router.push('/dashboard');
                })
                .catch(function (response) {
                    console.log(response);
                });
            }
            else{
                axios({
                    data: {
                        asin: localStorage.asin,
                        list_price: localStorage.list_price,
                        category: localStorage.category,
                        image: localStorage.image,
                        title: localStorage.title,
                        rank: localStorage.rank,
                        my_price: localStorage.myPrice,
                        quantity: app.quantity,
                        condition: app.cond,
                        note: app.notesCheck,
                        tax_code: 'A News 104P',
                        my_cost: localStorage.myCost,
                        fees: localStorage.fee,
                        profit_loss: localStorage.profitLoss
                    },

                    method: 'post',
                    url: axios.defaults.baseURL+'client/add/item',
                    headers: headers,
                })
                .then(function(data){
                    localStorage.asin = '';
                    localStorage.list_price = '';
                    localStorage.category = '';
                    localStorage.image = '';
                    localStorage.title = '';
                    localStorage.rank = '';
                    localStorage.myPrice = '';
                    localStorage.myCost = '';
                    localStorage.fee = '';
                    localStorage.profitLoss = '';

                    $('#myModal2').modal('hide');
                    app.$router.push('/dashboard');
                })
                .catch(function (response) {
                    console.log(response);
                });
            }
            
        },

        flushData(){
            localStorage.asin = '';
            localStorage.category = '';
            localStorage.fee = '';
            localStorage.image = '';
            localStorage.listPrice = '';
            localStorage.myCost = '';
            localStorage.myPrice = '';
            localStorage.profitLoss = '';
            localStorage.rank = '';
            localStorage.title = '';
            localStorage.condition = '';
            localStorage.note = '';
            this.$router.push('/dashboard');
        },

        postNotes(condition){
            let app = this;
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
            axios({
                data: {
                    category: app.category,
                    condition: app.cond,
                    note: app.notesCheck
                },
                method: 'post',
                url: axios.defaults.baseURL+'client/post/note',
            })
            .then(function (data) {
                console.log(data);
                app.category = '';
                app.cond = '';
                app.notesCheck = '';
            })
            .catch(function (response) {
                console.log(response);
            })
        }
    }
}
</script>