<template>
    <div id="dashboard">
        <DashboardNavbar></DashboardNavbar>
        <DashboardListItemHeader @searchInput="getSearch" @selectedButton="getSelected"></DashboardListItemHeader>
        
    </div>
</template>

<script>
import DashboardNavbar from './Static/DashboardNavbar';
import DashboardListItemHeader from './Static/DashboardListItemHeader.vue';
import DashboardFooter from './Static/DashboardFooter';
import axios from 'axios';

export default {
    components: {
        DashboardNavbar,
        DashboardListItemHeader,
        DashboardFooter
    },

    data() {
        return{
            searchField: '',
            select: '',

        }
    },

    methods: {
        getSearch(variable) {
            // console.log(variable);
            this.searchField = variable.search;
            // this.priceGradeSearch();

        },

        getSelected(variable){
            // console.log(variable);
            this.select = variable.button;
        },
    }
}
</script>