<template>
    <div id="Login">
        <LoggedOutNav></LoggedOutNav>

        <section class="wellcomeSec">
        <div class="container">
            <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
                <div class="wellcomeBack">
                <h2>Welcome Back!</h2>
                <p>Sign In using your credentials and start using Seller Optics</p>
                </div>
                <form id="doLogin" autocomplete="off" @submit.prevent="login" v-if="!success">
                <div class="wellcomeEmail">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="fa mail_ico"></span>                                                
                    <input type="text" placeholder="Email" name="usr_email" v-model="email" class="form-control">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="pwd_ico"></span>                                                
                    <input type="password" placeholder="Password" name="usr_pwd" v-model="password" class="form-control">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="forgotPassword">
                        <a href="" id="forgot">Forgot Password?</a>
                    </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="loginbtn">
                        <button type="submit" >SIGN IN</button>
                    </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="orSign">
                        <p>or</p>
                    </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="accountCreate">
                        <h4>Don’t have an account? <router-link to="/register"><a href="">Create New</a></router-link></h4>
                    </div>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        </section>
    <SiteFooter></SiteFooter>
    </div>
</template>

<script>
    import LoggedOutNav from './Static/LoggedOutNav';
    import SiteFooter from './Static/SiteFooter';
    import axios from 'axios';

    export default {

        components: {
            LoggedOutNav,
            SiteFooter
        },

        data(){
            return {
                email: '',
                password: '',
                error: false,
                success: false,
            }
        },

        methods: {
            login(){
                let app = this;

                event.preventDefault();
                axios({
                    data: {
                            email: app.email,
                            password: app.password
                            },
                    method: 'post',
                    url: axios.defaults.baseURL+'auth/login',
                    config: { headers: {'Content-Type': 'multipart/form-data'}}
                })
                .then(function (data) {
                    //handle success
                    // console.log(data.data.user._id);
                    localStorage.setItem('id', data.data.user._id);
                    localStorage.setItem('token', data.data.token);
                    localStorage.setItem('name',data.data.user.name);
                    localStorage.setItem('role_id', data.data.user.role_id);
                    localStorage.dropdown = 'Price & Grade';

                    if (localStorage.getItem('role_id') == 1) {
                        app.$router.push('/admin-dashboard');
                    }
                    else{
                        if(data.data.user.is_verification_complete===true){
                            app.$router.push('/dashboard');
                        }
                        else if(data.data.user.is_platform_connected===true){
                            app.$router.push('/selectplan');
                        }
                        else if(data.data.user.is_email_confirmed===true){
                            app.$router.push('/mwsauthorization');
                        }
                        else if(data.data.user.is_signup_complete===true){
                            app.$router.push('/confirmemail');
                        }
                    }
                })
                .catch(function (response) {
                    //handle error
                    iziToast.show({
                        title: "Error",
                        message:  "Invalid Credentials",
                        backgroundColor: '#f54242',
                        color: '#FFFFFF',
                        progressBar: true,
                        icon: 'fa fa-exclamation-circle',
                        iconColor: '#FFFFFF',
                        position: 'topCenter',
                        titleColor: '#FFFFFF',
                        messageColor: '#FFFFFF',
                        showIco:true,
                    });
                });
            },
        }
    }
</script>
