
<template>
  <div id="MWS_Authorization">
    <LoggedInNav></LoggedInNav>

    <!-- Begins: Wellcome Sec -->
    <section class="confirmtabs">
      <div class="confirmDetail">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="confirmicon active">
                <a href="confirm-email.html">1</a>
                <p>Email Confirmed</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="confirmicon active">
                <a href="authorization.html">2</a>
                <p>Connect Platform</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="confirmicon">
                <a href="plan.html">3</a>
                <p>Select Plan</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End: Logo Header -->
    <!-- Begins: Wellcome Sec -->
    <section class="authorizationSec">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 col-md-offset-1">
            <div class="wellcomeBack">
              <h2>MWS Authorization Required</h2>
              <p>Let's connect your amazon seller central account for using seller optics.</p>
              <hr />
            </div>
            <div class="paymentform">
              <form autocomplete="off" @submit.prevent="storeconnectivity" v-if="!success">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <label>Choose your marketplace.</label>
                    <div class="form-group">
                      <div id="country-select" class="custom-country-select" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu" value="" v-model="marketplace_id">
                          Select Country
                      </div>
                      <div class="collapse" id="collapseMenu">
                          <div id="dynamicCountry" class="card card-body countries-dropdown-container" data-toggle="collapse" href="#collapseMenu" >
                          </div>
                      </div>
                    </div>
                  </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <label>Sign in with your amazon seller’s account</label>
                      <p>
                        <a
                          target="_blank"
                          href="https://sellercentral.amazon.com/gp/mws/registration/register.html?developerName=SpReAdLoVe&devMWSAccountId=0780-6760-2844"
                        >Click here to open up your amazon mws authorization process in a pop up</a>
                      </p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <label>Provide Seller ID AND MWS Auth Token</label>
                      <p>Go through the authorization flow on the Amazon pop up grab your Seller ID and MWS Auth Token and then fill blow form with those values.</p>
                    </div>
                    <div class="wellcomeEmail">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <span class="fa user_ico"></span>
                        <input
                          type="text"
                          placeholder="Seller ID"
                          v-model="seller_id"
                          name="seller_id"
                          class="form-control"
                        />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <span class="fa token_coin_ico"></span>
                        <input
                          type="text"
                          placeholder="Authorization Token"
                          v-model="mwsauthtoken"
                          name="Authorization Token"
                          class="form-control"
                        />
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="loginbtn">
                          <button type="submit">Select Plan</button>
                        </div>
                      </div>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="steps">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <div class="step-block">1</div>
              <div class="step-seperator"></div>
              <div class="step-block">2</div>
              <div class="step-seperator"></div>
              <div class="step-block">3</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End: Wellcome Sec -->
  </div>
</template>


<script>
import LoggedInNav from "./Static/LoggedInHeader";
import axios from "axios";
export default {
  beforeCreate() {
    let app = this;
    if (!localStorage.getItem("token")) {
      app.$router.push("/login");
    }
  },

  components: {
    LoggedInNav
  },

  mounted() {
    let flagdropdown = document.createElement('script')
    flagdropdown.setAttribute('src', 'js/flags-dropdown.js')
    document.head.appendChild(flagdropdown)
  },

  data() {
    return {
      marketplace_id: "",
      seller_id: "",
      mwsauthtoken: "",
      error: false,
      success: false
    };
  },

  methods: {
    storeconnectivity() {
      let marketplace_id = 1;
      let app = this;
      axios.defaults.headers.common["Authorization"] =
        "Bearer " + localStorage.getItem("token");
      let selected_country = $("#country-select").attr("value");
      if (selected_country === "ca") {
        console.log(selected_country);
        marketplace_id = 1;
      } else if (selected_country === "us") {
        console.log(selected_country);
        marketplace_id = 2;
      }
      axios({
        data: {
          marketplace_id: marketplace_id,
          seller_id: app.seller_id,
          mwsauthtoken: app.mwsauthtoken
        },
        method: "post",
        url: axios.defaults.baseURL + "client/select/marketplace"
      })
        .then(function(data) {
          let selected_country = $("#country-select").attr("value");
          app.$router.push("/selectplan");
        })
        .catch(function(response) {
          app.$router.push("/login");
        });
    }
  }
};
</script>
