<template>
    <div id="Signup">

<LoggedOutNav></LoggedOutNav>

    <section class="wellcomeSec">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
            <div class="wellcomeBack">
              <h2>Create Account</h2>
              <p>Sign up right now and boost your sales with Seller Optics</p>
            </div>
            <form id="doSignUp" autocomplete="off" @submit.prevent="register" v-if="!success">
              <div class="wellcomeEmail">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="fa user_ico"></span>                                                
                  <input type="text" placeholder="User Name*" v-model="name" onkeypress="return /[A-Z a-z]/i.test(event.key)" id="usr_name" name="usr_name" class="form-control">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="fa breifcase_ico"></span>                                                
                  <input type="text" placeholder="Company Name " v-model="company_name" name="company_name" onkeypress="return /[A-Z a-z0-9]/i.test(event.key)" class="form-control">
                </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="fa mail_ico"></span>                                                
                  <input type="text" placeholder="Email" name="usr_email" v-model="email" class="form-control">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="fa phone_ico"></span>                                                
                  <input type="text" placeholder="Number*" name="usr_phone" onkeypress="return /[0-9]/i.test(event.key)" v-model="phone" class="form-control">
                </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="fa pwd_ico"></span>                                                
                  <input type="password" placeholder="Password*" name="usr_pwd" v-model="password" class="form-control">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="fa pwd_ico"></span>                                                
                  <input type="password" placeholder="Confirm Password*" name="cnfm_pwd" class="form-control">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                  <div class="check-box">
                       <div class="form-group">
                         <input type="checkbox" id="html">
                            <label for="html">I agree to Seller Optics <a href="#">Terms of Services</a></label>
                          </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="loginbtn">
                    <button type="submit" >SIGN UP</button>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="orSign">
                    <p>or</p>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="accountCreate">
                    <h4>Already have an account?<router-link to="/login"><a href=""> Sign in</a></router-link></h4>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

<SiteFooter></SiteFooter>

    </div>
</template>


<script>
    import LoggedOutNav from './Static/LoggedOutNav';
    import SiteFooter from './Static/SiteFooter';


    export default {
        components: {
            LoggedOutNav,
            SiteFooter
        },

        data(){
            return {
                name: '',
                email: '',
                password: '',
                company_name: '',
                phone: '',
                error: false,
                errors: {},
                success: false
            };
        },
        
        methods: {
            register(){
                var app = this;
                this.$auth.register({
                data: {
                    name: app.name,
                    email: app.email,
                    password: app.password,
                    company_name: app.company_name,
                    phone: app.phone,
                },

                success: function (data) {
                    if(data.status===201){
                        iziToast.show({
                            title: "Success",
                            message: data.data.message,
                            backgroundColor: '#2BCE1F',
                            color: '#FFFFFF',
                            progressBar: true,
                            icon: 'fa fa-check',
                            iconColor: '#FFFFFF',
                            position: 'topCenter',
                            titleColor: '#FFFFFF',
                            messageColor: '#FFFFFF',
                            showIco:true,
                        });
                        localStorage.setItem('token', data.data.token);
                        this.$router.push({name: 'thankyou', params: {successRegistrationRedirect: true}})
                    }
                    else if(data.status===400){
                        iziToast.show({
                            title: "Success",
                            message:  data.message,
                            backgroundColor: '#2BCE1F',
                            color: '#FFFFFF',
                            progressBar: true,
                            icon: 'fas fa-exclamation',
                            iconColor: '#FFFFFF',
                            position: 'topCenter',
                            titleColor: '#FFFFFF',
                            messageColor: '#FFFFFF',
                            showIco:true,
                        });
                    }
                    app.success = true;
                },

                error: function (resp) {
                    iziToast.show({
                        title: "Error",
                        message:  "Email Address Already Taken",
                        backgroundColor: '#f54242',
                        color: '#FFFFFF',
                        progressBar: true,
                        icon: 'fa fa-exclamation-circle',
                        iconColor: '#FFFFFF',
                        position: 'topCenter',
                        titleColor: '#FFFFFF',
                        messageColor: '#FFFFFF',
                        showIco:true,
                    });
                    app.error = true;
                    app.errors = resp.response.data.errors;
                },
                redirect: '/thankyou',
                });
            }
        }
    }
</script>
