<template>
<div>

<LoggedOutNav></LoggedOutNav>



    <div id="RstPwdForm" class='contentDiv'>
        <div class="contentDivChild">
            <div class="d-flex justify-content-center">
                <div class="page-text-top">
                    <p> Create New Password </p>
                    <p> Please enter your new password and we will update it for you. </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <form id="passwordReset" class="form-group col-md-4 col-sm-8" @submit.prevent="resetPassword" v-if="!success"> 
                    <div class="rstPwd-form-inner-div">
                    <div class="form-validation-message" style="display:none;">                                  
                    </div>                          
                    <div class="inner-addon left-addon"> 
                        <span class='fa pwd_ico'></span>
                        <input type="password" placeholder="Password" name="usr_pwd" class="form-control custom-login-input-field" />                                
                    </div>

                    <div class="custom-pad-div"></div>
                    <div class="inner-addon left-addon"> 
                        <span class='fa pwd_ico'></span>
                        <input type="password" placeholder="Confirm Password" name="cnfm_pwd" class="form-control custom-login-input-field" />                                
                    </div> 
                                        
                    <button type="submit" 
                        class="mui-btn mui-btn--raised custom-login-btn" 
                        style="width:100%;">
                            UPDATE PASSWORD
                    </button>
                    </div>                
                </form>                            
            </div>                        
        <div style="min-height:70px;"></div> 
    </div>                              
    </div>
<SiteFooter></SiteFooter>
</div>
</template>

<script>
    import LoggedOutNav from './Static/LoggedOutNav';
    import SiteFooter from './Static/SiteFooter';
    import axios from 'axios';

    export default {
        components: {
            LoggedOutNav,
            SiteFooter
        },

        data(){
            return {
                email: '',
                error: false,
                errors: {},
                success: false
            };
        },
        
        methods: {
            resetPassword(){
                var app = this;
                event.preventDefault();
                axios({
                    data: {
                            email: app.email
                            },
                    method: 'post',
                    url: axios.defaults.baseURL+'forgetpassword',
                    config: { headers: {'Content-Type': 'multipart/form-data' }}
                })
                .then(function (data) {
                    var url = window.location.pathname;
                    app.email = '';
                    app.$router.push('/login');
                })
                .catch(function (response) {
                    //handle error
                    iziToast.show({
                        title: "Error",
                        message:  "Invalid Credentials",
                        backgroundColor: '#f54242',
                        color: '#FFFFFF',
                        progressBar: true,
                        icon: 'fa fa-exclamation-circle',
                        iconColor: '#FFFFFF',
                        position: 'topCenter',
                        titleColor: '#FFFFFF',
                        messageColor: '#FFFFFF',
                        showIco:true,
                    });
                });
            }
        }
    }
</script>
