<style>
    .onoffswitch{position:relative;width:4.3em;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}.onoffswitch-checkbox{display:none}.onoffswitch-label{width:85%;height:1.2em;display:block;overflow:hidden;cursor:pointer;border:2px solid transparent;border-radius:20px}.onoffswitch-inner{display:block;width:200%;margin-left:-100%}.onoffswitch-inner:after,.onoffswitch-inner:before{display:block;float:left;width:50%;height:1.5em;padding:0;line-height:30px;font-size:14px;color:#fff;font-family:Trebuchet,Arial,sans-serif;font-weight:700;box-sizing:border-box}.onoffswitch-inner:before{content:"ON";background-color:#37ab56;color:transparent}.onoffswitch-inner:after{content:"OFF";background-color:#eee;color:transparent;text-align:right}.onoffswitch-switch{display:block;width:1.5em;height:1.5em;background:#b7c4ba;position:absolute;top:-2px;bottom:0;border:2px solid #b7c4ba;border-radius:20px;left:-5px}.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner{margin-left:0}.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch{left:40%}
</style>  
<template>
    <div id="Select_Plan">
    <LoggedInNav></LoggedInNav>
        <div class="subheader">
            <div class="pinkSubHeader"></div>
            <div class="mui-container-fluid" style="margin-top:-20px; text-align: center;">
                <div class="mui-row">
                    <div class="circular-label-seperator line-1 activated"></div>
                    <div class="circular-label-seperator line-2 activated"></div>
                    <div class="mui-col-xs-4 circular-number-parent-container">
                        <div class="circular-number-label tick-icon activated"> <span> ✓ </span></div>
                    </div>  
                    <div class="mui-col-xs-4 circular-number-parent-container">
                        <div class="circular-number-label tick-icon activated"> <span> ✓ </span> </div>
                    </div>  
                    <div class="mui-col-xs-4 circular-number-parent-container">
                        <div class="circular-number-label activated"> <span> 3 </span> </div>
                    </div>  
                </div>    
            </div>
            <div class="mui-container-fluid" style="margin-top:-20px; text-align: center; background-color: #FFFF;">
                <div class="mui-row circular-label-heading">                        
                    <div class="mui-col-xs-4 circular-number-parent-container">
                        <span class="activated"> Email Confirmed </span>
                    </div>  
                    <div class="mui-col-xs-4 circular-number-parent-container">
                        <span class="activated"> Connect Platform </span>
                    </div>  
                    <div class="mui-col-xs-4 circular-number-parent-container">
                        <span> Select Plan </span>
                    </div>  
                </div>    
            </div>
        </div>    

        <!---------------Main Content----------------!-->

        <div id="SelectPlan" class="contentDiv" style="height:calc(75vh - 70px); padding-top:80px; margin:0px;">
         
            <div class="contentDivChild">   
            <div class="container-fluid">  
                        <div class="row row-center-pad">
                            <div class='form-group col-sm-12'>                                            
                                <div class="page-text-top page-text-top-padding">
                                    <p> Select Plan </p>
                                    <p style="margin-bottom: 29px;"> 
                                        Please select your plan according to your needs
                                    </p>
                                </div>     
                            </div>  
                        </div>                                               
                    </div>  
                <div class="container-fluid">
                    <div class="row row-center-pad">
                        <div class="form-group col-sm-12">
                            <div style="display: flex">                               
                            <div class="horizontal-line-OR" style="width: 100%;"></div>                                                                                                                                               
                            </div>
                        </div>   
                    </div>                           
                </div>
                <div class="container-fluid">
                    <div class="row row-center-pad">
                        <div id="stepsCol2" class="col-sm-1">
                            <div class='steps'>
                                <div class="step-block">1</div>
                                <div class="step-seperator-long"></div>
                                <div class="step-block">2</div>                              
                            </div>    
                        </div>
                        <form id="plan" class="form-group form-group col-sm-9 col-sm-offset-1" @submit.prevent="getPackages" v-if="!success"> 
                            <div class="plan-form-inner-div">                                               
                                <div id="SelectPlanTable" class="table-responsive" selected="standard">          
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="basic"> 
                                                    <div class="ico_checked_circle" id="basic-checked"></div>
                                                            Basic
                                                </th>
                                                <th class="spaced"></th>
                                                <th class="standard">
                                                    <div class="check-mark-plan ico_checked_circle" id="standard-checked"></div>
                                                            STANDARD
                                                </th>                                         
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="price">
                                                <td>Pay Monthly</td>
                                                <td>$49.<sup>99</sup></td>
                                                <td></td> 
                                                <td>$64.<sup>99</sup></td>                                                  
                                            </tr>
                                            <tr class="price">
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-1">
                                                            <div>
                                                                Pay Yearly
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">    
                                                            <div id="get-two-month-free">
                                                                    Get two Month Free
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>        
                                                <td><div>$499</div><div class="save-price">SAVE $100.88</div></td>
                                                <td></td> 
                                                <td><div>$649</div><div class="save-price">SAVE $130.88</div></td>                                                  
                                            </tr>
                                            <tr>
                                                <td><span>14 Days</span><span id="FreeTrial"> Free Trial</span></td>
                                                <td><div class="tick-icon">✓</div></td>
                                                <td></td> 
                                                <td><div class="tick-icon">✓</div></td>                                                
                                            </tr>                                   
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class=" col-sm-7">
                                                            <div>Manage Rules</div>                                                                                                                                                       
                                                        </div>
                                                        <div class="col-sm-1">    
                                                            <div class="info ico_info" data-toggle="tooltip" data-placement="right" title="Create Roles and give limited access to your employees"></div>
                                                        </div>
                                                    </div>
                                                </td>   
                                                <td>-</td>
                                                <td></td> 
                                                <td><div class="tick-icon">✓</div></td>                                                
                                            </tr>   
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class=" col-sm-7">
                                                            <div style="min-width: 150px;">Connect Amazon Account</div>
                                                        </div>
                                                        <div class="col-sm-1">    
                                                            <div class="info ico_info" data-toggle="tooltip" data-placement="right" title="Lorem Ipsum dolor sit amet"></div>
                                                        </div>
                                                    </div>
                                                </td>                                                 
                                                <td>1</td>
                                                <td></td> 
                                                <td>1</td>                                                  
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class=" col-sm-7">
                                                            <div style="min-width: 150px;">Offline & live environment</div>                                                                                                                                                       
                                                        </div>
                                                        <div class="col-sm-1">    
                                                            <div class="info ico_info" data-toggle="tooltip" data-placement="right" title="Lorem Ipsum dolor sit amet"></div>
                                                        </div>
                                                    </div>
                                                </td>                                                      
                                                <td><div class="tick-icon">✓</div></td>
                                                <td></td> 
                                                <td><div class="tick-icon">✓</div></td>                                               
                                            </tr>   
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class=" col-sm-7">
                                                            <div>Listing</div>                                                                                                                                                       
                                                        </div>
                                                        <div class="col-sm-1">    
                                                            <div class="info ico_info" data-toggle="tooltip" data-placement="right" title="Lorem Ipsum dolor sit amet"></div>
                                                        </div>
                                                    </div>
                                                </td>   
                                                <td><div class="tick-icon">✓</div></td>
                                                <td></td> 
                                                <td><div class="tick-icon">✓</div></td>                                             
                                            </tr>       
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class=" col-sm-7">
                                                            <div style="min-width: 150px;">Cross Browser Compatibility</div>                                                                                                                                                       
                                                        </div>
                                                        <div class="col-sm-1">    
                                                            <div class="info ico_info" data-toggle="tooltip" data-placement="right" title="Lorem Ipsum dolor sit amet"></div>
                                                        </div>
                                                    </div>
                                                </td>   
                                                <td><div class="tick-icon">✓</div></td>
                                                <td></td> 
                                                <td><div class="tick-icon">✓</div></td>                                               
                                            </tr>   
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class=" col-sm-7">
                                                            <div>Customization</div>                                                                                                                                                       
                                                        </div>
                                                        <div class="col-sm-1">    
                                                            <div class="info ico_info" data-toggle="tooltip" data-placement="right" title="Lorem Ipsum dolor sit amet"></div>
                                                        </div>
                                                    </div>
                                                    </td>
                                                    <td><div class="tick-icon">✓</div></td>
                                                <td></td> 
                                                <td><div class="tick-icon">✓</div></td>                                                 
                                            </tr>   
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class=" col-sm-7">
                                                            <div>Regions</div>                                                                                                                                                       
                                                        </div>
                                                        <div class="col-sm-1">    
                                                            <div class="info ico_info" data-toggle="tooltip" data-placement="right" title="Lorem Ipsum dolor sit amet"></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><div class="tick-icon">✓</div></td>
                                                <td></td> 
                                                <td><div class="tick-icon">✓</div></td>                                              
                                            </tr>    
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class=" col-sm-7">
                                                            <div style="min-width: 150px;">Profit Calculator</div>                                                                                                                                                       
                                                        </div>
                                                        <div class="col-sm-1">    
                                                            <div class="info ico_info" data-toggle="tooltip" data-placement="right" title="Lorem Ipsum dolor sit amet"></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><div class="tick-icon">✓</div></td>
                                                <td></td> 
                                                <td><div class="tick-icon">✓</div></td>                                                 
                                            </tr>  
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class=" col-sm-7">
                                                            <div>Replenished</div>                                                                                                                                                       
                                                        </div>
                                                        <div class="col-sm-1">    
                                                            <div class="info ico_info" data-toggle="tooltip" data-placement="right" title="Lorem Ipsum dolor sit amet"></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><div class="tick-icon">✓</div></td>
                                                <td></td> 
                                                <td><div class="tick-icon">✓</div></td>                                                 
                                            </tr>   
                                            <tr>
                                                <td>
                                                    <div class="select-yearly-monthly">
                                                        <span> Pay Monthly</span>
                                                            <div class="onoffswitch">
                                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                                                <label class="onoffswitch-label" for="myonoffswitch">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        <span> Pay Yearly</span>
                                                    </div>
                                                        
                                                </td>
                                                <td class="selected-plan" id="SelectBasic"> <span style="color:#c5892f;">Select</span> </td>
                                                <td></td> 
                                                <td class="selected-plan" id="SelectStandard"> 
                                                        <div style="display:flex; color:#8ca6b4;">
                                                                <span>Selected</span> 
                                                                <img class="select-check" src="/utils/icons/circle_check_ico.svg" alt="✓">
                                                        </div>
                                                </td>                                                  
                                            </tr>               
                                        </tbody>
                                    </table>
                                </div> 
                                <div class="container-fluid">
                                    <div class="row Select-Plan-Table-Bottom-Description-Container" >                                                                        
                                        <p class="Select-Plan-Table-Bottom-Description"> 
                                                Have more than one 1 Amazon account?<br/>  
                                                No problem, We offer upto 30% discount on multiple
                                                Seller Optics accounts sign up! <a href='#'> Contact Us </a>
                                        </p>                                           
                                    </div>
                                </div>  
                                <div>                          
                                    <div id="Seperator-Sub-Form-Payment-Method" class="horizontal-line-OR"></div>                                                                                                                                                                                                                                                                                                                                                                                                                    
                                </div>    
                                <div class="container-fluid">                  
                                    <div class="row Select-Plan-Table-Bottom-Description-Container">                                                                        
                                            <div class="sub-page-payment-method page-text-top" style="margin-top:0px;">
                                                    <p> Payment Method </p>
                                                    <p style="margin-bottom: 29px;"> 
                                                        Don't Worry. We won't charge you right now
                                                    </p>
                                            </div>                                                                                        
                                    </div>   
                                    <div class="row Select-Plan-Table-Bottom-Description-Container" style="margin-top:0px;">                                                                        
                                            <div class="sub-page-payment-method page-text-top">
                                                    <div class="form-validation-message" style="display:none;">                                                                                          
                                                    </div>
                                            </div>                                        
                                    </div>   
                                </div> 
                                <div id="Payment-Method-Form-Fields" class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="inner-addon left-addon"> 
                                                            <span class='fa user_ico'></span>
                                                            <input type="text" placeholder="Card Holder Name" name="card_holder_name" class="form-control custom-login-input-field" />                                
                                                    </div>
                                                </div>  
                                                <div class="custom-pad-div"></div>  
                                                <div class="col-md-12">
                                                        <div class="inner-addon left-addon"> 
                                                                <span class='fa card_name_ico'></span>
                                                                <input type="text" placeholder="Card Number" name="card_number" class="form-control custom-login-input-field" />                                
                                                        </div>
                                                </div> 
                                                <div class="custom-pad-div"></div> 
                                                <div class="col-md-12">
                                                        <div class="inner-addon left-addon"> 
                                                                <span class='fa exp_date_ico'></span>
                                                                <input type="text" placeholder="Expire Date" name="expire_date" class="form-control custom-login-input-field" />                                
                                                        </div>
                                                </div>  
                                                <div class="custom-pad-div"></div>   
                                                <div class="col-md-6">
                                                        <div class="inner-addon left-addon"> 
                                                                <span class='fa cvc_ico'></span>
                                                                <input type="text" placeholder="CVC" name="cvc" class="form-control custom-login-input-field"/>                                
                                                        </div>
                                                </div>                                                
                                                <div class="col-sm-3">                                                                                                                         
                                                    <img id="cvc_ico_1" src="/utils/icons/cvc_1.svg"/>                                                            
                                                </div>    
                                                <div class="col-sm-3">                                                                                                                         
                                                        <img id="cvc_ico_2" src="/utils/icons/cvc_2.svg"/>                                                            
                                                </div> 
                                                <div class="col-md-12">
                                                    <div class="inner-addon left-addon"> 
                                                            <span class='fa street_ico'></span>
                                                            <input type="text" placeholder="Street Address" name="street_address" class="form-control custom-login-input-field" />                                
                                                    </div>
                                                </div> 
                                                <div class="custom-pad-div"></div> 
                                                <div class="custom-pad-div"></div>   
                                                <div class="col-md-6">
                                                        <div class="inner-addon left-addon"> 
                                                                <span class='fa city_ico'></span>
                                                                <input type="text" placeholder="City" name="city" class="form-control custom-login-input-field"/>                                
                                                        </div>
                                                </div>     
                                                <div class="custom-pad-div"></div>                                           
                                                <div class="col-sm-3">                                                                                                                         
                                                    <div class="inner-addon left-addon">                                                             
                                                        <input type="text" placeholder="Zip Code" name="zip_code" style="padding-left:7px; padding-right:0;" class="form-control custom-login-input-field" />                                
                                                    </div>   
                                                </div>    
                                                <div class="custom-pad-div"></div>
                                                <div class="col-sm-3">                                                                                                                         
                                                    <div class="inner-addon left-addon">                                                             
                                                        <input type="text" placeholder="State" name="state" style="padding-left:7px; padding-right:0;" class="form-control custom-login-input-field" />                                
                                                    </div>   
                                                </div>  
                                                <div class="col-md-12">
                                                    <button type="submit" style="width:100%;" class="mui-btn mui-btn--raised custom-login-btn"> Save Card </button>
                                                </div>   
                                                <div class="custom-pad-div"></div> 
                                                <div class="custom-pad-div"></div>                                              
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="col-md-6">
                                            <div class="row"> 
                                                <div class="offset-md-1 col-md-11"> 
                                                    <div class="custom-pad-div"></div>
                                                    <table class="table payment-method-promo">                                                                           
                                                        <tbody>
                                                            <tr>                                                                                                                                                                
                                                                <td align="center">
                                                                    <div class="check-icon-promo-detail ico_checked_circle"></div>                                                                                                                                                
                                                                </td>
                                                                <td>We will  charge you after <span>14 days</span></td>
                                                            </tr>
                                                            <tr>                                                                                                                                                                
                                                                <td align="center">
                                                                    <div class="check-icon-promo-detail ico_checked_circle"></div>                                                                                                                                                
                                                                </td>
                                                                <td>Cancel any time with <span>no fees</span></td>
                                                            </tr>
                                                            <tr>                                                                                                                                                                
                                                                <td align="center">
                                                                    <div class="check-icon-promo-detail ico_checked_circle"></div>                                                                                                                                                
                                                                </td>
                                                                <td><span>Secure</span> payment details</td>
                                                            </tr>
                                                            <tr>                                                                                                                                                                
                                                                <td align="center">
                                                                    <div class="check-icon-promo-detail ico_checked_circle"></div>                                                                                                                                                
                                                                </td>
                                                                <td>No hidden <span>fees</span></td>
                                                            </tr>
                                                            <tr>                                                                                                                                                                
                                                                <td align="center">
                                                                    <div class="check-icon-promo-detail ico_checked_circle"></div>                                                                                                                                                
                                                                </td>
                                                                <td><span>100% Money back </span>guarantee</td>
                                                            </tr>      
                                                            <tr>                                                                                                                                                                
                                                                <td align="center">
                                                                        <div class="check-icon-promo-detail ico_checked_circle"></div>                                                                                                                                                
                                                                </td>
                                                                <td>Cancel any time with <span>no fees</span></td>
                                                            </tr>                                                                                                                            
                                                        </tbody>
                                                    </table> 
                                                </div>                                                                                         
                                            </div>
                                        </div>   
                                </div>              
                            </div>                                                            
                        </form>              
                    </div>                   
                </div>
                <div style="min-height:90px;"></div>   
            </div>                  
        </div> 
    </div>
</template>

<script>
    import LoggedInNav from './Static/LoggedInHeader';
    import axios from 'axios';

    export default {

        data(){
            return {
                packages: '',
                basic: '',
                standard: '',
                error: false,
                success: false,
            }
        },

        beforeCreate() {
            let app=this;
            if(!localStorage.getItem('token')){
                app.$router.push('/login');
            }
        },

        components: {
            LoggedInNav
        },

        mounted() {
            let app = this;
            console.log(localStorage);
            // app.getPackages();
            // console.log(localStorage);
            $('#SelectBasic').on('click', function(){
                $('#SelectBasic').html(`<div style="display:flex; color:#8ca6b4;">
                                                        <span>Selected</span>  
                                                        <img class="select-check" src="/utils/icons/circle_check_ico.svg" alt="✓"></img>
                                                </div>`);
                $('#SelectStandard').html(`<span style="color:#c5892f;">Select</span>`);
                document.getElementById('SelectPlanTable').setAttribute("selected", "basic");
                $('.check-mark-plan').removeClass('check-mark-plan');
                $("#basic-checked").addClass('check-mark-plan');
            });

            $('#SelectStandard').on('click', function(){
                $('#SelectStandard').html(`<div style="display:flex; color:#8ca6b4;">
                                                        <span>Selected</span>  
                                                        <img class="select-check" src="/utils/icons/circle_check_ico.svg" alt="✓"></img>
                                                </div>`);
                $('#SelectBasic').html(`<span style="color:#c5892f;">Select</span>`);
                document.getElementById('SelectPlanTable').setAttribute("selected", "standard");
                $('.check-mark-plan').removeClass('check-mark-plan');
                $("#standard-checked").addClass('check-mark-plan');
            });
        },

        methods: {
            getPackages(){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                // event.preventDefault();
                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'client/set/packages/'+localStorage.getItem('id'),
                    headers: headers
                }).then(function (response) {
                    app.$router.push('/dashboard');
                    }).catch(function(error){
                        console.log(error);
                    })
            },
        }

    }

</script>
