<template>
    <div id="ThankYou">

    <LoggedOutNav></LoggedOutNav>

    <!-- Begins: Wellcome Sec -->
    <section class="thankyouSec">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="wellcomeBack">
              <i class="thank-you-logo"></i>
              <h2>Thank You for signing up!</h2>
              <p>You're now part of seller optics community. Please check your inbox and confirm your email.</p>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="accountCreate">
              <h4>Haven't recieved email? <a href="#" v-on:click="resend" id="resendemail">Resend</a></h4>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="notethanku">
              <p>* Please check your spam or junkbox.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End: Wellcome Sec -->
    </div>
</template>

<script>

    import LoggedOutNav from './Static/LoggedOutNav';
    import SiteFooter from './Static/SiteFooter';
    import axios from 'axios';
    export default {
        components: {
            LoggedOutNav,
            SiteFooter
        },

        methods: {
            resend() {
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                console.log(localStorage.getItem('token'));
                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'sendwelcomemail',
                    headers: headers
                })
                .then(function () {
                    $("#resendemail").removeAttr("href");
                    setTimeout(function() {
                    $('#resendemail').attr('href', '#');
                    }, 60000);
                    console.log('data');
                })
                .catch(function (response) {
                    //handle error
                    iziToast.show({
                        title: "Error",
                        message:  "Invalid Credentials",
                        backgroundColor: '#f54242',
                        color: '#FFFFFF',
                        progressBar: true,
                        icon: 'fa fa-exclamation-circle',
                        iconColor: '#FFFFFF',
                        position: 'topCenter',
                        titleColor: '#FFFFFF',
                        messageColor: '#FFFFFF',
                        showIco:true,
                    });
                });
            }
        }
    }

</script>
